Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

remove redundant state fields
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

add RenderComponentWithContext
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component-with-context.lite.tsx
Owners: @BuilderIO/sdks

Android SDK cleanup (#1275)
  packages/android/sdk/app/build.gradle
  packages/android/sdk/app/google-services.json
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderBlock.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
Owners: @BuilderIO/packages

fix context drilling and setting
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component-with-context.lite.tsx
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

Switch over from globalThis to checking on require directly
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

add vue3 workaround
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

remove eslint disable
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/components/render-inlined-styles.lite.tsx
Owners: @BuilderIO/sdks

sshhh typescript
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

release dev
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

release rn-sdk
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

Release/sdks (#1277)
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

feat: resolved review comments
  plugins/kibo-commerce/src/plugin.jsx
  plugins/kibo-commerce/utils/kibocommerce.js
Owners: @BuilderIO/plugins

Fix bug where SSR was not working for data binding (#1276)
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

feat: resolved product search issue
  plugins/kibo-commerce/src/plugin.jsx
  plugins/kibo-commerce/utils/kibocommerce.js
Owners: @BuilderIO/plugins

Add context in SSR flow
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

Add context in SSR flow (#1289)
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

feat: resolved review comments
  plugins/kibo-commerce/src/plugin.jsx
  plugins/kibo-commerce/utils/kibocommerce.js
Owners: @BuilderIO/plugins

[plugins/smartling] fix exceeding rate limit from smartling when adding locales
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

release
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

feat(typescript): convert kibo plugin to typescript
  plugins/kibo-commerce/package-lock.json
  plugins/kibo-commerce/package.json
  plugins/kibo-commerce/rollup.config.ts
  plugins/kibo-commerce/src/plugin.ts
  plugins/kibo-commerce/tsconfig.json
  plugins/kibo-commerce/tslint.json
  plugins/kibo-commerce/utils/kibo-client.ts
Owners: @BuilderIO/plugins

[plugins/smartling] fix exceeding rate limit from smartling when addi… (#1292)
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

Fix to allow SSR to work while allowing making sure require is not overoptimized out in the case of frontend compiled
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

Fix prettier
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

upgrade to latest solidjs version
  packages/sdks/e2e/solidjs/package.json
  packages/sdks/output/solid/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

un-indent script
  packages/sdks/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

SDKs: upgrade SolidJS version (#1295)
  packages/sdks/e2e/solidjs/package.json
  packages/sdks/output/solid/package.json
  packages/sdks/src/scripts/init-editing.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

refactor try/catch
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

improve error message
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

clarify instructions
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

fix punctuation
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

fix bad rebase
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

avoid builder-inline-styles hydration error
  packages/react/src/components/builder-block.component.tsx
Owners: @BuilderIO/sdks

add back context
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

add type param to stringToFunction for more accurate errors
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

Fix to allow SSR to work while allowing making sure require is not overoptimized out in the case of frontend compiled
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

add context to SSR flow
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

ensure builder-inline-styles logic for SSR only applies during editing
  packages/react/src/components/builder-block.component.tsx
Owners: @BuilderIO/sdks

Bump react SDK and changelog for 2.0.8
  packages/react/CHANGELOG.md
  packages/react/package.json
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
