Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

fix tsc generation of tests specs
  packages/sdks/e2e/nextjs-react/pages/[[...index]].tsx
  packages/sdks/e2e/nextjs-react/playwright.config.ts
  packages/sdks/e2e/qwik/playwright.config.ts
  packages/sdks/e2e/qwik/src/main.tsx
  packages/sdks/e2e/react-native/playwright.config.ts
  packages/sdks/e2e/react/package.json
  packages/sdks/e2e/react/playwright.config.ts
  packages/sdks/e2e/react/src/App.tsx
  packages/sdks/e2e/solidjs/playwright.config.ts
  packages/sdks/e2e/solidjs/src/App.tsx
  packages/sdks/e2e/svelte/playwright.config.ts
  packages/sdks/e2e/svelte/src/App.svelte
  packages/sdks/e2e/tests/package.json
  packages/sdks/e2e/tests/src/index.ts
  packages/sdks/e2e/tests/src/shared.config.ts
  packages/sdks/e2e/tests/src/specs/columns.ts
  packages/sdks/e2e/tests/src/specs/data-bindings.ts
  packages/sdks/e2e/tests/src/specs/homepage.ts
  packages/sdks/e2e/tests/src/specs/index.ts
  packages/sdks/e2e/tests/src/specs/symbols.ts
  packages/sdks/e2e/tests/src/tests/context.ts
  packages/sdks/e2e/tests/src/tests/main.spec.ts
  packages/sdks/e2e/tests/tsconfig.build.json
  packages/sdks/e2e/tests/tsconfig.json
  packages/sdks/e2e/vue-2/playwright.config.ts
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-3/playwright.config.ts
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/sdks

fix e2e tests
  packages/sdks/e2e/nextjs-react/playwright.config.ts
  packages/sdks/e2e/qwik/playwright.config.ts
  packages/sdks/e2e/react-native/babel.config.cjs
  packages/sdks/e2e/react-native/package.json
  packages/sdks/e2e/react-native/playwright.config.ts
  packages/sdks/e2e/react/playwright.config.ts
  packages/sdks/e2e/solidjs/playwright.config.ts
  packages/sdks/e2e/svelte/playwright.config.ts
  packages/sdks/e2e/tests/package.json
  packages/sdks/e2e/tests/shared.config.js
  packages/sdks/e2e/tests/src/index.ts
  packages/sdks/e2e/tests/src/tests/main.spec.ts
  packages/sdks/e2e/tests/tsconfig.json
  packages/sdks/e2e/vue-2/playwright.config.ts
  packages/sdks/e2e/vue-3/playwright.config.ts
Owners: @BuilderIO/sdks

prettier
  packages/sdks/.prettierignore
  packages/sdks/e2e/tests/tsconfig.build.json
  packages/sdks/e2e/tests/tsconfig.json
Owners: @BuilderIO/sdks

SDKs: react native e2e tests (#1304)
  packages/sdks/.eslintrc.js
  packages/sdks/.prettierignore
  packages/sdks/e2e/nextjs-react/pages/[[...index]].tsx
  packages/sdks/e2e/qwik/src/main.tsx
  packages/sdks/e2e/react-native/.expo-shared/assets.json
  packages/sdks/e2e/react-native/.gitignore
  packages/sdks/e2e/react-native/App.jsx
  packages/sdks/e2e/react-native/app.json
  packages/sdks/e2e/react-native/assets/adaptive-icon.png
  packages/sdks/e2e/react-native/assets/favicon.png
  packages/sdks/e2e/react-native/assets/icon.png
  packages/sdks/e2e/react-native/assets/splash.png
  packages/sdks/e2e/react-native/babel.config.cjs
  packages/sdks/e2e/react-native/package.json
  packages/sdks/e2e/react-native/playwright.config.ts
  packages/sdks/e2e/react-native/tsconfig.json
  packages/sdks/e2e/react/package.json
  packages/sdks/e2e/react/src/App.tsx
  packages/sdks/e2e/solidjs/src/App.tsx
  packages/sdks/e2e/svelte/src/App.svelte
  packages/sdks/e2e/tests/package.json
  packages/sdks/e2e/tests/shared.config.js
  packages/sdks/e2e/tests/src/index.ts
  packages/sdks/e2e/tests/src/specs/columns.ts
  packages/sdks/e2e/tests/src/specs/data-bindings.ts
  packages/sdks/e2e/tests/src/specs/homepage.ts
  packages/sdks/e2e/tests/src/specs/index.ts
  packages/sdks/e2e/tests/src/specs/symbols.ts
  packages/sdks/e2e/tests/src/tests/context.ts
  packages/sdks/e2e/tests/src/tests/main.spec.ts
  packages/sdks/e2e/tests/tsconfig.build.json
  packages/sdks/e2e/tests/tsconfig.json
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/output/react-native/package.json
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

add external track export
  packages/sdks/src/functions/track.ts
  packages/sdks/src/index.ts
Owners: @BuilderIO/sdks

update commerce plugin tools version
  plugins/bigcommerce/package-lock.json
  plugins/bigcommerce/package.json
Owners: @BuilderIO/cms-plugins

unfinished test, does not work
  packages/utils/src/get-all-content-with-refs.test.ts
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

Release new SDK for react to fix bug on client side (#1299)
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

RSC SDK beta (WIP)
  packages/sdks/mitosis.config.js
  packages/sdks/output/react/package.json
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.client.tsx
  packages/sdks/overrides/rsc/src/components/render-content/render-server-content.tsx
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.client.tsx
  packages/sdks/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

fxi
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.client.tsx
Owners: @BuilderIO/sdks

improvements
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.client.tsx
Owners: @BuilderIO/sdks

progress
  packages/sdks/e2e/rsc/src/components/builder/builder-editing.client.jsx
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.client.tsx
  packages/sdks/overrides/rsc/src/index-helpers/top-of-file.ts
Owners: @BuilderIO/sdks

cleanup
  packages/swift/src/Podfile
  packages/swift/src/Podfile.lock
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/Shared/testingApp.swift
  packages/swift/src/iOS/GoogleService-Info.plist
  packages/swift/src/testing.xcodeproj/project.pbxproj
Owners: @BuilderIO/packages

README
  packages/swift/README.md
  packages/swift/src/Shared/ContentView.swift
Owners: @BuilderIO/packages

fixy fixy
  packages/swift/README.md
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/testing.xcodeproj/project.pbxproj
Owners: @BuilderIO/packages

fixes
  packages/sdks/e2e/rsc/package.json
  packages/sdks/output/react/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

Swift SDK cleanup (#1310)
  packages/swift/README.md
  packages/swift/src/Podfile
  packages/swift/src/Podfile.lock
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/Shared/testingApp.swift
  packages/swift/src/iOS/GoogleService-Info.plist
  packages/swift/src/testing.xcodeproj/project.pbxproj
Owners: @BuilderIO/packages

progress
  packages/sdks/e2e/rsc/hydrogen.config.ts
  packages/sdks/e2e/rsc/package.json
  packages/sdks/e2e/rsc/src/components/builder/builder-editing.client.jsx
  packages/sdks/e2e/rsc/src/routes/api/builderData.server.ts
  packages/sdks/e2e/rsc/src/routes/builder-demo.server.tsx
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.client.tsx
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

basics working
  packages/sdks/e2e/rsc/package.json
  packages/sdks/e2e/rsc/src/components/builder-components.server.tsx
  packages/sdks/e2e/rsc/src/components/builder/builder-editing.client.jsx
  packages/sdks/e2e/rsc/src/components/builder/builder-editing.client.tsx
  packages/sdks/e2e/rsc/src/routes/builder-demo.server.tsx
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.js
  packages/sdks/overrides/rsc/src/functions/evaluate.ts
  packages/sdks/overrides/rsc/src/index-helpers/top-of-file.ts
  packages/sdks/package.json
  packages/sdks/src/components/render-content/builder-editing.lite.tsx
  packages/sdks/src/index.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

WORKING!
  packages/sdks/e2e/rsc/src/components/builder/builder-editing.client.tsx
  packages/sdks/e2e/rsc/src/routes/api/builderData.server.ts
  packages/sdks/e2e/rsc/src/routes/builder-demo.server.tsx
  packages/sdks/overrides/react/src/contants/target.ts
  packages/sdks/overrides/rsc/src/constants/target.ts
Owners: @BuilderIO/sdks

fixes
  packages/sdks/e2e/rsc/src/routes/builder-demo.server.tsx
  packages/sdks/overrides/vue/vue2/src/functions/get-block-styles.ts
  packages/sdks/overrides/vue/vue3/src/functions/get-block-styles.ts
  packages/sdks/src/constants/target.ts
  packages/sdks/src/functions/get-block-styles.ts
Owners: @BuilderIO/sdks

WORKS
  packages/sdks/e2e/rsc/src/components/builder-components.server.tsx
  packages/sdks/e2e/rsc/src/components/builder/builder-editing.client.tsx
  packages/sdks/e2e/rsc/src/routes/builder-demo.server.tsx
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.js
  packages/sdks/package.json
  packages/sdks/src/blocks/columns/component-info.ts
  packages/sdks/src/blocks/embed/component-info.ts
  packages/sdks/src/blocks/image/component-info.ts
  packages/sdks/src/blocks/util.ts
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-inlined-styles.lite.tsx
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/get-content/types.ts
  packages/sdks/src/index.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixes
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.js
Owners: @BuilderIO/sdks

[packages/react] fix hydrogen error
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

Add SDK sizes and notes on perf to README
  README.md
Owners: @BuilderIO/core-team

Update README.md
  README.md
Owners: @BuilderIO/core-team

fix props spread for svelte
  packages/sdks/src/components/render-block/render-component-with-context.lite.tsx
Owners: @BuilderIO/sdks

fix(sdks): all e2e tests projects as ESM
  packages/sdks/e2e/nextjs-react/package.json
  packages/sdks/e2e/qwik/package.json
  packages/sdks/e2e/solidjs/package.json
  packages/sdks/e2e/svelte/package.json
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/e2e/vue-3/package.json
Owners: @BuilderIO/sdks

rename nextjs-react config file to .cjs
  packages/sdks/e2e/nextjs-react/next.config.cjs
Owners: @BuilderIO/sdks

add missing ts declarations
  packages/sdks/e2e/tests/tsconfig.build.json
Owners: @BuilderIO/sdks

add missing dep
  packages/sdks/e2e/react/package.json
Owners: @BuilderIO/sdks

re-order build cmds, include nextjs e2e test
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

prettier
  packages/sdks/e2e/tests/tsconfig.build.json
Owners: @BuilderIO/sdks

fix shared-config build
  packages/sdks/e2e/tests/package.json
  packages/sdks/e2e/tests/playwright.config.ts
  packages/sdks/e2e/tests/shared.config.js
  packages/sdks/e2e/tests/tsconfig.build.json
  packages/sdks/e2e/tests/tsconfig.json
Owners: @BuilderIO/sdks

Fix: SDKs e2e tests (#1313)
  packages/sdks/e2e/nextjs-react/next.config.cjs
  packages/sdks/e2e/nextjs-react/package.json
  packages/sdks/e2e/qwik/package.json
  packages/sdks/e2e/react/package.json
  packages/sdks/e2e/solidjs/package.json
  packages/sdks/e2e/svelte/package.json
  packages/sdks/e2e/tests/package.json
  packages/sdks/e2e/tests/playwright.config.ts
  packages/sdks/e2e/tests/shared.config.js
  packages/sdks/e2e/tests/tsconfig.build.json
  packages/sdks/e2e/tests/tsconfig.json
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/e2e/vue-3/package.json
  packages/sdks/package.json
  packages/sdks/src/components/render-block/render-component-with-context.lite.tsx
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

remove extraneous styles for non-react-native SDKs
  packages/sdks/overrides/solid/src/functions/convert-style-object.ts
  packages/sdks/overrides/vue/vue2/src/functions/get-block-styles.ts
  packages/sdks/overrides/vue/vue3/src/functions/get-block-styles.ts
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/functions/convert-style-object.ts
  packages/sdks/src/functions/get-block-styles.ts
  packages/sdks/src/functions/get-react-native-block-styles.ts
  packages/sdks/src/functions/sanitize-react-native-block-styles.ts
  packages/sdks/src/functions/sanitize-styles.ts
Owners: @BuilderIO/sdks

remove inaccurate comment
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

remove extra word
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

Update packages/react/src/functions/safe-dynamic-require.ts
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
