Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

lint
  packages/sdks/e2e/tests/playwright.config.ts
  packages/sdks/e2e/tests/shared.config.ts
Owners: @BuilderIO/sdks

remove report
  packages/sdks/e2e/svelte/playwright-report/index.html
Owners: @BuilderIO/sdks

lint
  packages/sdks/.yarnrc.yml
  packages/sdks/e2e/svelte/tsconfig.json
  packages/sdks/e2e/tests/tsconfig.json
  packages/sdks/e2e/vue-2/tsconfig.json
Owners: @BuilderIO/sdks

[plugins/sfcc-sync] don't update preview url when its overridden by a q… (#1160)
  plugins/sfcc-sync/CHANGELOG.md
  plugins/sfcc-sync/package-lock.json
  plugins/sfcc-sync/package.json
  plugins/sfcc-sync/src/on-editor-load.ts
Owners: @BuilderIO/e-commerce-plugins

[@builder.io/widgets] Lazy loading doc update
  packages/widgets/README.md
Owners: @BuilderIO/packages

Update README.md
  packages/widgets/README.md
Owners: @BuilderIO/packages

Update README.md
  packages/widgets/README.md
Owners: @BuilderIO/packages

fix link
  packages/widgets/README.md
Owners: @BuilderIO/packages

[@builder.io/widgets] Lazy loading doc update (#1165)
  packages/widgets/README.md
Owners: @BuilderIO/packages

improve withBuilder HOC types
  packages/react/src/decorators/builder-block.decorator.ts
  packages/react/src/functions/with-builder.ts
Owners: @BuilderIO/sdks

adding docs to readme
  examples/next-js-cms-blog/README.md
Owners: @BuilderIO/core-team

lint fix
  examples/next-js-cms-blog/components/avatar.js
  examples/next-js-cms-blog/components/builder-image.js
  examples/next-js-cms-blog/components/container.js
  examples/next-js-cms-blog/components/cover-image.js
  examples/next-js-cms-blog/components/footer.js
  examples/next-js-cms-blog/components/header.js
  examples/next-js-cms-blog/components/intro.js
  examples/next-js-cms-blog/components/layout.js
  examples/next-js-cms-blog/components/meta.js
  examples/next-js-cms-blog/components/post-body.js
  examples/next-js-cms-blog/components/post-header.js
  examples/next-js-cms-blog/components/post-title.js
  examples/next-js-cms-blog/components/section-separator.js
  examples/next-js-cms-blog/lib/api.js
  examples/next-js-cms-blog/lib/constants.js
  examples/next-js-cms-blog/next.config.js
  examples/next-js-cms-blog/pages/[[...page]].jsx
  examples/next-js-cms-blog/pages/_app.js
  examples/next-js-cms-blog/pages/blog/[handle].js
  examples/next-js-cms-blog/postcss.config.js
  examples/next-js-cms-blog/tailwind.config.js
Owners: @BuilderIO/core-team

deploy vercel fix
  examples/next-js-cms-blog/.env.development
  examples/next-js-cms-blog/.env.production
  examples/next-js-cms-blog/README.md
Owners: @BuilderIO/core-team

fix vercel deploy
  examples/next-js-cms-blog/README.md
Owners: @BuilderIO/core-team

fix pr
  examples/next-js-cms-blog/README.md
  examples/next-js-cms-blog/components/footer.js
  examples/next-js-cms-blog/components/intro.js
  examples/next-js-cms-blog/components/meta.js
  examples/next-js-cms-blog/components/post-body.js
  examples/next-js-cms-blog/components/section-separator.js
  examples/next-js-cms-blog/jsconfig.json
  examples/next-js-cms-blog/lib/api.js
  examples/next-js-cms-blog/lib/constants.js
  examples/next-js-cms-blog/package.json
  examples/next-js-cms-blog/pages/[[...page]].jsx
  examples/next-js-cms-blog/pages/blog/[slug].js
  examples/next-js-cms-blog/yarn.lock
Owners: @BuilderIO/core-team

pr fixes lint
  examples/next-js-cms-blog/components/intro.js
  examples/next-js-cms-blog/components/meta.js
  examples/next-js-cms-blog/components/post-body.js
  examples/next-js-cms-blog/pages/blog/[slug].js
Owners: @BuilderIO/core-team

fix builder file page
  examples/next-js-cms-blog/builder/author/joe-public.json
  examples/next-js-cms-blog/builder/author/johnny-doe.json
  examples/next-js-cms-blog/builder/author/schema.model.json
  examples/next-js-cms-blog/builder/page/home-2.json
  examples/next-js-cms-blog/builder/page/schema.model.json
  examples/next-js-cms-blog/builder/post/first-one.json
  examples/next-js-cms-blog/builder/post/schema.model.json
  examples/next-js-cms-blog/builder/post/second.json
  examples/next-js-cms-blog/builder/post/third-post.json
  examples/next-js-cms-blog/builder/settings.json
Owners: @BuilderIO/core-team

[next-js-cms-blog] fix editing and update clone, render index in code
  examples/next-js-cms-blog/.env
  examples/next-js-cms-blog/.env.development
  examples/next-js-cms-blog/.env.production
  examples/next-js-cms-blog/README.md
  examples/next-js-cms-blog/builder/author/joe-public.json
  examples/next-js-cms-blog/builder/author/johnny-doe.json
  examples/next-js-cms-blog/builder/author/schema.model.json
  examples/next-js-cms-blog/builder/page/home-2.json
  examples/next-js-cms-blog/builder/page/schema.model.json
  examples/next-js-cms-blog/builder/post/first-one.json
  examples/next-js-cms-blog/builder/post/schema.model.json
  examples/next-js-cms-blog/builder/post/second.json
  examples/next-js-cms-blog/builder/post/third-post.json
  examples/next-js-cms-blog/builder/settings.json
  examples/next-js-cms-blog/components/cover-image.js
  examples/next-js-cms-blog/components/post-body.js
  examples/next-js-cms-blog/components/post-card.js
  examples/next-js-cms-blog/components/post-header.js
  examples/next-js-cms-blog/pages/[[...page]].jsx
  examples/next-js-cms-blog/pages/_app.js
  examples/next-js-cms-blog/pages/blog/[slug].js
  examples/next-js-cms-blog/pages/index.js
Owners: @BuilderIO/core-team

fix comments and link from hero
  examples/next-js-cms-blog/pages/blog/[slug].js
  examples/next-js-cms-blog/pages/index.js
Owners: @BuilderIO/core-team

add to list of next resources
  examples/next-js/Readme.md
Owners: @BuilderIO/core-team

add link to deployed demo
  examples/next-js-cms-blog/README.md
Owners: @BuilderIO/core-team

simplify home
  examples/next-js-cms-blog/pages/index.js
Owners: @BuilderIO/core-team

[next-js-cms-blog] fix editing and update clone, render index in code (#1170)
  examples/next-js-cms-blog/.env
  examples/next-js-cms-blog/.env.development
  examples/next-js-cms-blog/.env.production
  examples/next-js-cms-blog/README.md
  examples/next-js-cms-blog/builder/author/joe-public.json
  examples/next-js-cms-blog/builder/author/johnny-doe.json
  examples/next-js-cms-blog/builder/author/schema.model.json
  examples/next-js-cms-blog/builder/page/home-2.json
  examples/next-js-cms-blog/builder/page/schema.model.json
  examples/next-js-cms-blog/builder/post/first-one.json
  examples/next-js-cms-blog/builder/post/schema.model.json
  examples/next-js-cms-blog/builder/post/second.json
  examples/next-js-cms-blog/builder/post/third-post.json
  examples/next-js-cms-blog/builder/settings.json
  examples/next-js-cms-blog/components/cover-image.js
  examples/next-js-cms-blog/components/post-body.js
  examples/next-js-cms-blog/components/post-card.js
  examples/next-js-cms-blog/components/post-header.js
  examples/next-js-cms-blog/pages/[[...page]].jsx
  examples/next-js-cms-blog/pages/_app.js
  examples/next-js-cms-blog/pages/blog/[slug].js
  examples/next-js-cms-blog/pages/index.js
  examples/next-js/Readme.md
Owners: @BuilderIO/core-team

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

fix script
  scripts/update-npm-dependency.mjs
Owners: @BuilderIO/core-team

improve dependency updater
  scripts/update-npm-dependency.mjs
Owners: @BuilderIO/core-team

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/.yarn/releases/yarn-3.2.0.cjs
  examples/react-native/.yarn/releases/yarn-3.2.2.cjs
  examples/react-native/.yarnrc.yml
  examples/react-native/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

do not pass false attributes
  packages/sdks/src/blocks/video/video.lite.tsx
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

add canTrack prop to disable tracking
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

feat: 🎸 Initial Qwik SDK
  packages/sdks/mitosis.config.js
  packages/sdks/output/qwik/DEVELOPER.md
  packages/sdks/output/qwik/README.md
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/tsconfig.json
  packages/sdks/output/qwik/types.d.ts
  packages/sdks/package.json
  packages/sdks/src/blocks/columns/component-info.ts
  packages/sdks/src/blocks/embed/component-info.ts
  packages/sdks/src/blocks/form/builder-blocks.lite.tsx
  packages/sdks/src/blocks/form/form.lite.tsx
  packages/sdks/src/blocks/image/component-info.ts
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/functions/get-fetch.ts
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/src/blocks/columns/component-info.ts
  packages/sdks/src/blocks/embed/component-info.ts
  packages/sdks/src/blocks/image/component-info.ts
  packages/sdks/src/blocks/util.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

[plugins/salesforce-commerce-api] Add einstein recommender types
  plugins/salesforce-commerce-api-plugin/package-lock.json
  plugins/salesforce-commerce-api-plugin/package.json
  plugins/salesforce-commerce-api-plugin/src/api.ts
  plugins/salesforce-commerce-api-plugin/src/plugin.ts
Owners: @BuilderIO/plugins

[plugins/salesforce-commerce-api] Add einstein recommender types (#1177)
  plugins/salesforce-commerce-api-plugin/package-lock.json
  plugins/salesforce-commerce-api-plugin/package.json
  plugins/salesforce-commerce-api-plugin/src/api.ts
  plugins/salesforce-commerce-api-plugin/src/plugin.ts
Owners: @BuilderIO/plugins

Update README.md
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

match breakpoints to official breakpoints
  examples/react-design-system/src/pages/HomepageFullHeadless.jsx
  packages/email/src/components/Block.tsx
  packages/email/src/components/Columns.tsx
  packages/react/src/blocks/Columns.tsx
  packages/react/src/blocks/Image.tsx
  packages/react/test/__snapshots__/image.test.tsx.snap
  packages/sdks/src/blocks/columns/columns.lite.tsx
Owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/sdks

fix: match breakpoints to official breakpoints (#1182)
  examples/react-design-system/src/pages/HomepageFullHeadless.jsx
  packages/email/src/components/Block.tsx
  packages/email/src/components/Columns.tsx
  packages/react/src/blocks/Columns.tsx
  packages/react/src/blocks/Image.tsx
  packages/react/test/__snapshots__/image.test.tsx.snap
  packages/sdks/src/blocks/columns/columns.lite.tsx
Owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
