Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

workaround vue limitation
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

simplify condition
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

workaround vue-2 v-for v-if issue
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/types.ts
Owners: @BuilderIO/sdks

remove more options params
  examples/svelte/sveltekit/src/lib/DynamicallyRenderBuilderPage.svelte
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-storefront-2/components/Builder/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/core-team

remove unused imports
  examples/vue/vue-3/src/components/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/core-team

remove isPreviewing() in rn example
  examples/react-native/App.tsx
Owners: @BuilderIO/core-team

remove import
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

improve examples
  examples/react-native/App.tsx
  examples/svelte/sveltekit/src/lib/DynamicallyRenderBuilderPage.svelte
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-2/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-3/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-storefront-2/components/Builder/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/core-team

fix isBrowser check
  packages/sdks/src/functions/get-builder-search-params/index.ts
Owners: @BuilderIO/sdks

remove unused css
  examples/svelte/sveltekit/src/routes/[...catch_all].svelte
Owners: @BuilderIO/core-team

get rid of sveltekit, use vite directly
  examples/svelte/svelte-vite/.eslintrc.cjs
  examples/svelte/svelte-vite/.gitignore
  examples/svelte/svelte-vite/.npmrc
  examples/svelte/svelte-vite/.prettierrc
  examples/svelte/svelte-vite/README.md
  examples/svelte/svelte-vite/index.html
  examples/svelte/svelte-vite/package.json
  examples/svelte/svelte-vite/scripts/add-resolutions.sh
  examples/svelte/svelte-vite/scripts/remove-resolutions.sh
  examples/svelte/svelte-vite/src/App.svelte
  examples/svelte/svelte-vite/src/lib/Counter.svelte
  examples/svelte/svelte-vite/src/main.ts
  examples/svelte/svelte-vite/tsconfig.json
  examples/svelte/svelte-vite/vite.config.ts
  examples/svelte/svelte-vite/yarn.lock
  examples/svelte/sveltekit/src/app.css
  examples/svelte/sveltekit/src/app.html
  examples/svelte/sveltekit/src/lib/DynamicallyRenderBuilderPage.svelte
  examples/svelte/sveltekit/src/routes/[...catch_all].svelte
  examples/svelte/sveltekit/src/routes/__layout.svelte
  examples/svelte/sveltekit/static/favicon.png
  examples/svelte/sveltekit/static/robots.txt
  examples/svelte/sveltekit/static/svelte-welcome.png
  examples/svelte/sveltekit/svelte.config.js
  examples/svelte/sveltekit/tsconfig.json
Owners: @BuilderIO/core-team

remove local dep
  examples/svelte/svelte-vite/package.json
  examples/svelte/svelte-vite/yarn.lock
Owners: @BuilderIO/core-team

document
  examples/svelte/svelte-vite/src/App.svelte
Owners: @BuilderIO/core-team

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

use npm, not yarn
  examples/svelte/svelte-vite/README.md
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/svelte-vite/scripts/add-resolutions.sh
  examples/svelte/svelte-vite/scripts/remove-resolutions.sh
  examples/svelte/svelte-vite/yarn.lock
Owners: @BuilderIO/core-team

Update CONTRIBUTING.md
  examples/CONTRIBUTING.md
Owners: @BuilderIO/core-team

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

Add Salesforce Commerce API plugin (#1134)
  packages/commerce-plugin-tools/src/editors/ResourcesPicker.tsx
  packages/commerce-plugin-tools/src/index.tsx
  plugins/salesforce-commerce-api-plugin/.gitignore
  plugins/salesforce-commerce-api-plugin/.travis.yml
  plugins/salesforce-commerce-api-plugin/CONTRIBUTING.md
  plugins/salesforce-commerce-api-plugin/LICENSE
  plugins/salesforce-commerce-api-plugin/README.md
  plugins/salesforce-commerce-api-plugin/package-lock.json
  plugins/salesforce-commerce-api-plugin/package.json
  plugins/salesforce-commerce-api-plugin/rollup.config.ts
  plugins/salesforce-commerce-api-plugin/src/api.ts
  plugins/salesforce-commerce-api-plugin/src/plugin.ts
  plugins/salesforce-commerce-api-plugin/src/types.d.ts
  plugins/salesforce-commerce-api-plugin/tsconfig.json
  plugins/salesforce-commerce-api-plugin/tslint.json
Owners: @BuilderIO/packages, @BuilderIO/plugins

remove data- prefix
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

add missing apiKey prop
  examples/astro-solidjs/src/components/App.jsx
Owners: @BuilderIO/core-team

update peer deps on personlization utils package
  packages/personalization-utils/.gitignore
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/personalized-url.ts
  packages/personalization-utils/src/type.d.ts
Owners: @BuilderIO/packages

release patch sdk
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/sdks

release patch react
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

release patch widgets
  packages/widgets/package-lock.json
  packages/widgets/package.json
Owners: @BuilderIO/packages

use latest version in example
  examples/next-js-simple/package-lock.json
  examples/next-js-simple/package.json
Owners: @BuilderIO/core-team

changelog
  packages/core/CHANGELOG.md
  packages/react/CHANGELOG.md
Owners: @BuilderIO/sdks

[builder.io/react] move react/react-dom to peerdeps and fix npm insta… (#1125)
  examples/next-js-simple/package-lock.json
  examples/next-js-simple/package.json
  examples/next-js-simple/pages/[[...page]].tsx
  examples/next-js-simple/tsconfig.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/internal-types.d.ts
  packages/react/jest.config.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/rollup.config.ts
  packages/react/src/blocks/Text.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/test/__snapshots__/image.test.tsx.snap
  packages/react/test/basic.test.tsx
  packages/widgets/package-lock.json
  packages/widgets/package.json
  packages/widgets/rollup.config.ts
Owners: @BuilderIO/core-team, @BuilderIO/sdks, @BuilderIO/packages

fix headings in changelog
  packages/react/CHANGELOG.md
Owners: @BuilderIO/sdks

fix headings in changelog (#1157)
  packages/react/CHANGELOG.md
Owners: @BuilderIO/sdks

update logo and screenshots
  plugins/kontent-ai/README.md
  plugins/kontent-ai/package-lock.json
  plugins/kontent-ai/src/plugin.ts
Owners: @BuilderIO/plugins

[plugins/sfcc-syn] dont update preview url when its overridden by a query param
  plugins/sfcc-sync/package-lock.json
  plugins/sfcc-sync/package.json
  plugins/sfcc-sync/src/on-editor-load.ts
Owners: @BuilderIO/e-commerce-plugins

changelog
  plugins/sfcc-sync/CHANGELOG.md
Owners: @BuilderIO/e-commerce-plugins

update logo and screenshots (#1159)
  plugins/kontent-ai/README.md
  plugins/kontent-ai/package-lock.json
  plugins/kontent-ai/src/plugin.ts
Owners: @BuilderIO/plugins

Update personalization utils dependencies (#1156)
  packages/personalization-utils/.gitignore
  packages/personalization-utils/configurator/package-lock.json
  packages/personalization-utils/configurator/package.json
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/personalized-url.ts
  packages/personalization-utils/src/type.d.ts
Owners: @BuilderIO/packages

remove unused .yarnrc
  packages/sdks/.yarnrc
Owners: @BuilderIO/sdks

first draft of github steps
  .github/workflows/ci.yml
  packages/sdks/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  packages/sdks/.yarnrc.yml
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/core-team, @BuilderIO/sdks

fix versions and examples
  packages/sdks/e2e/svelte/src/vite-env.d.ts
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/e2e/vue-2/src/App.vue
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-2/src/env.d.ts
  packages/sdks/e2e/vue-3/src/App.vue
  packages/sdks/e2e/vue-3/src/env.d.ts
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix vue examples
  packages/sdks/.gitignore
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/sdks

remove screenshots tests
  packages/sdks/e2e/svelte/screenshot-2.png
  packages/sdks/e2e/svelte/screenshot.png
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
