Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

Fix issue with require getting triggered on client side (#1293)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

Bump react SDK and changelog for 2.0.8 (#1298)
  packages/react/CHANGELOG.md
  packages/react/package.json
Owners: @BuilderIO/sdks

Release new SDK for react to fix bug on client side
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

test failing
  packages/utils/src/get-all-content-with-refs.test.ts
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

adding test scenario
  packages/utils/src/get-all-content-with-refs.test.ts
Owners: @BuilderIO/packages

fastClone before evaluating bindings
  packages/sdks/src/functions/fast-clone.ts
  packages/sdks/src/functions/get-processed-block.ts
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

add solid state override
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

release solidjs
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
Owners: @BuilderIO/sdks

release solidjs sdk
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
Owners: @BuilderIO/core-team

upgrade required solidjs dep
  packages/sdks/output/solid/package.json
Owners: @BuilderIO/sdks

Fix/solidjs sdk (#1300)
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/package.json
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/fast-clone.ts
  packages/sdks/src/functions/get-processed-block.ts
  packages/sdks/src/functions/register-component.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/core-team, @BuilderIO/sdks

allow updating of translaitons after initial request
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/plugin-helpers.ts
  plugins/smartling/src/plugin.tsx
  plugins/smartling/src/smartling.ts
  plugins/smartling/src/snackbar-utils.tsx
Owners: @BuilderIO/plugins

use prod api
  plugins/smartling/src/smartling.ts
Owners: @BuilderIO/plugins

touches
  plugins/smartling/src/plugin.tsx
  plugins/smartling/src/snackbar-utils.tsx
Owners: @BuilderIO/plugins

only on pending show smarlting link
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

fix symbol in SSR
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
Owners: @BuilderIO/sdks

release solidjs sdk
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
Owners: @BuilderIO/sdks

release:dev
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

fix(sdks): add builder-model attribute
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

add flag to point out it is supported
  packages/sdks/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

run yarn
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

SDKs: Fix: Symbol SSR (#1303)
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
Owners: @BuilderIO/sdks

add react-native-url-polyfill peerDep
  packages/sdks/output/react-native/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

add missing deps
  packages/sdks/e2e/react-native/package.json
Owners: @BuilderIO/sdks

add tsc build step to tests specs
  packages/sdks/e2e/tests/package.json
  packages/sdks/e2e/tests/tsconfig.build.json
Owners: @BuilderIO/sdks

yarn dedupe
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

add missing scripts
  packages/sdks/e2e/react-native/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix e2e test
  packages/sdks/e2e/react-native/App.js
  packages/sdks/e2e/react-native/App.jsx
  packages/sdks/e2e/react-native/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix error when no model is selected
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

add e2e test config
  packages/sdks/e2e/react-native/package.json
  packages/sdks/e2e/react-native/playwright.config.ts
Owners: @BuilderIO/sdks

fix import
  packages/sdks/e2e/tests/package.json
  packages/sdks/package.json
Owners: @BuilderIO/sdks

format
  packages/sdks/e2e/react-native/app.json
  packages/sdks/e2e/react-native/babel.config.js
  packages/sdks/e2e/tests/tsconfig.build.json
  packages/sdks/e2e/tests/tsconfig.json
Owners: @BuilderIO/sdks

remove redundant code
  packages/sdks/e2e/react-native/App.jsx
Owners: @BuilderIO/sdks

clean up reaction
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

reldev
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

fix eslint
  packages/sdks/.eslintrc.js
Owners: @BuilderIO/sdks

release
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/plugin.tsx
  plugins/smartling/src/smartling.ts
  plugins/smartling/src/snackbar-utils.tsx
Owners: @BuilderIO/plugins

fix(sdks): add builder-model attribute (#1302)
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks
