Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

release
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

catch tracking errors
  packages/sdks/src/functions/track.ts
Owners: @BuilderIO/sdks

release
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

fix lint
  packages/sdks/e2e/nextjs-react/next.config.js
Owners: @BuilderIO/sdks

udpate
  packages/sdks/e2e/nextjs-react/package.json
  packages/sdks/e2e/nextjs-react/playwright.config.ts
  packages/sdks/package.json
Owners: @BuilderIO/sdks

Fix editing `BuilderContent` containing a `BuilderCompoennt` (#1221)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

[packages/react] release patch version
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

fix
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/svelte-vite/svelte.config.js
Owners: @BuilderIO/core-team

[packages/react] release patch version (#1225)
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

Update CHANGELOG.md
  packages/react/CHANGELOG.md
Owners: @BuilderIO/sdks

Update packages/react/CHANGELOG.md
  packages/react/CHANGELOG.md
Owners: @BuilderIO/sdks

[packages/react] Update CHANGELOG.md (#1227)
  packages/react/CHANGELOG.md
Owners: @BuilderIO/sdks

update limit to match old sdk
  packages/sdks/src/functions/get-content/index.ts
Owners: @BuilderIO/sdks

release sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

update snapshot
  packages/sdks/src/functions/get-content/__snapshots__/fn.test.ts.snap
Owners: @BuilderIO/sdks

Update README.md
  README.md
Owners: @BuilderIO/core-team

feat(utils): ENG-2834 add blockId to the key of fields sent for translation
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

feat(utils): ENG-2834 add translation to custom components
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

feat(utils): ENG-2834 move bindings to block level object
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

feat(utils): ENG-2834 lint fixes
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

feat(utils): ENG-2834 get translatable fields based on localizedTextInputs list
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

first changes
  packages/utils/package-lock.json
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

lint fixes
  examples/next-js-react-quill/.env.development
  examples/next-js-react-quill/.env.production
  examples/next-js-react-quill/.env.template
  examples/next-js-react-quill/.gitignore
  examples/next-js-react-quill/.prettierignore
  examples/next-js-react-quill/README.md
  examples/next-js-react-quill/components/CustomRichText/CustomRichText.builder.ts
  examples/next-js-react-quill/components/CustomRichText/CustomRichText.tsx
  examples/next-js-react-quill/components/CustomRichText/toolbars.ts
  examples/next-js-react-quill/components/Link/Link.tsx
  examples/next-js-react-quill/config/builder.ts
  examples/next-js-react-quill/next-env.d.ts
  examples/next-js-react-quill/next.config.js
  examples/next-js-react-quill/package-lock.json
  examples/next-js-react-quill/package.json
  examples/next-js-react-quill/pages/[[...page]].tsx
  examples/next-js-react-quill/pages/_app.tsx
  examples/next-js-react-quill/tsconfig.json
Owners: @BuilderIO/core-team

lint fixes
  examples/next-js-react-quill/README.md
Owners: @BuilderIO/core-team

add helper methods for nextjs
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
Owners: @BuilderIO/packages

release dev
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

fix types
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
Owners: @BuilderIO/packages

release dev
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

prettier
  packages/personalization-utils/src/next.ts
Owners: @BuilderIO/packages

try named file and update readme
  packages/personalization-utils/README.md
  packages/personalization-utils/next.js
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

support next import
  packages/personalization-utils/next.d.ts
  packages/personalization-utils/next.js
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

use typesversinos
  packages/personalization-utils/next.d.ts
  packages/personalization-utils/next.js
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

release minor
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

feedback
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
  packages/personalization-utils/src/personalized-url.ts
  packages/personalization-utils/src/utils.ts
Owners: @BuilderIO/packages

default prefix fix
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/utils.ts
Owners: @BuilderIO/packages

cookies prefix prop
  packages/personalization-utils/configurator/package-lock.json
  packages/personalization-utils/configurator/package.json
  packages/personalization-utils/configurator/src/context-menu.tsx
Owners: @BuilderIO/packages

donot mutate
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
Owners: @BuilderIO/packages

fix bug
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
Owners: @BuilderIO/packages

prettify
  packages/personalization-utils/configurator/src/context-menu.tsx
  packages/personalization-utils/src/utils.ts
Owners: @BuilderIO/packages

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
