Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/mitosis, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

publish
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
Owners: @BuilderIO/cms-plugins

[commercetools plugin] do not require scopes (#761)
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

first pass on updating to gatsby 4
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/builder-config.js
  packages/gatsby/src/constants.js
  packages/gatsby/src/gatsby-config.js
  packages/gatsby/src/gatsby-node.js
  packages/gatsby/src/transforms.js
Owners: @BuilderIO/packages

use node fetc
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-config.js
Owners: @BuilderIO/packages

prettier
  packages/gatsby/src/gatsby-config.js
  packages/gatsby/src/gatsby-node.js
  packages/gatsby/tsconfig.json
Owners: @BuilderIO/packages

downgrade from problematic source-graphql version
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

downgrade from problematic source-graphql version
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

try latest
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

full example working
  examples/next-js-algolia-plugin/.env.template
  examples/next-js-algolia-plugin/components/AlgoliaSearch.tsx
  examples/next-js-algolia-plugin/pages/_app.tsx
Owners: @BuilderIO/core-team

add config
  examples/next-js-algolia-plugin/components/AlgoliaSearch.tsx
  examples/next-js-algolia-plugin/pages/_app.tsx
Owners: @BuilderIO/core-team

fork it
  packages/gatsby/.gitignore
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-config.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/__tests__/__snapshots__/transforms.js.snap
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/__tests__/gatsby-node.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/__tests__/transforms.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/__tests__/dataloader-link.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/__tests__/merge-queries.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/dataloader-link.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/merge-queries.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/fetch.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/gatsby-node.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/index.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/transforms.js
Owners: @BuilderIO/packages

user resolve
  packages/gatsby/.nvmrc
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-config.js
Owners: @BuilderIO/packages

fix missing plugins
  packages/gatsby/.npmignore
Owners: @BuilderIO/packages

simplify fork
  packages/gatsby/.npmignore
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/constants.js
  packages/gatsby/src/gatsby-config.js
  packages/gatsby/src/gatsby-node.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/__tests__/__snapshots__/transforms.js.snap
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/__tests__/gatsby-node.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/__tests__/transforms.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/__tests__/dataloader-link.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/__tests__/merge-queries.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/dataloader-link.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/batching/merge-queries.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/fetch.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/gatsby-node.js
  packages/gatsby/src/plugins/gatsby-source-graphql-fork/src/index.js
  packages/gatsby/src/transforms.js
Owners: @BuilderIO/packages

typo
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-node.js
Owners: @BuilderIO/packages

upgrade problematic packaage
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/__tests__/__snapshots__/gatsby-node.js.snap
  packages/gatsby/src/__tests__/__snapshots__/transforms.js.snap
  packages/gatsby/src/__tests__/gatsby-node.js
  packages/gatsby/src/__tests__/transforms.js
  packages/gatsby/src/constants.js
Owners: @BuilderIO/packages

last fix for sure
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

fix issues
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-node.js
Owners: @BuilderIO/packages

prettier
  packages/gatsby/src/constants.js
  packages/gatsby/src/gatsby-node.js
  packages/gatsby/src/transforms.js
Owners: @BuilderIO/packages

last dev release
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

add batching
  packages/gatsby/batching/dataloader-link.js
  packages/gatsby/batching/merge-queries.js
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/batching/__tests__/dataloader-link.js
  packages/gatsby/src/batching/__tests__/merge-queries.js
  packages/gatsby/src/batching/dataloader-link.js
  packages/gatsby/src/batching/merge-queries.js
  packages/gatsby/src/constants.js
Owners: @BuilderIO/packages

Update README.md
  README.md
Owners: @BuilderIO/core-team

Update README.md
  README.md
Owners: @BuilderIO/core-team

Update README.md
  README.md
Owners: @BuilderIO/core-team

add screenshot to Components interfce
  packages/core/src/builder.class.ts
Owners: @BuilderIO/packages

typo
  packages/core/src/builder.class.ts
Owners: @BuilderIO/packages

typo
  packages/core/src/builder.class.ts
Owners: @BuilderIO/packages

[contentful plugin] support dynamic locale input
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
  plugins/contentful/rollup.config.ts
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

cleanup
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

release:dev
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
Owners: @BuilderIO/cms-plugins

release minor
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
Owners: @BuilderIO/cms-plugins

[contentful plugin] support dynamic locale input (#807)
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
  plugins/contentful/rollup.config.ts
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

chore(sdks): set .nvmrc in examples
  examples/react-native/.nvmrc
  examples/vue/vue-storefront/.nvmrc
Owners: @BuilderIO/core-team

example(sdks): add generic path handling in vue-storefront
  examples/vue/vue-storefront/pages/Home.vue
  examples/vue/vue-storefront/pages/_path.vue
Owners: @BuilderIO/core-team

example(react-native): use SDK features key
  examples/react-native/App.tsx
Owners: @BuilderIO/core-team

examples(react-native): add cp command, .tool-versions
  examples/react-native/.tool-versions
  examples/react-native/package.json
Owners: @BuilderIO/core-team

chore: Update versions to get Angular SDK to build
  packages/angular/ng-package.js
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/public_api.ts
  packages/angular/yarn.lock
Owners: @BuilderIO/packages

example(react-native): install navigation
  examples/react-native/package.json
  examples/react-native/yarn.lock
  packages/sdks/.nvmrc
  packages/sdks/overrides/react-native/src/index.ts
Owners: @BuilderIO/core-team, @BuilderIO/mitosis

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @BuilderIO/core-team

chore(node): update node versions
  .nvmrc
  packages/sdks/.tool-versions
Owners: @BuilderIO/core-team, @BuilderIO/mitosis

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# Mitosis
/packages/sdks/ @BuilderIO/mitosis


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
