Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

ENG-2956 Fix prettier warnings and replace ??= with traditional ?? operator
  packages/react/.npmignore
  packages/react/lib/on-change.js
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/functions/block-to-html-string.ts
  packages/react/src/functions/safe-dynamic-require.ts
  packages/react/src/functions/throttle.ts
  packages/react/test/functions/render-block.ts
Owners: @BuilderIO/sdks

Removing type from error in catch to appease prettier
  packages/react/src/functions/string-to-function.ts
  packages/react/src/functions/try-eval.tsx
Owners: @BuilderIO/sdks

Update packages/core/src/classes/animator.class.ts
  packages/core/src/classes/animator.class.ts
Owners: @BuilderIO/sdks

test vue dev release
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

fix conditions
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

Adding back types for TSC compliance
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

Fixing prettier warnings again
  packages/react/README.md
  packages/react/lib/on-change.js
  packages/react/src/blocks/Section.tsx
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/functions/block-to-html-string.ts
  packages/react/src/functions/string-to-function.ts
  packages/react/src/functions/throttle.ts
  packages/react/test/functions/render-block.ts
Owners: @BuilderIO/sdks

Fixed TSC error
  packages/react/src/functions/string-to-function.ts
  packages/react/src/functions/try-eval.tsx
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

release vue sdk
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

fix: 🐛 Columns styling was incorrect
  packages/sdks/output/qwik/package.json
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
Owners: @BuilderIO/sdks

feat: create BuilderIO plugin
  plugins/kibo-commerce/.babelrc
  plugins/kibo-commerce/package-lock.json
  plugins/kibo-commerce/package.json
  plugins/kibo-commerce/src/plugin.jsx
  plugins/kibo-commerce/utils/kibocommerce.js
  plugins/kibo-commerce/webpack.config.js
Owners: @BuilderIO/plugins

feat: removed comments
  plugins/kibo-commerce/src/plugin.jsx
Owners: @BuilderIO/plugins

Fixing default assingment for safeDynamicRequire
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

Reverted ??= changes
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

fix for get all refs content
  packages/utils/src/get-all-content-with-refs.test.ts
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

fixup! fix: 🐛 Columns styling was incorrect
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixup! fix: 🐛 Columns styling was incorrect
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix: 🐛 Columns styling was incorrect (#1272)
  packages/sdks/output/qwik/package.json
  packages/sdks/package.json
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

remove extraneous curly bracket
  examples/react-native/content.builder.js
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/helpers/css.ts
Owners: @BuilderIO/core-team, @BuilderIO/sdks

add svelte patch
  packages/sdks/.yarn/patches/@sveltejs-package-npm-1.0.0-next.1-2fd015530b.patch
  packages/sdks/output/svelte/package.json
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix image style
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

release dev
  packages/core/package-lock.json
  packages/core/package.json
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

use Fragments for Image, except Vue2
  packages/sdks/mitosis.config.js
  packages/sdks/overrides/react-native/src/blocks/image/image.js
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

1.1.30 sdk with changelog
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/sdks

release and changelog
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

[packages/core] Support repeating scrollInView animation, add support for threshold input (#1266)
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
  packages/core/src/classes/animator.class.ts
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

fix svelte export path
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

add inheritedStyles in context
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/context/types.ts
  packages/sdks/src/functions/extract-text-styles.ts
  packages/sdks/src/functions/get-block-styles.ts
Owners: @BuilderIO/sdks

add css inheritance to react-native Text
  packages/sdks/mitosis.config.js
  packages/sdks/overrides/react-native/src/blocks/BaseText.js
  packages/sdks/src/blocks/BaseText.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/context/builder.context.lite.ts
  packages/sdks/src/context/types.ts
Owners: @BuilderIO/sdks

fix react-native img override, support children
  packages/sdks/overrides/react-native/src/blocks/image/image.js
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

document
  packages/sdks/mitosis.config.js
  packages/sdks/overrides/react-native/src/blocks/BaseText.js
  packages/sdks/src/context/types.ts
  packages/sdks/src/functions/extract-text-styles.ts
  packages/sdks/src/functions/get-block-styles.ts
Owners: @BuilderIO/sdks

Android SDK cleanup
  packages/android/sdk/app/build.gradle
  packages/android/sdk/app/google-services.json
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderBlock.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
Owners: @BuilderIO/packages

fix blockStyles condition for RN
  packages/sdks/src/components/render-block/block-styles.lite.tsx
Owners: @BuilderIO/sdks

lint
  packages/sdks/src/components/render-block/block-styles.lite.tsx
Owners: @BuilderIO/sdks

remove content
  examples/react-native/content.builder.js
Owners: @BuilderIO/core-team

remove Fragment
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

Fix bug where SSR was not working for data binding
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

ugprade eslint plugin
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks
