Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

try json parse
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
  packages/personalization-utils/src/utils.ts
Owners: @BuilderIO/packages

fix cookie value missing
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
  packages/personalization-utils/src/utils.ts
Owners: @BuilderIO/packages

release patch and update readme
  packages/personalization-utils/README.md
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

Update packages/personalization-utils/README.md
  packages/personalization-utils/README.md
Owners: @BuilderIO/packages

[packages/personalization-utils] add helper methods for nextjs (#1231)
  packages/personalization-utils/README.md
  packages/personalization-utils/configurator/package-lock.json
  packages/personalization-utils/configurator/package.json
  packages/personalization-utils/configurator/src/context-menu.tsx
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
  packages/personalization-utils/src/next.ts
  packages/personalization-utils/src/personalized-url.ts
  packages/personalization-utils/src/utils.ts
Owners: @BuilderIO/packages

fix regs
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

add vite build steps for vue sdks
  packages/sdks/output/vue/vue2/.gitignore
  packages/sdks/output/vue/vue2/README.md
  packages/sdks/output/vue/vue2/env.d.ts
  packages/sdks/output/vue/vue2/package.json
  packages/sdks/output/vue/vue2/tsconfig.config.json
  packages/sdks/output/vue/vue2/tsconfig.json
  packages/sdks/output/vue/vue2/vite.config.ts
  packages/sdks/output/vue/vue3/.gitignore
  packages/sdks/output/vue/vue3/README.md
  packages/sdks/output/vue/vue3/env.d.ts
  packages/sdks/output/vue/vue3/package.json
  packages/sdks/output/vue/vue3/tsconfig.config.json
  packages/sdks/output/vue/vue3/tsconfig.json
  packages/sdks/output/vue/vue3/vite.config.ts
Owners: @BuilderIO/sdks

fix yarn workspaces
  packages/sdks/package.json
Owners: @BuilderIO/sdks

install
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

release yarn sdk
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

add .npmignore
  packages/sdks/output/vue/.npmignore
Owners: @BuilderIO/sdks

publish vue sdk
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

cleanup scripts for vue sdk
  packages/sdks/output/vue/package.json
  packages/sdks/output/vue/vue2/package.json
  packages/sdks/output/vue/vue3/package.json
  packages/sdks/output/vue/vue3/vite.config.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

update examples
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-3/tsconfig.json
Owners: @BuilderIO/core-team

remove readmes
  packages/sdks/output/vue/vue2/README.md
  packages/sdks/output/vue/vue3/README.md
Owners: @BuilderIO/sdks

remove package-lock.jon
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

dirty workaround for nested yarn workspaces
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/e2e/vue-3/package.json
Owners: @BuilderIO/sdks

add e2e build prep step
  .github/workflows/ci.yml
  packages/sdks/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

revert bad change
  packages/sdks/e2e/vue-2/package.json
Owners: @BuilderIO/sdks

add svelte build step
  packages/sdks/output/svelte/.gitignore
  packages/sdks/output/svelte/.npmrc
  packages/sdks/output/svelte/package.json
  packages/sdks/output/svelte/svelte.config.js
  packages/sdks/output/svelte/tsconfig.json
  packages/sdks/output/svelte/vite.config.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

remove type override
  packages/sdks/e2e/svelte/src/vite-env.d.ts
Owners: @BuilderIO/sdks

fix hack
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/e2e/vue-3/package.json
Owners: @BuilderIO/sdks

lint
  packages/sdks/.prettierignore
  packages/sdks/output/svelte/tsconfig.json
  packages/sdks/output/svelte/vite.config.ts
Owners: @BuilderIO/sdks

remove package-lock
  packages/sdks/output/svelte/package-lock.json
Owners: @BuilderIO/sdks

fix yarn.lock
  packages/sdks/e2e/svelte/tsconfig.json
  packages/sdks/output/svelte/.npmrc
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

remove 'esm' formats
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

added util to get all content with nested refs
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

Improvements to our getting started CLI
  packages/cli/README.md
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

Much clearer CTA on completion
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

small tweak
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

one more small thing
  packages/cli/package-lock.json
  packages/cli/package.json
Owners: @BuilderIO/packages

updates
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

Updates
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

Update README.md
  README.md
Owners: @BuilderIO/core-team

removing patches from response
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

ENG-2956 Honor custom breakpoints when available when rendering content
  packages/react/.gitignore
  packages/react/package.json
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/constants/device-sizes.constant.ts
Owners: @BuilderIO/sdks

Add a rootMargin to the Section block
  packages/react/src/blocks/Section.tsx
Owners: @BuilderIO/sdks

translate custom components
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

release
  packages/utils/package-lock.json
  packages/utils/package.json
Owners: @BuilderIO/packages

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
