Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

add tests
  packages/sdks/src/helpers/cookie.ts
  packages/sdks/src/helpers/url.test.ts
  packages/sdks/src/helpers/url.ts
Owners: @BuilderIO/sdks

release sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

fix typo in readme
  packages/data-plugin-tools/README.md
Owners: @BuilderIO/packages

Plugins contrinbution doc
  plugins/contributing.md
Owners: @BuilderIO/plugins

Update contributing.md
  plugins/contributing.md
Owners: @BuilderIO/plugins

Update contributing.md
  plugins/contributing.md
Owners: @BuilderIO/plugins

fix typo in readme (#1193)
  packages/data-plugin-tools/README.md
Owners: @BuilderIO/packages

clean up
  plugins/contributing.md
Owners: @BuilderIO/plugins

add plugins contribution doc (#1194)
  plugins/contributing.md
Owners: @BuilderIO/plugins

[example/next-js-ondemand-isr] add example for revalidation of an ISR page using webhook
  examples/next-js-on-demand-isr/.env
  examples/next-js-on-demand-isr/.gitignore
  examples/next-js-on-demand-isr/.prettierignore
  examples/next-js-on-demand-isr/README.md
  examples/next-js-on-demand-isr/components/Link/Link.tsx
  examples/next-js-on-demand-isr/config/builder.ts
  examples/next-js-on-demand-isr/next-env.d.ts
  examples/next-js-on-demand-isr/next.config.js
  examples/next-js-on-demand-isr/package-lock.json
  examples/next-js-on-demand-isr/package.json
  examples/next-js-on-demand-isr/pages/[[...page]].jsx
  examples/next-js-on-demand-isr/pages/_app.jsx
  examples/next-js-on-demand-isr/pages/api/revalidate.js
  examples/next-js-on-demand-isr/tsconfig.json
Owners: @BuilderIO/core-team

Add steps to readme
  examples/next-js-on-demand-isr/README.md
Owners: @BuilderIO/core-team

Update README.md
  examples/next-js-on-demand-isr/README.md
Owners: @BuilderIO/core-team

Update README.md
  examples/next-js-on-demand-isr/README.md
Owners: @BuilderIO/core-team

use js and remove unused
  examples/next-js-on-demand-isr/components/Link/Link.tsx
  examples/next-js-on-demand-isr/config/builder.js
Owners: @BuilderIO/core-team

fix condition
  examples/next-js-on-demand-isr/pages/api/revalidate.js
Owners: @BuilderIO/core-team

lint
  examples/next-js-on-demand-isr/pages/api/revalidate.js
Owners: @BuilderIO/core-team

Update examples/next-js-on-demand-isr/README.md
  examples/next-js-on-demand-isr/README.md
Owners: @BuilderIO/core-team

Update examples/next-js-on-demand-isr/README.md
  examples/next-js-on-demand-isr/README.md
Owners: @BuilderIO/core-team

remove outdated section
  examples/next-js-on-demand-isr/README.md
Owners: @BuilderIO/core-team

[example/next-js-ondemand-isr] add example for revalidation of ISR pages using webhook (#1195)
  examples/next-js-on-demand-isr/.env
  examples/next-js-on-demand-isr/.gitignore
  examples/next-js-on-demand-isr/.prettierignore
  examples/next-js-on-demand-isr/README.md
  examples/next-js-on-demand-isr/config/builder.js
  examples/next-js-on-demand-isr/next-env.d.ts
  examples/next-js-on-demand-isr/next.config.js
  examples/next-js-on-demand-isr/package-lock.json
  examples/next-js-on-demand-isr/package.json
  examples/next-js-on-demand-isr/pages/[[...page]].jsx
  examples/next-js-on-demand-isr/pages/_app.jsx
  examples/next-js-on-demand-isr/pages/api/revalidate.js
  examples/next-js-on-demand-isr/tsconfig.json
Owners: @BuilderIO/core-team

Remove unnecessary style in HTML
  README.md
Owners: @BuilderIO/core-team

chore(sdks): update lock file
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

[packages/react] add Add section on lite sdk integration
  packages/react/README.md
Owners: @BuilderIO/sdks

Update README.md
  packages/react/README.md
Owners: @BuilderIO/sdks

Update README.md
  packages/react/README.md
Owners: @BuilderIO/sdks

separate registration calls from component code for lazy loading support
  packages/react/src/blocks/Button.tsx
  packages/react/src/blocks/Button/Button.builder.ts
  packages/react/src/blocks/Button/Button.config.ts
  packages/react/src/blocks/Button/Button.tsx
  packages/react/src/blocks/Columns.tsx
  packages/react/src/blocks/Columns/Columns.builder.ts
  packages/react/src/blocks/Columns/Columns.config.ts
  packages/react/src/blocks/Columns/Columns.tsx
  packages/react/src/blocks/CustomCode/CustomCode.builder.ts
  packages/react/src/blocks/CustomCode/CustomCode.config.ts
  packages/react/src/blocks/CustomCode/CustomCode.tsx
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/output/qwik/README.md
  packages/sdks/output/qwik/package.json
  packages/sdks/src/blocks/img/img.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

init react SDK
  packages/sdks/mitosis.config.js
  packages/sdks/output/react/README.md
  packages/sdks/output/react/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

add e2e app
  packages/sdks/e2e/react/.gitignore
  packages/sdks/e2e/react/README.md
  packages/sdks/e2e/react/index.html
  packages/sdks/e2e/react/package.json
  packages/sdks/e2e/react/src/App.tsx
  packages/sdks/e2e/react/src/main.tsx
  packages/sdks/e2e/react/src/vite-env.d.ts
  packages/sdks/e2e/react/tsconfig.json
  packages/sdks/e2e/react/tsconfig.node.json
  packages/sdks/e2e/react/vite.config.ts
Owners: @BuilderIO/sdks

lint
  packages/sdks/e2e/react/src/main.tsx
Owners: @BuilderIO/sdks

add e2e command
  packages/sdks/e2e/react/package.json
Owners: @BuilderIO/sdks

release
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

example
  examples/react-v2/.gitignore
  examples/react-v2/README.md
  examples/react-v2/index.html
  examples/react-v2/package-lock.json
  examples/react-v2/package.json
  examples/react-v2/src/App.jsx
  examples/react-v2/src/main.jsx
  examples/react-v2/vite.config.ts
Owners: @BuilderIO/core-team

add playwright config
  packages/sdks/e2e/react/playwright.config.ts
  packages/sdks/e2e/tests/tests/context.ts
Owners: @BuilderIO/sdks

docs
  packages/sdks/output/react/README.md
Owners: @BuilderIO/sdks

add node-fetch
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

release
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

fix
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/src/blocks/form/form.lite.tsx
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
