Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

add tests
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

publish
  packages/utils/package-lock.json
  packages/utils/package.json
Owners: @BuilderIO/packages

prettier
  packages/utils/src/translation-helpers.test.ts
Owners: @BuilderIO/packages

add custom component and link to docs on error page
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

fix unfinished feedback message
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

prettier
  packages/cli/src/templates/nextjs/[...page].jsx
Owners: @BuilderIO/packages

minor release
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/templates/nextjs/[...page].jsx
Owners: @BuilderIO/packages

feat(cli): add a command to integrate with an existing site (#1069)
  packages/cli/.prettierrc
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
Owners: @BuilderIO/packages

fix mitosis config
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

update mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix targets
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

setup vue-3 example
  examples/vue/vue-3/.eslintrc.cjs
  examples/vue/vue-3/.gitignore
  examples/vue/vue-3/README.md
  examples/vue/vue-3/env.d.ts
  examples/vue/vue-3/index.html
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-3/public/favicon.ico
  examples/vue/vue-3/src/App.vue
  examples/vue/vue-3/src/assets/base.css
  examples/vue/vue-3/src/assets/logo.svg
  examples/vue/vue-3/src/components/Builder/BuilderContent.vue
  examples/vue/vue-3/src/components/Builder/HelloWorld.vue
  examples/vue/vue-3/src/components/Builder/init-builder.ts
  examples/vue/vue-3/src/components/icons/IconCommunity.vue
  examples/vue/vue-3/src/components/icons/IconDocumentation.vue
  examples/vue/vue-3/src/components/icons/IconEcosystem.vue
  examples/vue/vue-3/src/components/icons/IconSupport.vue
  examples/vue/vue-3/src/components/icons/IconTooling.vue
  examples/vue/vue-3/src/main.ts
  examples/vue/vue-3/src/router/index.ts
  examples/vue/vue-3/src/views/BuilderView.vue
  examples/vue/vue-3/tsconfig.config.json
  examples/vue/vue-3/tsconfig.json
  examples/vue/vue-3/vite.config.ts
Owners: @BuilderIO/core-team

add missing config
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

fix vue sdk package.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

added svelte kit starter sample with builder
  examples/svelte-starter-kit/.eslintignore
  examples/svelte-starter-kit/.eslintrc.cjs
  examples/svelte-starter-kit/.gitignore
  examples/svelte-starter-kit/.npmrc
  examples/svelte-starter-kit/.prettierignore
  examples/svelte-starter-kit/.prettierrc
  examples/svelte-starter-kit/README.md
  examples/svelte-starter-kit/package-lock.json
  examples/svelte-starter-kit/package.json
  examples/svelte-starter-kit/src/app.css
  examples/svelte-starter-kit/src/app.d.ts
  examples/svelte-starter-kit/src/app.html
  examples/svelte-starter-kit/src/components/BoxWithChildren/BoxWithChildren.builder.js
  examples/svelte-starter-kit/src/components/BoxWithChildren/BoxWithChildren.svelte
  examples/svelte-starter-kit/src/components/Button/Button.builder.js
  examples/svelte-starter-kit/src/components/Button/Button.svelte
  examples/svelte-starter-kit/src/components/CustomColumns/CustomColumns.builder.js
  examples/svelte-starter-kit/src/components/CustomColumns/CustomColumns.svelte
  examples/svelte-starter-kit/src/components/Hero/Hero.builder.js
  examples/svelte-starter-kit/src/components/Hero/Hero.svelte
  examples/svelte-starter-kit/src/components/index.ts
  examples/svelte-starter-kit/src/hooks.ts
  examples/svelte-starter-kit/src/lib/Builder.svelte
  examples/svelte-starter-kit/src/lib/form.ts
  examples/svelte-starter-kit/src/lib/header/Header.svelte
  examples/svelte-starter-kit/src/lib/header/svelte-logo.svg
  examples/svelte-starter-kit/src/routes/[...catchall].svelte
  examples/svelte-starter-kit/src/routes/__layout.svelte
  examples/svelte-starter-kit/src/routes/about.svelte
  examples/svelte-starter-kit/src/routes/index.svelte
  examples/svelte-starter-kit/src/theme/_smui-theme.scss
  examples/svelte-starter-kit/src/theme/dark/_smui-theme.scss
  examples/svelte-starter-kit/static/favicon.png
  examples/svelte-starter-kit/static/robots.txt
  examples/svelte-starter-kit/static/smui.css
  examples/svelte-starter-kit/static/svelte-welcome.png
  examples/svelte-starter-kit/static/svelte-welcome.webp
  examples/svelte-starter-kit/svelte.config.js
  examples/svelte-starter-kit/tsconfig.json
Owners: @BuilderIO/core-team

lint fix for svelte starter
  examples/svelte-starter-kit/src/app.d.ts
  examples/svelte-starter-kit/src/components/BoxWithChildren/BoxWithChildren.builder.js
  examples/svelte-starter-kit/src/components/Button/Button.builder.js
  examples/svelte-starter-kit/src/components/CustomColumns/CustomColumns.builder.js
  examples/svelte-starter-kit/src/components/Hero/Hero.builder.js
  examples/svelte-starter-kit/src/components/index.ts
Owners: @BuilderIO/core-team

set preview url on reference entry and register context menu actions
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/translation-helpers.ts
  plugins/smartling/src/plugin-helpers.ts
  plugins/smartling/src/plugin.ts
  plugins/smartling/src/smartling.ts
Owners: @BuilderIO/packages, @BuilderIO/plugins

[examples/angular] add example for component with editable sections
  examples/angular/src/app/app.component.ts
  examples/angular/src/app/app.module.ts
  examples/angular/src/app/with-children.ts
  package.json
Owners: @BuilderIO/core-team

remove unneccessary import
  examples/angular/src/app/app.component.ts
Owners: @BuilderIO/core-team

remove unused code
  examples/angular/src/app/with-children.ts
Owners: @BuilderIO/core-team

[examples/angular] add example for component with editable sections (#1094)
  examples/angular/src/app/app.component.ts
  examples/angular/src/app/app.module.ts
  examples/angular/src/app/with-children.ts
  package.json
Owners: @BuilderIO/core-team

renamed folder and readme complete
  examples/svelte-design-system/.eslintignore
  examples/svelte-design-system/.eslintrc.cjs
  examples/svelte-design-system/.gitignore
  examples/svelte-design-system/.npmrc
  examples/svelte-design-system/.prettierignore
  examples/svelte-design-system/.prettierrc
  examples/svelte-design-system/README.md
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte-design-system/src/app.css
  examples/svelte-design-system/src/app.d.ts
  examples/svelte-design-system/src/app.html
  examples/svelte-design-system/src/components/BoxWithChildren/BoxWithChildren.builder.js
  examples/svelte-design-system/src/components/BoxWithChildren/BoxWithChildren.svelte
  examples/svelte-design-system/src/components/Button/Button.builder.js
  examples/svelte-design-system/src/components/Button/Button.svelte
  examples/svelte-design-system/src/components/CustomColumns/CustomColumns.builder.js
  examples/svelte-design-system/src/components/CustomColumns/CustomColumns.svelte
  examples/svelte-design-system/src/components/Hero/Hero.builder.js
  examples/svelte-design-system/src/components/Hero/Hero.svelte
  examples/svelte-design-system/src/components/index.ts
  examples/svelte-design-system/src/hooks.ts
  examples/svelte-design-system/src/lib/Builder.svelte
  examples/svelte-design-system/src/lib/form.ts
  examples/svelte-design-system/src/lib/header/Header.svelte
  examples/svelte-design-system/src/lib/header/svelte-logo.svg
  examples/svelte-design-system/src/routes/[...catchall].svelte
  examples/svelte-design-system/src/routes/__layout.svelte
  examples/svelte-design-system/src/routes/about.svelte
  examples/svelte-design-system/src/routes/index.svelte
  examples/svelte-design-system/src/theme/_smui-theme.scss
  examples/svelte-design-system/src/theme/dark/_smui-theme.scss
  examples/svelte-design-system/static/favicon.png
  examples/svelte-design-system/static/robots.txt
  examples/svelte-design-system/static/smui.css
  examples/svelte-design-system/static/svelte-welcome.png
  examples/svelte-design-system/static/svelte-welcome.webp
  examples/svelte-design-system/svelte.config.js
  examples/svelte-design-system/tsconfig.json
  examples/svelte-starter-kit/README.md
Owners: @BuilderIO/core-team

fix for type on builder.svelte
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/src/lib/Builder.svelte
Owners: @BuilderIO/core-team

updates for build and api key
  examples/svelte-design-system/src/components/BoxWithChildren/BoxWithChildren.svelte
  examples/svelte-design-system/src/lib/Builder.svelte
  examples/svelte-design-system/src/lib/variables.ts
  examples/svelte-design-system/src/routes/[...catchall].svelte
  examples/svelte-design-system/src/routes/index.svelte
Owners: @BuilderIO/core-team

updates for build and api key
  examples/svelte-design-system/README.md
Owners: @BuilderIO/core-team

[examples/angular] import custom component to show in editor
  examples/angular/src/app/app.component.ts
Owners: @BuilderIO/core-team

Update plugins/smartling/README.md
  plugins/smartling/README.md
Owners: @BuilderIO/plugins

Update plugins/smartling/README.md
  plugins/smartling/README.md
Owners: @BuilderIO/plugins

Update plugins/smartling/README.md
  plugins/smartling/README.md
Owners: @BuilderIO/plugins

feedback and mark plugin as alpha in readme
  plugins/smartling/README.md
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/smartling.ts
Owners: @BuilderIO/plugins

added default value for render blocks with children
  examples/svelte-design-system/src/components/BoxWithChildren/BoxWithChildren.builder.js
  examples/svelte-design-system/src/components/BoxWithChildren/BoxWithChildren.svelte
  examples/svelte-design-system/src/lib/header/Header.svelte
Owners: @BuilderIO/core-team

[@builder.io/plugin-smartling] add a plugin for translating content with smartling, add translation helpers to utils package (#1090)
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/index.ts
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
  plugins/smartling/.gitignore
  plugins/smartling/.travis.yml
  plugins/smartling/CONTRIBUTING.md
  plugins/smartling/LICENSE
  plugins/smartling/README.md
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/rollup.config.ts
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/plugin-helpers.ts
  plugins/smartling/src/plugin.ts
  plugins/smartling/src/smartling.ts
  plugins/smartling/src/type.d.ts
  plugins/smartling/tsconfig.json
  plugins/smartling/tslint.json
Owners: @BuilderIO/packages, @BuilderIO/plugins

[packages/utils] change translation structure to allow for adding insturctions per string
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

resolve to value to match smartling api response
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

publish
  packages/utils/package-lock.json
  packages/utils/package.json
Owners: @BuilderIO/packages

[examples/angular] import custom component to show in editor (#1095)
  examples/angular/src/app/app.component.ts
Owners: @BuilderIO/core-team

format
  packages/sdks/output/react-native/CHANGELOG.md
  packages/sdks/output/svelte/CHANGELOG.md
  packages/sdks/output/svelte/README.md
  packages/sdks/output/vue/CHANGELOG.md
  packages/sdks/output/vue/nuxt.js
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

[packages/utils] change translation structure to allow for adding ins… (#1096)
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

[@builder.io/plugin-smartling] add a content action to go to translation job from content entry, add description to model
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/plugin.ts
Owners: @BuilderIO/plugins

allow {{}} expressions in rich text (#1079)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/blocks/Text.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/functions/try-eval.tsx
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
