Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/mitosis, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

[next-js-simiple] import @builder.io/widgets
  examples/next-js-simple/package-lock.json
  examples/next-js-simple/package.json
  examples/next-js-simple/pages/[[...page]].tsx
Owners: @BuilderIO/core-team

[next-js-simiple] import @builder.io/widgets (#712)
  examples/next-js-simple/package-lock.json
  examples/next-js-simple/package.json
  examples/next-js-simple/pages/[[...page]].tsx
Owners: @BuilderIO/core-team

updates
  examples/react-native-design-system/components/CollectionCard.tsx
  examples/react-native-design-system/components/ProductCard.tsx
  examples/react-native-design-system/components/RenderBuilderScreen.tsx
  examples/react-native-design-system/components/Video.tsx
Owners: @BuilderIO/core-team

update main file in some plugins (#704)
  plugins/algolia/package-lock.json
  plugins/algolia/package.json
  plugins/async-dropdown/package-lock.json
  plugins/async-dropdown/package.json
  plugins/bigcommerce/package-lock.json
  plugins/bigcommerce/package.json
  plugins/cloudinary/package-lock.json
  plugins/cloudinary/package.json
  plugins/commercejs/package-lock.json
  plugins/commercejs/package.json
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
  plugins/contentstack/package-lock.json
  plugins/contentstack/package.json
  plugins/elasticpath/package-lock.json
  plugins/elasticpath/package.json
  plugins/magento2/package-lock.json
  plugins/magento2/package.json
  plugins/sfcc-sync/package-lock.json
  plugins/sfcc-sync/package.json
  plugins/shopify-demo/package.json
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
  plugins/swell/package-lock.json
  plugins/swell/package.json
  plugins/vtex/package-lock.json
  plugins/vtex/package.json
Owners: @BuilderIO/plugins, @BuilderIO/cms-plugins, @BuilderIO/e-commerce-plugins

feature(sdks): fix col breakpoints for vue
  packages/sdks/output/react-native/src/blocks/columns.lite.tsx
  packages/sdks/output/react-native/src/components/render-content.lite.tsx
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/src/blocks/columns.lite.tsx
Owners: @BuilderIO/mitosis

feature(sdks): strip this. in react-native, fix is-react-native check
  packages/sdks/output/react-native/src/blocks/columns.lite.tsx
  packages/sdks/output/react-native/src/components/render-content.lite.tsx
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/overrides/react-native/src/functions/is-react-native.ts
Owners: @BuilderIO/mitosis

fix(sdks): revert getter change
  packages/sdks/output/react-native/src/blocks/columns.lite.tsx
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/form.vue
  packages/sdks/src/blocks/columns.lite.tsx
Owners: @BuilderIO/mitosis

Update packages/sdks/overrides/react-native/src/functions/transform-block.ts
  packages/sdks/overrides/react-native/src/functions/transform-block.ts
Owners: @BuilderIO/mitosis

make sure that if we send pixels in the new format they work too (#687)
  packages/sdks/overrides/react-native/src/functions/transform-block.ts
Owners: @BuilderIO/mitosis

Update README.md
  packages/gatsby/README.md
Owners: @BuilderIO/packages

feature(sdks): traverse all content for getAllContent
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/src/functions/get-content.ts
Owners: @BuilderIO/mitosis

chore(sdks): upgrade mitosis
  packages/sdks/package-lock.json
  packages/sdks/package.json
Owners: @BuilderIO/mitosis

change it's to its
  packages/react/src/blocks/Image.tsx
Owners: @BuilderIO/packages

fix(sdks): react-native & isBrowser interactions
  packages/sdks/overrides/react-native/src/functions/get-block-properties.ts
  packages/sdks/src/functions/is-browser.ts
  packages/sdks/src/functions/track.ts
Owners: @BuilderIO/mitosis

chore(sdks): build
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
Owners: @BuilderIO/mitosis

fix list type
  plugins/shopify/src/editors/ShopifyCollectionList.tsx
  plugins/shopify/src/editors/ShopifyProductList.tsx
Owners: @BuilderIO/e-commerce-plugins

release dev
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
Owners: @BuilderIO/e-commerce-plugins

use esbuild and reduce bundle size, release dev
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
  plugins/shopify/rollup.config.ts
  plugins/shopify/src/plugin.tsx
Owners: @BuilderIO/e-commerce-plugins

move external deps to dev deps
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
Owners: @BuilderIO/e-commerce-plugins

release dev
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
Owners: @BuilderIO/e-commerce-plugins

[shopify plugin] Fix shopify list type, and make build faster with smaller bundle (#741)
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
  plugins/shopify/rollup.config.ts
  plugins/shopify/src/editors/ShopifyCollectionList.tsx
  plugins/shopify/src/editors/ShopifyProductList.tsx
  plugins/shopify/src/plugin.tsx
Owners: @BuilderIO/e-commerce-plugins

release shopify plugin to patch
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
Owners: @BuilderIO/e-commerce-plugins

chore(core): add jest
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/packages

chore(core): add jest configuration
  packages/core/jest.config.ts
  packages/core/package.json
Owners: @BuilderIO/packages

chore(core): add typescript transform for jest
  packages/core/jest.config.ts
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/packages

test(core): add failing test to demonstrate issue ENG-1962
  packages/core/src/classes/query-string.class.test.ts
Owners: @BuilderIO/packages

fix(core)!: prevent prototype pollution
  packages/core/src/classes/query-string.class.ts
Owners: @BuilderIO/packages

refactor(core): use for loop over while+shift
  packages/core/src/classes/query-string.class.ts
Owners: @BuilderIO/packages

build(core): add Earthfile
  packages/core/Earthfile
Owners: @BuilderIO/packages

fixup! chore(core): add typescript transform for jest
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/packages

release shopify plugin to patch (#745)
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
Owners: @BuilderIO/e-commerce-plugins

Update README.md
  packages/vue/README.md
Owners: @BuilderIO/packages

Update README.md
  packages/sdks/output/vue/README.md
Owners: @BuilderIO/mitosis

[data-plugin-tools] add doc
  packages/data-plugin-tools/README.md
Owners: @BuilderIO/packages

use gif
  packages/data-plugin-tools/README.md
Owners: @BuilderIO/packages

[data-plugin-tools] add doc (#747)
  packages/data-plugin-tools/README.md
Owners: @BuilderIO/packages

include locale in url if configured
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

release dev
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
Owners: @BuilderIO/cms-plugins

remove extra submodule
  examples/react-native/package-lock.json
  examples/react-native/package.json
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

remove MQs
  packages/sdks/output/react-native/src/blocks/columns.lite.tsx
  packages/sdks/package-lock.json
  packages/sdks/package.json
Owners: @BuilderIO/mitosis

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# Mitosis
/packages/sdks/ @BuilderIO/mitosis


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
