Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/mitosis, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

examples(react-native): add navigation
  examples/react-native/App.tsx
  examples/react-native/package.json
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

examples(react-native): add link script
  examples/react-native/package.json
Owners: @BuilderIO/core-team

refactor and simplify shopify plugin to onlly require domain / accesstoken
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
  plugins/shopify/rollup.config.ts
  plugins/shopify/src/actions/on-editor-load.ts
  plugins/shopify/src/blocks/loading-spinner.ts
  plugins/shopify/src/blocks/product-box.ts
  plugins/shopify/src/blocks/product-collection.ts
  plugins/shopify/src/blocks/product-info.ts
  plugins/shopify/src/components/safe-component.tsx
  plugins/shopify/src/components/set-shopify-keys-message.tsx
  plugins/shopify/src/constants.ts
  plugins/shopify/src/editors/ShopifyCollectionList.tsx
  plugins/shopify/src/editors/ShopifyCollectionPicker.tsx
  plugins/shopify/src/editors/ShopifyProductList.tsx
  plugins/shopify/src/editors/ShopifyProductPicker.tsx
  plugins/shopify/src/functions/fast-clone.ts
  plugins/shopify/src/interfaces/builder-request.ts
  plugins/shopify/src/interfaces/custom-react-editor-props.ts
  plugins/shopify/src/interfaces/shopify-collection.ts
  plugins/shopify/src/interfaces/shopify-product.ts
  plugins/shopify/src/modules/blocks.ts
  plugins/shopify/src/plugin.ts
  plugins/shopify/src/plugin.tsx
  plugins/shopify/src/scripts/insert-blocks.ts
  plugins/shopify/src/typings.d.ts
  plugins/shopify/test/plugin.test.ts
  plugins/shopify/tools/gh-pages-publish.ts
  plugins/shopify/tools/semantic-release-prepare.ts
  plugins/shopify/tsconfig.json
Owners: @BuilderIO/e-commerce-plugins

release canary
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
Owners: @BuilderIO/e-commerce-plugins

add feature support matrix
  packages/sdks/README.md
  packages/sdks/output/react-native/README.md
  packages/sdks/output/vue/README.md
Owners: @BuilderIO/mitosis

chore: get local and universal build to work
  packages/angular/.gitignore
  packages/angular/angular.json
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/server.ts
  packages/angular/src/app/app-routing.module.ts
  packages/angular/src/app/app.component.html
  packages/angular/src/app/app.module.ts
  packages/angular/src/app/app.server.module.ts
  packages/angular/src/app/foo.component.ts
  packages/angular/src/tsconfig.server.json
  packages/angular/webpack.server.config.js
  packages/angular/yarn.lock
Owners: @BuilderIO/packages

improve docs
  packages/sdks/README.md
Owners: @BuilderIO/mitosis

chore(sdks): update docs
  packages/sdks/README.md
Owners: @BuilderIO/mitosis

fix request object on commercetools
  plugins/commercetools/rollup.config.ts
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

release
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
Owners: @BuilderIO/cms-plugins

fix fetch by handle
  plugins/commercetools/rollup.config.ts
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

fix call
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

publish
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
Owners: @BuilderIO/cms-plugins

[algolia sync] use private key for webhook headers
  plugins/algolia/src/create-web-hook.tsx
Owners: @BuilderIO/plugins

pass api key
  plugins/algolia/src/create-web-hook.tsx
Owners: @BuilderIO/plugins

pass model id
  plugins/algolia/src/create-web-hook.tsx
Owners: @BuilderIO/plugins

[commercetools plugin]: fix fetching by handle and request objects (#860)
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
  plugins/commercetools/rollup.config.ts
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

docs: JSX lite to mitosis
  packages/sdks/README.md
Owners: @BuilderIO/mitosis

delete packages/sdks/integration content
  packages/sdks/integration/frameworks/react-native/.expo-shared/assets.json
  packages/sdks/integration/frameworks/react-native/.gitignore
  packages/sdks/integration/frameworks/react-native/App.tsx
  packages/sdks/integration/frameworks/react-native/app.json
  packages/sdks/integration/frameworks/react-native/assets/adaptive-icon.png
  packages/sdks/integration/frameworks/react-native/assets/favicon.png
  packages/sdks/integration/frameworks/react-native/assets/icon.png
  packages/sdks/integration/frameworks/react-native/assets/splash.png
  packages/sdks/integration/frameworks/react-native/babel.config.js
  packages/sdks/integration/frameworks/react-native/package-lock.json
  packages/sdks/integration/frameworks/react-native/package.json
  packages/sdks/integration/frameworks/react-native/tsconfig.json
  packages/sdks/integration/frameworks/react-native/yarn.lock
  packages/sdks/integration/frameworks/solid/.gitignore
  packages/sdks/integration/frameworks/solid/README.md
  packages/sdks/integration/frameworks/solid/index.html
  packages/sdks/integration/frameworks/solid/package-lock.json
  packages/sdks/integration/frameworks/solid/package.json
  packages/sdks/integration/frameworks/solid/pnpm-lock.yaml
  packages/sdks/integration/frameworks/solid/src/App.jsx
  packages/sdks/integration/frameworks/solid/src/App.module.css
  packages/sdks/integration/frameworks/solid/src/assets/favicon.ico
  packages/sdks/integration/frameworks/solid/src/index.css
  packages/sdks/integration/frameworks/solid/src/index.jsx
  packages/sdks/integration/frameworks/solid/src/logo.svg
  packages/sdks/integration/frameworks/solid/vite.config.js
  packages/sdks/integration/frameworks/vue/.gitignore
  packages/sdks/integration/frameworks/vue/README.md
  packages/sdks/integration/frameworks/vue/babel.config.js
  packages/sdks/integration/frameworks/vue/package-lock.json
  packages/sdks/integration/frameworks/vue/package.json
  packages/sdks/integration/frameworks/vue/public/favicon.ico
  packages/sdks/integration/frameworks/vue/public/index.html
  packages/sdks/integration/frameworks/vue/src/App.vue
  packages/sdks/integration/frameworks/vue/src/assets/logo.png
  packages/sdks/integration/frameworks/vue/src/components/HelloWorld.vue
  packages/sdks/integration/frameworks/vue/src/main.js
Owners: @BuilderIO/mitosis

release:dev
  plugins/algolia/package-lock.json
  plugins/algolia/package.json
Owners: @BuilderIO/plugins

fix(react-native-sdk): add URL polyfill
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/react-native/yarn.lock
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/overrides/react-native/src/index.ts
Owners: @BuilderIO/mitosis

example(rn-sdk): catch error
  examples/react-native/App.tsx
  examples/react-native/package.json
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

Create CHANGELOG.md
  packages/sdks/output/react-native/CHANGELOG.md
Owners: @BuilderIO/mitosis

Create CHANGELOG.md
  packages/sdks/output/vue/CHANGELOG.md
Owners: @BuilderIO/mitosis

chore(sdks): publish
  examples/react-native/package.json
  examples/react-native/yarn.lock
  examples/vue-nuxt/.nvmrc
  examples/vue-nuxt/package-lock.json
  examples/vue-nuxt/package.json
  examples/vue-nuxt/pages/_page.vue
  examples/vue/vue-storefront/package.json
  examples/vue/vue-storefront/yarn.lock
  packages/sdks/output/react-native/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/core-team, @BuilderIO/mitosis

tweak dependencies and build
  packages/gatsby/.gitignore
  packages/gatsby/batching/dataloader-link.js
  packages/gatsby/batching/merge-queries.js
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

Remove dependency on url module
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/app/modules/builder/components/builder-component/builder-component.component.ts
Owners: @BuilderIO/packages

Working Angular Client Side with SDK
  examples/angular/.gitignore
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.ts
  examples/angular/src/app/app.module.ts
  examples/react/package-lock.json
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/app/modules/builder/builder.module.ts
Owners: @BuilderIO/core-team, @BuilderIO/packages

chore: cleanup readme and documentation for universal example
  examples/angular-universal/.gitignore
  examples/angular-universal/README.md
  examples/angular-universal/package.json
  examples/angular-universal/src/app/app.component.html
  examples/angular-universal/src/app/app.module.ts
  examples/angular-universal/src/index.html
Owners: @BuilderIO/core-team

Finish cleanup
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.module.ts
  packages/angular/src/app/app-routing.module.ts
  packages/angular/src/app/app.component.html
  packages/angular/src/app/app.module.ts
  packages/angular/src/app/foo.component.ts
  packages/angular/src/app/modules/builder/builder.module.ts
Owners: @BuilderIO/core-team, @BuilderIO/packages

chore(core): release core sdk
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/packages

chore(react-sdk): update core sdk version
  packages/react/package-lock.json
Owners: @BuilderIO/packages

chore(react-sdk): release new version
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/packages

SDKs: add support for current draft
  packages/sdks/jest.config.js
  packages/sdks/output/react-native/CHANGELOG.md
  packages/sdks/output/react-native/src/components/render-content.lite.tsx
  packages/sdks/output/vue/CHANGELOG.md
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/output/vue/nuxt2/src/components/render-content.vue
  packages/sdks/overrides/react-native/src/index-helpers/blocks-exports.ts
  packages/sdks/overrides/react-native/src/index-helpers/top-of-file.ts
  packages/sdks/overrides/react-native/src/index.ts
  packages/sdks/overrides/vue/src/index-helpers/blocks-exports.ts
  packages/sdks/overrides/vue/src/index.ts
  packages/sdks/package-lock.json
  packages/sdks/package.json
  packages/sdks/src/components/render-content.lite.tsx
  packages/sdks/src/functions/get-builder-search-params/__snapshots__/fn.test.ts.snap
  packages/sdks/src/functions/get-builder-search-params/fn.test.ts
  packages/sdks/src/functions/get-builder-search-params/index.ts
  packages/sdks/src/functions/get-content.test.ts
  packages/sdks/src/functions/get-content/__snapshots__/fn.test.ts.snap
  packages/sdks/src/functions/get-content/fn.test.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/get-processed-block.test.ts
  packages/sdks/src/index-helpers/blocks-exports.ts
  packages/sdks/src/index-helpers/top-of-file.ts
  packages/sdks/src/index.ts
Owners: @BuilderIO/mitosis

Create security.md
  SECURITY.md
Owners: @BuilderIO/core-team

SDKs: improve tests
  packages/sdks/src/functions/get-builder-search-params/fn.test.ts
  packages/sdks/src/functions/get-content/__snapshots__/fn.test.ts.snap
  packages/sdks/src/functions/get-content/fn.test.ts
  packages/sdks/src/functions/get-content/index.ts
Owners: @BuilderIO/mitosis

SDKs: add changelog
  packages/sdks/output/react-native/CHANGELOG.md
  packages/sdks/output/vue/CHANGELOG.md
Owners: @BuilderIO/mitosis

SDKs: tidy up default setting
  packages/sdks/src/functions/get-content/index.ts
Owners: @BuilderIO/mitosis

SDKs: undo change
  packages/sdks/src/functions/get-processed-block.test.ts
Owners: @BuilderIO/mitosis

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# Mitosis
/packages/sdks/ @BuilderIO/mitosis


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
