Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

always array
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-node.js
Owners: @BuilderIO/packages

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/e2e/qwik/.eslintrc.js
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/e2e/qwik/src/entry.express.tsx
  packages/sdks/e2e/qwik/src/entry.ssr.tsx
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/e2e/qwik/package.json
  packages/sdks/e2e/qwik/playwright.config.ts
  packages/sdks/e2e/qwik/src/entry.dev.tsx
  packages/sdks/e2e/qwik/src/entry.express.tsx
  packages/sdks/e2e/qwik/src/entry.ssr.tsx
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

test: 💍 Add sdk-qwik e2e tests (#1214)
  packages/sdks/.eslintignore
  packages/sdks/e2e/qwik/.eslintignore
  packages/sdks/e2e/qwik/.gitignore
  packages/sdks/e2e/qwik/.prettierignore
  packages/sdks/e2e/qwik/README.md
  packages/sdks/e2e/qwik/package.json
  packages/sdks/e2e/qwik/playwright.config.ts
  packages/sdks/e2e/qwik/src/entry.dev.tsx
  packages/sdks/e2e/qwik/src/entry.express.tsx
  packages/sdks/e2e/qwik/src/entry.ssr.tsx
  packages/sdks/e2e/qwik/src/global.css
  packages/sdks/e2e/qwik/src/main.tsx
  packages/sdks/e2e/qwik/src/root.tsx
  packages/sdks/e2e/qwik/tsconfig.json
  packages/sdks/e2e/qwik/vite.config.ts
  packages/sdks/output/qwik/README.md
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/yarn.lock
  packages/sdks/overrides/qwik/src/functions/mark-mutable.ts
  packages/sdks/package.json
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/components/render-inlined-styles.lite.tsx
  packages/sdks/src/functions/evaluate.ts
  packages/sdks/src/functions/mark-mutable.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

Update README.md
  README.md
Owners: @BuilderIO/core-team

update deps, add node-fetch
  packages/sdks/output/vue/nuxt.js
  packages/sdks/output/vue/vue2/package.json
  packages/sdks/output/vue/vue3/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

catch fetch error
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

externalize node-fetch in vue2 vite
  packages/sdks/output/vue/nuxt.js
  packages/sdks/output/vue/vue2/vite.config.ts
Owners: @BuilderIO/sdks

focument
  examples/vue/nuxt-2/nuxt.config.js
Owners: @BuilderIO/core-team

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

add release patch cmds
  packages/sdks/output/vue/package.json
  packages/sdks/scripts/release-sdk.sh
Owners: @BuilderIO/sdks

add core release cmds
  packages/sdks/package.json
Owners: @BuilderIO/sdks

rerun yarn
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

add angular/compiler workaround
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

move to dev
  packages/sdks/package.json
Owners: @BuilderIO/sdks

release vue sdk
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update nuxt2 example
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
Owners: @BuilderIO/core-team

move solid-index.jsx
  packages/sdks/output/solid/package.json
  packages/sdks/output/solid/solid-index.jsx
Owners: @BuilderIO/sdks

fix(sdks): Ensure that `+ add block` only shows up during editing
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

exclude vue3 e2e test
  packages/sdks/package.json
Owners: @BuilderIO/sdks

release patch
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

add changelog
  packages/gatsby/CHANGELOG.md
Owners: @BuilderIO/packages

[packages/gatsby] build for multiple urls on a single page (#1246)
  packages/gatsby/.gitignore
  packages/gatsby/CHANGELOG.md
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-node.js
Owners: @BuilderIO/packages

release stable
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/sdks

release and add changelog
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

[packages/react] add support for locale prop to autoresolve localized text and component inputs (#1244)
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/blocks/Symbol.tsx
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

fix(qwik): 🐛 Add support for TypeScript types to the Qwik SDK
  packages/sdks/mitosis.config.js
  packages/sdks/output/qwik/.gitignore
  packages/sdks/output/qwik/.npmignore
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/tsconfig.json
  packages/sdks/output/qwik/types.d.ts
  packages/sdks/output/qwik/vite.config.ts
  packages/sdks/output/qwik/yarn.lock
  packages/sdks/overrides/qwik/src/constants/target.ts
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/components/render-block/types.ts
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
  packages/sdks/src/context/builder.context.lite.ts
  packages/sdks/src/context/types.ts
  packages/sdks/src/functions/evaluate.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/get-processed-block.ts
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

fix(qwik): 🐛 Add support for TypeScript types to the Qwik SDK
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix(core): add missing model property to Input type interface
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

fix(core): add missing model property to Input type interface (#1251)
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

fixup! fix(qwik): 🐛 Add support for TypeScript types to the Qwik SDK
  packages/sdks/src/blocks/text/text.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

fixup! fix(qwik): 🐛 Add support for TypeScript types to the Qwik SDK
  packages/sdks/e2e/qwik/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixup! fix(qwik): 🐛 Add support for TypeScript types to the Qwik SDK
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/yarn.lock
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix(qwik): 🐛 Add support for TypeScript types to the Qwik SDK (#1250)
  packages/sdks/e2e/qwik/package.json
  packages/sdks/mitosis.config.js
  packages/sdks/output/qwik/.gitignore
  packages/sdks/output/qwik/.npmignore
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/tsconfig.json
  packages/sdks/output/qwik/types.d.ts
  packages/sdks/output/qwik/vite.config.ts
  packages/sdks/output/qwik/yarn.lock
  packages/sdks/overrides/qwik/src/constants/target.ts
  packages/sdks/package.json
  packages/sdks/src/blocks/text/text.lite.tsx
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/components/render-block/types.ts
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
  packages/sdks/src/context/builder.context.lite.ts
  packages/sdks/src/context/types.ts
  packages/sdks/src/functions/evaluate.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/get-processed-block.ts
  packages/sdks/src/functions/register-component.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix editing/previewing custom fields in a builder content
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

fixed comments on pr and added test
  packages/utils/src/get-all-content-with-refs.test.ts
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

fixed comments on pr and added test
  packages/utils/src/get-all-content-with-refs.test.ts
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

add comment to explain change
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks
