Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

fix jsx children type
  packages/sdks/src/blocks/image/image.lite.tsx
  packages/sdks/typings/module.augmentations.d.ts
Owners: @BuilderIO/sdks

publish SDKs
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update Vue README
  packages/sdks/output/vue/README.md
Owners: @BuilderIO/sdks

android improvements
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderBlock.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderColumns.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderImage.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderText.kt
Owners: @BuilderIO/packages

lint
  packages/sdks/output/vue/README.md
Owners: @BuilderIO/sdks

add comment from PR feedback
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderText.kt
  packages/swift/.gitignore
Owners: @BuilderIO/packages

Drop files from .gitignore
  examples/next-js-amp/.env
  packages/gatsby/src/batching/__tests__/dataloader-link.js
  packages/gatsby/src/batching/__tests__/merge-queries.js
  packages/gatsby/src/batching/dataloader-link.js
  packages/gatsby/src/batching/merge-queries.js
  packages/swift/src/testing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/swift/src/testing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/swift/src/testing.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/swift/src/testing.xcodeproj/project.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
  packages/swift/src/testing.xcodeproj/xcuserdata/stephensewell.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/swift/src/testing.xcodeproj/xcuserdata/stephensewell.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/IDEFindNavigatorScopes.plist
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @BuilderIO/core-team, @BuilderIO/packages

remove unused component
  packages/sdks/overrides/react-native/src/components/error-boundary.tsx
  packages/sdks/overrides/vue/src/components/error-boundary.vue
  packages/sdks/src/components/error-boundary.lite.tsx
Owners: @BuilderIO/sdks

add missing vue3 overrides
  packages/sdks/overrides/vue2/src/constants/target.ts
  packages/sdks/overrides/vue2/src/functions/event-handler-name.ts
  packages/sdks/overrides/vue2/src/functions/get-block-properties.ts
  packages/sdks/overrides/vue2/src/functions/get-block-styles.ts
  packages/sdks/overrides/vue2/src/index-helpers/blocks-exports.ts
  packages/sdks/overrides/vue3/src/constants/target.ts
  packages/sdks/overrides/vue3/src/functions/event-handler-name.ts
  packages/sdks/overrides/vue3/src/functions/get-block-properties.ts
  packages/sdks/overrides/vue3/src/functions/get-block-styles.ts
  packages/sdks/overrides/vue3/src/index-helpers/blocks-exports.ts
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/types/targets.ts
Owners: @BuilderIO/sdks

fix overrides folder vue
  packages/sdks/overrides/vue/vue2/src/constants/target.ts
  packages/sdks/overrides/vue/vue2/src/functions/event-handler-name.ts
  packages/sdks/overrides/vue/vue2/src/functions/get-block-properties.ts
  packages/sdks/overrides/vue/vue2/src/functions/get-block-styles.ts
  packages/sdks/overrides/vue/vue3/src/constants/target.ts
  packages/sdks/overrides/vue/vue3/src/functions/event-handler-name.ts
  packages/sdks/overrides/vue/vue3/src/functions/get-block-properties.ts
  packages/sdks/overrides/vue/vue3/src/functions/get-block-styles.ts
  packages/sdks/overrides/vue2/src/index-helpers/blocks-exports.ts
  packages/sdks/overrides/vue3/src/index-helpers/blocks-exports.ts
Owners: @BuilderIO/sdks

publish vue
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

update examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/yarn.lock
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

better android docs
  packages/android/README.md
  packages/swift/src/Shared/ContentView.swift
Owners: @BuilderIO/packages

accomodate requests for multiple sources
  packages/commerce-plugin-tools/package-lock.json
  packages/commerce-plugin-tools/package.json
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/rollup.config.ts
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/plugin-helpers.ts
  plugins/smartling/src/plugin.tsx
  plugins/smartling/src/smartling-configuration-editor.tsx
  plugins/smartling/src/smartling.ts
Owners: @BuilderIO/packages, @BuilderIO/plugins

restore files that should not have been gitignored
  packages/gatsby/.gitignore
  packages/gatsby/src/batching/__tests__/dataloader-link.js
  packages/gatsby/src/batching/__tests__/merge-queries.js
  packages/gatsby/src/batching/dataloader-link.js
  packages/gatsby/src/batching/merge-queries.js
Owners: @BuilderIO/packages

release patch
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

Update README.md
  README.md
Owners: @BuilderIO/core-team

Update README.md
  README.md
Owners: @BuilderIO/core-team

lock sveltekit version
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/yarn.lock
Owners: @BuilderIO/core-team

feat(cli): refinements for the Next.js Integration CLI
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

fix(sdks): handle mobile and tablet styles
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/constants/device-sizes.ts
  packages/sdks/src/functions/camel-to-kebab-case.ts
  packages/sdks/src/functions/get-block-styles.ts
  packages/sdks/src/helpers/css.ts
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/yarn.lock
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

add patch version release
  packages/cli/package-lock.json
  packages/cli/package.json
Owners: @BuilderIO/packages

feat(cli): refinements for the Next.js Integration CLI (#1118)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

update mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

publish
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/yarn.lock
Owners: @BuilderIO/core-team

update mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

release svelte sdk
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/yarn.lock
Owners: @BuilderIO/core-team

update mitosis, fix types
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/functions/get-block-tag.ts
  packages/sdks/tsconfig.json
  packages/sdks/typings/module.augmentations.d.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

lint
  packages/sdks/tsconfig.json
Owners: @BuilderIO/sdks

use catch-all route for svelte
  examples/svelte/sveltekit/src/routes/[...catch_all].svelte
  examples/svelte/sveltekit/src/routes/index.svelte
Owners: @BuilderIO/core-team

add types
  packages/sdks/src/context/builder.context.lite.ts
  packages/sdks/src/functions/evaluate.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/get-processed-block.ts
Owners: @BuilderIO/sdks

add types
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

fix types
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/context/builder.context.lite.ts
  packages/sdks/src/functions/evaluate.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/get-processed-block.ts
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

add ProvideContext
  packages/sdks/src/components/render-block/provide-context.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

re-enable prettier
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks
