Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

remove mitosis types
  packages/sdks/src/functions/get-block-tag.ts
Owners: @BuilderIO/sdks

oops
  packages/sdks/e2e/vue-3/package.json
  packages/sdks/output/vue/packages/_vue2/package.json
  packages/sdks/output/vue/packages/_vue3/package.json
Owners: @BuilderIO/sdks

publish svelte
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

init sveltekit
  examples/svelte/sveltekit/.eslintignore
  examples/svelte/sveltekit/.eslintrc.cjs
  examples/svelte/sveltekit/.gitignore
  examples/svelte/sveltekit/.npmrc
  examples/svelte/sveltekit/.prettierignore
  examples/svelte/sveltekit/.prettierrc
  examples/svelte/sveltekit/README.md
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/src/app.html
  examples/svelte/sveltekit/src/routes/+page.svelte
  examples/svelte/sveltekit/svelte.config.js
  examples/svelte/sveltekit/vite.config.js
Owners: @BuilderIO/core-team

fixup! fix(qwik): dont pull in `node-fetch` in bundles
  packages/sdks/src/functions/get-fetch.ts
Owners: @BuilderIO/sdks

Revert "upgrade qwik"
  packages/sdks/.yarn/patches/@builder.io-qwik-npm-0.0.108-dev20220913220811-a915e8c55f.patch
  packages/sdks/e2e/qwik/package.json
  packages/sdks/output/qwik/package.json
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

run yarn
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixup! fix(qwik): dont pull in `node-fetch` in bundles
  packages/sdks/src/functions/get-fetch.ts
Owners: @BuilderIO/sdks

fixup! fix(qwik): dont pull in `node-fetch` in bundles
  packages/sdks/src/functions/get-fetch.ts
Owners: @BuilderIO/sdks

improve getBuilderSearchParams
  packages/sdks/src/functions/get-builder-search-params/index.ts
Owners: @BuilderIO/sdks

add builder to sveltekit example
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/src/lib/Counter.svelte
  examples/svelte/sveltekit/src/routes/+page.svelte
  examples/svelte/sveltekit/src/routes/[...catchall]/+page.server.js
  examples/svelte/sveltekit/src/routes/[...catchall]/+page.svelte
Owners: @BuilderIO/core-team

release
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

upgrade
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
Owners: @BuilderIO/core-team

remove log
  examples/svelte/sveltekit/src/routes/[...catchall]/+page.server.js
Owners: @BuilderIO/core-team

share api key
  examples/svelte/sveltekit/src/apiKey.ts
  examples/svelte/sveltekit/src/routes/[...catchall]/+page.server.js
  examples/svelte/sveltekit/src/routes/[...catchall]/+page.svelte
Owners: @BuilderIO/core-team

readme
  examples/svelte/sveltekit/README.md
  examples/svelte/sveltekit/src/apiKey.js
Owners: @BuilderIO/core-team

ENG-2956 use device sizes based on breakpoints in content.data
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/constants/device-sizes.constant.ts
  packages/react/src/functions/utils.ts
Owners: @BuilderIO/sdks

fix prettier warning
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

Revert the line to earlier version to allow merge to continue
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

Fix spelling
  packages/personalization-utils/README.md
  packages/personalization-utils/src/next.ts
Owners: @BuilderIO/packages

Fix spelling (#1256)
  packages/personalization-utils/README.md
  packages/personalization-utils/src/next.ts
Owners: @BuilderIO/packages

[packages/personalization-utils] release spelling fix
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

add missing rn sdk overrides imports
  packages/sdks/overrides/react-native/src/blocks/image/image.tsx
  packages/sdks/overrides/react-native/src/blocks/text/text.tsx
  packages/sdks/overrides/react-native/src/blocks/video/video.tsx
Owners: @BuilderIO/sdks

[packages/personalization-utils] release spelling fix (#1257)
  packages/personalization-utils/package-lock.json
  packages/personalization-utils/package.json
Owners: @BuilderIO/packages

release rn sdk
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

upgrade example
  examples/react-native/package.json
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

remove ts from example
  examples/react-native/App.jsx
  examples/react-native/tsconfig.json
  examples/react-native/typings.d.ts
Owners: @BuilderIO/core-team

workaround limitation in builder overrides
  packages/sdks/overrides/react-native/src/blocks/image/image.js
  packages/sdks/overrides/react-native/src/blocks/text/text.js
Owners: @BuilderIO/sdks

release
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

upgrade example
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

prettier ignore
  .prettierignore
  packages/sdks/.prettierignore
Owners: @BuilderIO/core-team, @BuilderIO/sdks

fix react-native styles
  packages/sdks/src/functions/convert-style-object.ts
  packages/sdks/src/functions/get-block-styles.ts
Owners: @BuilderIO/sdks

add medium styles
  packages/sdks/src/functions/get-block-styles.ts
Owners: @BuilderIO/sdks

release
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

ugprade example
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

remove log
  packages/sdks/src/functions/get-block-styles.ts
Owners: @BuilderIO/sdks

release
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

ugprade example
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

fix: 🐛 Qwik event handling
  examples/svelte/svelte-vite/yarn.lock
  packages/sdks/output/qwik/package.json
  packages/sdks/overrides/qwik/src/functions/event-handler-name.ts
  packages/sdks/overrides/qwik/src/functions/get-block-actions-handler.ts
  packages/sdks/src/blocks/custom-code/custom-code.lite.tsx
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
  packages/sdks/src/functions/get-block-actions-handler.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/get-block-styles.ts
  packages/sdks/src/types/targets.ts
Owners: @BuilderIO/core-team, @BuilderIO/sdks

fix sanitizeStyles in RN SDK
  packages/sdks/overrides/react-native/src/functions/sanitize-styles.ts
  packages/sdks/src/functions/get-block-styles.ts
  packages/sdks/src/functions/sanitize-styles.ts
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
