Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

deploy
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

update example
  examples/react-native/package-lock.json
  examples/react-native/package.json
Owners: @BuilderIO/core-team

fix yarn
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

add support for repreat/threshold inputs on scrollInView animation
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
  packages/core/src/classes/animator.class.ts
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

add support for repreat/threshold inputs on scrollInView animation
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/classes/animator.class.ts
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

fix threshold
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/classes/animator.class.ts
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

prettier
  packages/core/src/builder.class.ts
  packages/core/src/classes/animator.class.ts
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

output ts for vue
  packages/sdks/mitosis.config.js
  packages/sdks/output/vue/packages/_vue2/vite.config.ts
  packages/sdks/output/vue/packages/_vue3/vite.config.ts
Owners: @BuilderIO/sdks

percentage
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/classes/animator.class.ts
Owners: @BuilderIO/sdks

percentage
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

[packages/react] fix editing/previewing custom fields in a builder content when it contains a buildercomponent of same model (#1252)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

ENG-2956 Adding 'supportsCustomBreakpoints' feature support flag
  packages/react/src/blocks/Section.tsx
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/constants/device-sizes.constant.ts
  packages/react/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

enforce type imports
  packages/sdks/.eslintrc.js
  packages/sdks/overrides/react-native/src/functions/get-block-properties.ts
  packages/sdks/overrides/react-native/src/functions/get-block-tag.ts
  packages/sdks/overrides/react-native/src/functions/transform-block.ts
  packages/sdks/overrides/vue/vue2/src/functions/get-block-properties.ts
  packages/sdks/overrides/vue/vue3/src/functions/get-block-properties.ts
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/image/image.lite.tsx
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-block/types.ts
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/context/builder.context.lite.ts
  packages/sdks/src/context/types.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/get-block-component-options.ts
  packages/sdks/src/functions/get-block-properties.ts
  packages/sdks/src/functions/get-block-styles.ts
  packages/sdks/src/functions/get-block-tag.ts
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/get-processed-block.test.ts
  packages/sdks/src/functions/get-processed-block.ts
  packages/sdks/src/functions/register-component.ts
  packages/sdks/src/functions/register.ts
  packages/sdks/src/functions/track.ts
  packages/sdks/src/functions/transform-block.ts
  packages/sdks/src/helpers/cookie.ts
  packages/sdks/src/helpers/sessionId.ts
  packages/sdks/src/types/builder-content.ts
Owners: @BuilderIO/sdks

lint e2e
  packages/sdks/e2e/qwik/src/entry.dev.tsx
  packages/sdks/e2e/qwik/src/entry.ssr.tsx
  packages/sdks/e2e/tests/tests/main.spec.ts
  packages/sdks/e2e/vue-2/src/shims-tsx.d.ts
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/sdks

reinstate vue3 e2e tests
  packages/sdks/package.json
Owners: @BuilderIO/sdks

set isolatedModules:true
  packages/sdks/tsconfig.json
Owners: @BuilderIO/sdks

revert changes
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/sdks

lint
  packages/sdks/src/functions/get-block-actions-handler.ts
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/helpers/ab-tests.ts
  packages/sdks/src/helpers/localStorage.ts
  packages/sdks/src/helpers/visitorId.ts
Owners: @BuilderIO/sdks

lint
  packages/sdks/overrides/qwik/src/functions/get-block-actions-handler.ts
  packages/sdks/overrides/react-native/src/helpers/cookie.ts
Owners: @BuilderIO/sdks

revert change
  packages/sdks/package.json
Owners: @BuilderIO/sdks

fix types
  packages/sdks/src/blocks/columns/columns.lite.tsx
Owners: @BuilderIO/sdks

publish
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

publish
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

Update README.md
  packages/android/README.md
Owners: @BuilderIO/packages

flatten Show statements
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/e2e/vue-2/vite.config.ts
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

Add `override` property for overriding built-in component to types and generated docs
  packages/core/docs/interfaces/Component.md
  packages/core/docs/interfaces/GetContentOptions.md
  packages/core/docs/interfaces/Input.md
  packages/core/docs/interfaces/InsertMenuConfig.md
  packages/core/docs/interfaces/InsertMenuItem.md
  packages/core/docs/interfaces/UserAttributes.md
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

lint
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

Link to docs for override
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

add types to vue sdk
  packages/sdks/output/vue/packages/_vue2/package.json
  packages/sdks/output/vue/packages/_vue2/vite.config.ts
  packages/sdks/output/vue/packages/_vue3/package.json
  packages/sdks/output/vue/packages/_vue3/vite.config.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

re-instate vue2 tests
  packages/sdks/package.json
Owners: @BuilderIO/sdks

lint
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

publish core
  packages/core/package-lock.json
  packages/core/package.json
Owners: @BuilderIO/sdks

add changelog
  packages/core/CHANGELOG.md
Owners: @BuilderIO/sdks

add changelog
  packages/react/CHANGELOG.md
Owners: @BuilderIO/sdks

remove bad config
  packages/react/rollup.config.ts
Owners: @BuilderIO/sdks

release new react SDK
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

exclude broken nextjs
  packages/sdks/package.json
Owners: @BuilderIO/sdks

remove duplicate SDK build
  .github/workflows/ci.yml
  packages/sdks/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks
