Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

lint
  packages/react/src/blocks/Section.tsx
Owners: @BuilderIO/sdks

assign value
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

release
  packages/utils/package-lock.json
  packages/utils/package.json
Owners: @BuilderIO/packages

fix custom components not sset
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

change copy to remove confustion
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

release
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

Fixes for patch updates
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-blocks.component.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/components/builder-content.component.tsx
  packages/react/src/functions/apply-patch-with-mutation.test.ts
  packages/react/src/functions/apply-patch-with-mutation.ts
  packages/react/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

small updates
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-blocks.component.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

Update README.md
  README.md
Owners: @BuilderIO/core-team

Update README.md
  README.md
Owners: @BuilderIO/core-team

[plugins/smartling] address feedback on project names in the list (#1213)
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

Fixes for patch updates (#1242)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-blocks.component.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/components/builder-content.component.tsx
  packages/react/src/functions/apply-patch-with-mutation.test.ts
  packages/react/src/functions/apply-patch-with-mutation.ts
  packages/react/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

Add a rootMargin to the Section block (#1241)
  packages/react/src/blocks/Section.tsx
Owners: @BuilderIO/sdks

publish webcomponents
  packages/webcomponents/package-lock.json
  packages/webcomponents/package.json
Owners: @BuilderIO/packages

[packages/react] add support for locale prop to autoresolve localized text and component inputs
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/blocks/Symbol.tsx
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

pass in symbol
  packages/react/src/blocks/Symbol.tsx
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

release:dev
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

lint
  packages/react/src/blocks/Symbol.tsx
Owners: @BuilderIO/sdks

unescape responses with escaped html
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/__snapshots__/translation-helpers.test.ts.snap
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

remove log from test
  packages/utils/src/translation-helpers.test.ts
Owners: @BuilderIO/packages

lock svelte version
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

tweak type import
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

Update packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].jsx
Owners: @BuilderIO/packages

Update packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].jsx
Owners: @BuilderIO/packages

Update packages/cli/src/templates/nextjs/[...page].tsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

Update packages/cli/src/templates/nextjs/[...page].tsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

lock svelte versions again
  packages/sdks/output/svelte/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

allow locale option from preview url
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

remove the need to traverse on client side
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-block.component.tsx
Owners: @BuilderIO/sdks

actually use the sdk
  packages/core/package-lock.json
  packages/core/package.json
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

lint
  packages/core/src/builder.class.ts
  packages/react/src/components/builder-block.component.tsx
Owners: @BuilderIO/sdks

Improvements to our getting started CLI (#1239)
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

docs
  packages/core/src/builder.class.ts
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

Bump versions
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/packages, @BuilderIO/sdks

clear and re-install
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix svelte tsconfig
  packages/sdks/mitosis.config.js
  packages/sdks/output/svelte/tsconfig.json
Owners: @BuilderIO/sdks

Bump versions (#1245)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/packages, @BuilderIO/sdks

release new dev
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/e2e/qwik/package.json
  packages/sdks/e2e/qwik/src/entry.dev.tsx
  packages/sdks/e2e/qwik/src/entry.express.tsx
  packages/sdks/e2e/qwik/src/entry.ssr.tsx
  packages/sdks/e2e/qwik/src/root.tsx
  packages/sdks/output/qwik/README.md
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/yarn.lock
  packages/sdks/overrides/qwik/src/functions/mark-mutable.ts
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/components/render-inlined-styles.lite.tsx
  packages/sdks/src/functions/evaluate.ts
  packages/sdks/src/functions/mark-mutable.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

[packages/gatsby] build for multiple urls on a single page
  packages/gatsby/.gitignore
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-node.js
Owners: @BuilderIO/packages

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
