Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

update vm2
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

update package in example
  examples/next-js-simple/package-lock.json
  examples/next-js-simple/package.json
Owners: @BuilderIO/core-team

publish svelte
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

ugprade version
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/yarn.lock
Owners: @BuilderIO/core-team

sfcc pwakit plugin
  plugins/salesforce-commerce-api-plugin/.gitignore
  plugins/salesforce-commerce-api-plugin/.travis.yml
  plugins/salesforce-commerce-api-plugin/CONTRIBUTING.md
  plugins/salesforce-commerce-api-plugin/LICENSE
  plugins/salesforce-commerce-api-plugin/README.md
  plugins/salesforce-commerce-api-plugin/package-lock.json
  plugins/salesforce-commerce-api-plugin/package.json
  plugins/salesforce-commerce-api-plugin/rollup.config.ts
  plugins/salesforce-commerce-api-plugin/src/api.ts
  plugins/salesforce-commerce-api-plugin/src/plugin.ts
  plugins/salesforce-commerce-api-plugin/src/types.d.ts
  plugins/salesforce-commerce-api-plugin/tsconfig.json
  plugins/salesforce-commerce-api-plugin/tslint.json
Owners: @BuilderIO/plugins

publish
  plugins/salesforce-commerce-api-plugin/package-lock.json
  plugins/salesforce-commerce-api-plugin/package.json
Owners: @BuilderIO/plugins

use api root
  plugins/salesforce-commerce-api-plugin/package-lock.json
  plugins/salesforce-commerce-api-plugin/package.json
  plugins/salesforce-commerce-api-plugin/src/api.ts
Owners: @BuilderIO/plugins

fixes
  packages/commerce-plugin-tools/package-lock.json
  packages/commerce-plugin-tools/package.json
  packages/commerce-plugin-tools/src/editors/ResourcesPicker.tsx
  packages/commerce-plugin-tools/src/index.tsx
  plugins/salesforce-commerce-api-plugin/package-lock.json
  plugins/salesforce-commerce-api-plugin/package.json
  plugins/salesforce-commerce-api-plugin/src/api.ts
  plugins/salesforce-commerce-api-plugin/src/plugin.ts
Owners: @BuilderIO/packages, @BuilderIO/plugins

Fix SDK example (#1126)
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
Owners: @BuilderIO/packages

Document tips on creating good Builder examples
  examples/CONTRIBUTING.md
Owners: @BuilderIO/core-team

cleanup
  examples/CONTRIBUTING.md
Owners: @BuilderIO/core-team

update peer deps on context menu package
  packages/personalization-utils/configurator/package-lock.json
  packages/personalization-utils/configurator/package.json
Owners: @BuilderIO/packages

Document tips on creating good Builder examples (#1135)
  examples/CONTRIBUTING.md
Owners: @BuilderIO/core-team

one more best practice for examples
  examples/CONTRIBUTING.md
Owners: @BuilderIO/core-team

small update
  examples/CONTRIBUTING.md
Owners: @BuilderIO/core-team

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix serialization of custom components
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

fix symbol id lookup
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/functions/get-content/fn.test.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/get-content/types.ts
  packages/sdks/src/helpers/flatten.ts
Owners: @BuilderIO/sdks

add types
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
Owners: @BuilderIO/sdks

rename type
  packages/sdks/src/functions/get-content/index.ts
Owners: @BuilderIO/sdks

fix previewApiKey
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

simplify sveltekit example
  examples/svelte/sveltekit/src/lib/DynamicallyRenderBuilderPage.svelte
  examples/svelte/sveltekit/src/routes/[...catch_all].svelte
Owners: @BuilderIO/core-team

docs added
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

fix fn serialization
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

revert name changes
  packages/sdks/src/functions/get-content/fn.test.ts
Owners: @BuilderIO/sdks

yarn update
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/yarn.lock
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
Owners: @BuilderIO/core-team

upgrade examples
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

description changes
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

typo fix
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

add missing customComponents prop
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
Owners: @BuilderIO/sdks

simplify example
  examples/solid-js/src/App.jsx
Owners: @BuilderIO/core-team

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/yarn.lock
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
Owners: @BuilderIO/core-team

upgrade vue examples
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

automatically read window.location.search for builder params
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/get-builder-search-params/index.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/get-content/types.ts
  packages/sdks/src/functions/previewing-model-name.ts
Owners: @BuilderIO/sdks

update examples
  examples/react-native/App.tsx
  examples/solid-js/src/App.jsx
  examples/svelte/sveltekit/src/lib/DynamicallyRenderBuilderPage.svelte
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-2/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-3/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-storefront-2/components/Builder/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/core-team

remove usage of isEditing
  examples/react-native/App.tsx
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-storefront-2/components/Builder/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/core-team

upgrade sveltekit
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/vite.config.ts
  examples/svelte/sveltekit/yarn.lock
Owners: @BuilderIO/core-team

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
