Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

add evaluateBindings bool to getProcessedBlock
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/provide-context.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/functions/get-processed-block.test.ts
  packages/sdks/src/functions/get-processed-block.ts
Owners: @BuilderIO/sdks

fix boolean logic, document
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

fix get-block-styles by extracting overridden fns
  packages/sdks/overrides/react-native/src/functions/sanitize-styles.ts
  packages/sdks/overrides/solid/src/functions/convert-style-object.ts
  packages/sdks/overrides/solid/src/functions/get-block-styles.ts
  packages/sdks/src/functions/convert-style-object.ts
  packages/sdks/src/functions/get-block-styles.ts
  packages/sdks/src/functions/sanitize-styles.ts
Owners: @BuilderIO/sdks

fix provider to include RenderBlock for vue-2
  packages/sdks/.eslintrc.js
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

publish sdks, upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/yarn.lock
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

fix lint warnings
  packages/sdks/overrides/react-native/src/functions/get-block-tag.ts
  packages/sdks/src/blocks/section/section.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

remove sveltekit example styles
  examples/svelte/sveltekit/src/app.css
  examples/svelte/sveltekit/src/routes/__layout.svelte
Owners: @BuilderIO/core-team

native SDK fixes
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderBlock.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
  packages/swift/src/Shared/ContentView.swift
Owners: @BuilderIO/packages

Update plugins/smartling/src/plugin.tsx
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

[@builder.io/plugin-smartling] show a notification with link to job d… (#1101)
  packages/commerce-plugin-tools/package-lock.json
  packages/commerce-plugin-tools/package.json
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/rollup.config.ts
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/plugin-helpers.ts
  plugins/smartling/src/plugin.tsx
  plugins/smartling/src/smartling-configuration-editor.tsx
  plugins/smartling/src/smartling.ts
  plugins/smartling/src/snackbar-utils.tsx
Owners: @BuilderIO/packages, @BuilderIO/plugins

Docs: Note on interoperability
  packages/android/README.md
Owners: @BuilderIO/packages

small updates
  packages/android/README.md
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
Owners: @BuilderIO/packages

docs: imrpove kotlin code snippet
  packages/android/README.md
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
Owners: @BuilderIO/packages

small improvements
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
Owners: @BuilderIO/packages

native SDK fixes (#1124)
  packages/android/README.md
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderBlock.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
  packages/swift/src/Shared/ContentView.swift
Owners: @BuilderIO/packages

render default variant when cookies are disabled (#1106)
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/variants-provider.component.tsx
Owners: @BuilderIO/sdks

Fix SDK example
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
Owners: @BuilderIO/packages

fix video src key
  packages/sdks/src/blocks/video/video.lite.tsx
Owners: @BuilderIO/sdks

export embed component
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
Owners: @BuilderIO/sdks

convert onChange to fn
  packages/sdks/src/blocks/embed/component-info.ts
Owners: @BuilderIO/sdks

fix component registration for fns, remove fastClone
  packages/sdks/src/functions/fast-clone.ts
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

fix embed hook logic
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/blocks/embed/helpers.ts
Owners: @BuilderIO/sdks

move state setting logic
  packages/sdks/src/blocks/embed/embed.lite.tsx
Owners: @BuilderIO/sdks

update mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

publish svelte SDK
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

update sdk in examples
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/sveltekit/yarn.lock
Owners: @BuilderIO/core-team

fix onChange
  packages/sdks/src/blocks/columns/component-info.ts
  packages/sdks/src/blocks/embed/component-info.ts
  packages/sdks/src/blocks/image/component-info.ts
  packages/sdks/src/types/components.ts
Owners: @BuilderIO/sdks

add webP support
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

fix styles
  examples/svelte/sveltekit/src/routes/[...catch_all].svelte
Owners: @BuilderIO/core-team

fix deps
  packages/core/package-lock.json
  packages/core/package.json
  packages/react/internal-types.d.ts
  packages/react/jest.config.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/rollup.config.ts
  packages/react/test/__snapshots__/image.test.tsx.snap
  packages/react/test/basic.test.tsx
Owners: @BuilderIO/sdks

release dev
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/rollup.config.ts
Owners: @BuilderIO/sdks

update widgets
  packages/widgets/package-lock.json
  packages/widgets/package.json
  packages/widgets/rollup.config.ts
Owners: @BuilderIO/packages

add missing srcset logic from img block
  packages/sdks/src/blocks/image/image.helpers.ts
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix eval when data bounded to number or non string
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/blocks/Text.tsx
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

temporary peer until full release
  packages/widgets/package-lock.json
  packages/widgets/package.json
Owners: @BuilderIO/packages

use latest in nextjs example
  examples/next-js-simple/package-lock.json
  examples/next-js-simple/package.json
  examples/next-js-simple/tsconfig.json
Owners: @BuilderIO/core-team

load widgets async
  examples/next-js-simple/pages/[[...page]].tsx
Owners: @BuilderIO/core-team

prettier
  packages/react/jest.config.js
  packages/react/rollup.config.ts
  packages/react/src/components/builder-component.component.tsx
  packages/widgets/rollup.config.ts
Owners: @BuilderIO/sdks, @BuilderIO/packages
