Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

Update README.md
  plugins/sfcc-headless/README.md
Owners: @BuilderIO/plugins

maybe fix lint
  plugins/sfcc-headless/src/data-provider.ts
Owners: @BuilderIO/plugins

corrected typo
  packages/core/docs/interfaces/Input.md
Owners: @BuilderIO/sdks

corrected typo (#1061)
  packages/core/docs/interfaces/Input.md
Owners: @BuilderIO/sdks

Update CategoriesPicker.tsx
  plugins/sfcc-headless/src/CategoriesPicker.tsx
Owners: @BuilderIO/plugins

[@builder.io/plugin-sfcc-headless] Add field types and data provider configurations for product and categories (#923)
  packages/commerce-plugin-tools/src/editors/ResourcesList.tsx
  packages/commerce-plugin-tools/src/editors/ResourcesPicker.tsx
  packages/commerce-plugin-tools/src/index.tsx
  plugins/sfcc-headless/.gitignore
  plugins/sfcc-headless/.travis.yml
  plugins/sfcc-headless/CONTRIBUTING.md
  plugins/sfcc-headless/LICENSE
  plugins/sfcc-headless/README.md
  plugins/sfcc-headless/package-lock.json
  plugins/sfcc-headless/package.json
  plugins/sfcc-headless/rollup.config.ts
  plugins/sfcc-headless/src/CategoriesPicker.tsx
  plugins/sfcc-headless/src/ProductsPicker.tsx
  plugins/sfcc-headless/src/data-provider.ts
  plugins/sfcc-headless/src/plugin.tsx
  plugins/sfcc-headless/src/typings.d.ts
  plugins/sfcc-headless/tsconfig.json
  plugins/sfcc-headless/tslint.json
Owners: @BuilderIO/packages, @BuilderIO/plugins

fix typo
  plugins/sfcc-headless/README.md
Owners: @BuilderIO/plugins

fix for resource list on commerce package
  packages/commerce-plugin-tools/package-lock.json
  packages/commerce-plugin-tools/package.json
  packages/commerce-plugin-tools/src/editors/ResourcesList.tsx
Owners: @BuilderIO/packages

fix for resource list on commerce package
  packages/commerce-plugin-tools/src/editors/ResourcesList.tsx
Owners: @BuilderIO/packages

fix typo
  packages/commerce-plugin-tools/src/editors/ResourcesList.tsx
Owners: @BuilderIO/packages

chore(sdks): use recommended eslint config
  packages/sdks/.eslintrc.js
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix(sdks): add eslint, fix errors
  packages/sdks/.eslintignore
  packages/sdks/overrides/react-native/src/blocks/text/text.tsx
  packages/sdks/overrides/react-native/src/functions/get-block-styles.ts
  packages/sdks/package.json
  packages/sdks/src/blocks/custom-code/custom-code.lite.tsx
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/blocks/form/form.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/macro-eval.ts
  packages/sdks/src/scripts/init-editing.ts
  packages/sdks/src/types/components.ts
  packages/sdks/src/types/element.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix(sdks): add typechecking and fix type issues 😅
  packages/sdks/output/react-native/src/blocks/image/image.lite.tsx
  packages/sdks/output/react-native/src/components/render-block/render-block.lite.tsx
  packages/sdks/output/solid/src/blocks/columns/columns.lite.tsx
  packages/sdks/output/solid/src/blocks/image/image.jsx
  packages/sdks/output/solid/src/blocks/image/image.lite.tsx
  packages/sdks/output/solid/src/components/render-block/render-block.jsx
  packages/sdks/output/solid/src/components/render-block/render-block.lite.tsx
  packages/sdks/output/svelte/src/blocks/image/image.svelte
  packages/sdks/output/svelte/src/components/render-block/render-block.svelte
  packages/sdks/output/vue/nuxt2/src/blocks/columns/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/form/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block/render-block.vue
  packages/sdks/package.json
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/form/form.lite.tsx
  packages/sdks/src/blocks/image/image.lite.tsx
  packages/sdks/src/blocks/symbol/component-info.ts
  packages/sdks/src/components/render-inlined-styles.lite.tsx
  packages/sdks/src/scripts/init-editing.ts
  packages/sdks/src/types/components.ts
  packages/sdks/tsconfig.json
  packages/sdks/typings/module.augmentations.d.ts
Owners: @BuilderIO/sdks

format
  packages/sdks/.eslintignore
  packages/sdks/tsconfig.json
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

add changelogs
  packages/sdks/output/react-native/CHANGELOG.md
  packages/sdks/output/svelte/CHANGELOG.md
  packages/sdks/output/vue/CHANGELOG.md
Owners: @BuilderIO/sdks

fix changelog
  packages/sdks/output/react-native/CHANGELOG.md
  packages/sdks/output/vue/CHANGELOG.md
Owners: @BuilderIO/sdks

automate example update script
  packages/sdks/package.json
  packages/sdks/scripts/upgrade-example.sh
  scripts/update-npm-dependency.mjs
Owners: @BuilderIO/sdks, @BuilderIO/core-team

update sdk examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte/sveltekit/yarn.lock
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

fix(sdks): extract RenderComponentAndSTyles, reuse
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component-and-styles.lite.tsx
  packages/sdks/src/functions/get-block-component-options.ts
  packages/sdks/src/functions/get-block-tag.ts
Owners: @BuilderIO/sdks

fix(sdks): build SDKs
  packages/sdks/output/react-native/src/components/render-block/render-block.lite.tsx
  packages/sdks/output/react-native/src/components/render-block/render-component-and-styles.lite.tsx
  packages/sdks/output/solid/src/components/render-block/render-block.jsx
  packages/sdks/output/solid/src/components/render-block/render-block.lite.tsx
  packages/sdks/output/solid/src/components/render-block/render-component-and-styles.jsx
  packages/sdks/output/solid/src/components/render-block/render-component-and-styles.lite.tsx
  packages/sdks/output/svelte/src/components/render-block/render-block.svelte
  packages/sdks/output/svelte/src/components/render-block/render-component-and-styles.svelte
  packages/sdks/output/vue/nuxt2/src/blocks/columns/columns.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block/render-component-and-styles.vue
Owners: @BuilderIO/sdks

publish svelte sdk
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

fix(sdks): render styles outside of block
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component-and-styles.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
Owners: @BuilderIO/sdks

document
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
Owners: @BuilderIO/sdks

chore(sdks): build
  packages/sdks/output/react-native/src/components/render-block/block-styles.lite.tsx
  packages/sdks/output/react-native/src/components/render-block/render-block.lite.tsx
  packages/sdks/output/react-native/src/components/render-block/render-component-and-styles.lite.tsx
  packages/sdks/output/react-native/src/components/render-block/render-component.lite.tsx
  packages/sdks/output/react-native/src/components/render-blocks.lite.tsx
  packages/sdks/output/solid/src/components/render-block/block-styles.jsx
  packages/sdks/output/solid/src/components/render-block/block-styles.lite.tsx
  packages/sdks/output/solid/src/components/render-block/render-block.jsx
  packages/sdks/output/solid/src/components/render-block/render-block.lite.tsx
  packages/sdks/output/solid/src/components/render-block/render-component-and-styles.jsx
  packages/sdks/output/solid/src/components/render-block/render-component-and-styles.lite.tsx
  packages/sdks/output/solid/src/components/render-block/render-component.jsx
  packages/sdks/output/solid/src/components/render-block/render-component.lite.tsx
  packages/sdks/output/solid/src/components/render-blocks.jsx
  packages/sdks/output/solid/src/components/render-blocks.lite.tsx
  packages/sdks/output/svelte/src/components/render-block/block-styles.svelte
  packages/sdks/output/svelte/src/components/render-block/render-block.svelte
  packages/sdks/output/svelte/src/components/render-block/render-component-and-styles.svelte
  packages/sdks/output/svelte/src/components/render-block/render-component.svelte
  packages/sdks/output/svelte/src/components/render-blocks.svelte
  packages/sdks/output/vue/nuxt2/src/blocks/image/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block/block-styles.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block/render-component.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
Owners: @BuilderIO/sdks

publish SDKs
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/nuxt2/src/blocks/columns/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/form/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte/sveltekit/yarn.lock
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

feat(cli): add a command to integrate with an existing site
  packages/cli/.prettierrc
  packages/cli/package-lock.json
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs-[pages].tsx
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
Owners: @BuilderIO/packages

update prettier config
  packages/cli/.prettierrc
  packages/cli/package-lock.json
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
  packages/cli/src/utils.ts
Owners: @BuilderIO/packages

some prettier cleanup
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs-[pages].tsx
Owners: @BuilderIO/packages

chore(sdks): document change
  packages/sdks/README.md
  packages/sdks/output/react-native/README.md
  packages/sdks/output/solid/README.md
  packages/sdks/output/svelte/README.md
  packages/sdks/output/vue/README.md
Owners: @BuilderIO/sdks

setup vue-2 example
  examples/vue/vue-2/.gitignore
  examples/vue/vue-2/README.md
  examples/vue/vue-2/babel.config.js
  examples/vue/vue-2/jsconfig.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-2/public/favicon.ico
  examples/vue/vue-2/public/index.html
  examples/vue/vue-2/src/App.vue
  examples/vue/vue-2/src/assets/logo.png
  examples/vue/vue-2/src/components/Builder/BuilderContent.vue
  examples/vue/vue-2/src/components/Builder/HelloWorld.vue
  examples/vue/vue-2/src/components/Builder/init-builder.ts
  examples/vue/vue-2/src/main.js
  examples/vue/vue-2/vue.config.js
Owners: @BuilderIO/core-team

fix vue sdk expors
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

fix(sdks): esm format for transpilers
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

fix (sdks): remove override for block exports
  packages/sdks/overrides/vue/src/index-helpers/blocks-exports.ts
Owners: @BuilderIO/sdks

fix(example): vue2 sdk
  examples/vue/vue-2/src/components/Builder/BuilderContent.vue
Owners: @BuilderIO/core-team

Revert "fix (sdks): remove override for block exports"
  packages/sdks/overrides/vue/src/index-helpers/blocks-exports.ts
Owners: @BuilderIO/sdks

use path.join, copy templates, fix dynamic route check
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[pages].jsx
  packages/cli/src/templates/nextjs/[pages].tsx
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
Owners: @BuilderIO/packages

cleanup
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

feedback from AJ
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...pages].jsx
  packages/cli/src/templates/nextjs/[...pages].tsx
  packages/cli/src/utils.ts
Owners: @BuilderIO/packages
