Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

move from ts to js
  examples/gatsby-minimal-starter/gatsby-config.js
Owners: @BuilderIO/core-team

move from ts to js
  examples/gatsby-minimal-starter/src/templates/page.jsx
Owners: @BuilderIO/core-team

move from ts to js
  examples/gatsby-minimal-starter/src/templates/page.jsx
Owners: @BuilderIO/core-team

move example from ts to js
  examples/next-js-simple/components/Link/Link.jsx
  examples/next-js-simple/components/Link/Link.tsx
  examples/next-js-simple/package-lock.json
  examples/next-js-simple/pages/[[...page]].jsx
  examples/next-js-simple/pages/_app.jsx
  examples/next-js-simple/tsconfig.json
Owners: @BuilderIO/core-team

remove redundant imports
  packages/sdks/src/blocks/fragment/fragment.lite.tsx
  packages/sdks/src/blocks/img/img.lite.tsx
  packages/sdks/src/blocks/input/input.lite.tsx
  packages/sdks/src/blocks/section/section.lite.tsx
  packages/sdks/src/blocks/submit-button/submit-button.lite.tsx
Owners: @BuilderIO/sdks

replace all mention of old master branch with main branch
  README.md
  examples/gatsby-minimal-starter/README.md
  examples/plain-js/README.md
  examples/react-design-system/README.md
  examples/react-design-system/src/pages/CatchAll.jsx
  examples/react-multipage-funnel/README.md
  examples/storybook/README.md
  examples/svelte-design-system/README.md
  packages/gatsby/README.md
  packages/react/README.md
  plugins/example-app-campaign-builder/src/components/insert-menu.tsx
Owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/sdks, @BuilderIO/plugins

Add support for Shopify's Hydrogen/Oxygen (#1184)
  packages/core/src/builder.class.ts
  packages/core/src/functions/fetch.function.ts
  packages/core/src/functions/to-error.ts
  packages/core/src/url.test.ts
  packages/core/src/url.ts
  packages/core/tsconfig.json
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/functions/safe-dynamic-require.ts
  packages/react/src/to-error.ts
Owners: @BuilderIO/sdks

remove redundant file
  packages/sdks/src/blocks/form/builder-blocks.lite.tsx
  packages/sdks/src/blocks/form/form.lite.tsx
Owners: @BuilderIO/sdks

fix columns code
  packages/sdks/src/blocks/columns/columns.lite.tsx
Owners: @BuilderIO/sdks

update example
  examples/solid-js/src/App.jsx
Owners: @BuilderIO/core-team

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

replace all mention of old master branch with main branch (#1218)
  README.md
  examples/gatsby-minimal-starter/README.md
  examples/plain-js/README.md
  examples/react-design-system/README.md
  examples/react-design-system/src/pages/CatchAll.jsx
  examples/react-multipage-funnel/README.md
  examples/storybook/README.md
  examples/svelte-design-system/README.md
  packages/gatsby/README.md
  packages/react/README.md
  plugins/example-app-campaign-builder/src/components/insert-menu.tsx
Owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/sdks, @BuilderIO/plugins

add solidjs example
  packages/sdks/e2e/solidjs/README.md
  packages/sdks/e2e/solidjs/index.html
  packages/sdks/e2e/solidjs/package.json
  packages/sdks/e2e/solidjs/playwright.config.ts
  packages/sdks/e2e/solidjs/src/App.module.css
  packages/sdks/e2e/solidjs/src/App.tsx
  packages/sdks/e2e/solidjs/src/assets/favicon.ico
  packages/sdks/e2e/solidjs/src/index.css
  packages/sdks/e2e/solidjs/src/index.tsx
  packages/sdks/e2e/solidjs/src/logo.svg
  packages/sdks/e2e/solidjs/tsconfig.json
  packages/sdks/e2e/solidjs/vite.config.ts
  packages/sdks/e2e/tests/specs/index.ts
Owners: @BuilderIO/sdks

update mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

update docs
  packages/sdks/e2e/solidjs/README.md
Owners: @BuilderIO/sdks

remove files
  packages/sdks/e2e/solidjs/src/App.module.css
  packages/sdks/e2e/solidjs/src/assets/favicon.ico
  packages/sdks/e2e/solidjs/src/index.css
  packages/sdks/e2e/solidjs/src/index.tsx
  packages/sdks/e2e/solidjs/src/logo.svg
Owners: @BuilderIO/sdks

fix vue
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/output/vue/package.json
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix vue2
  packages/sdks/e2e/vue-2/package.json
  packages/sdks/e2e/vue-2/vite.config.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

release sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

Revert "fix(sdks): ENG-2365 pass content id as an unique key (#945)"
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

release dev
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

fix(sdks): ENG-2365 pass content id as an unique key (#945)
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

exclude editing or previewing
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

release dev
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

previewing
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

and previewing
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

add log
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

fix previewing data models without affecting page/section models
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

remove log
  packages/react/src/components/builder-content.component.tsx
Owners: @BuilderIO/sdks

add nextjs e2e test
  packages/sdks/e2e/nextjs-react/README.md
  packages/sdks/e2e/nextjs-react/next-env.d.ts
  packages/sdks/e2e/nextjs-react/next.config.js
  packages/sdks/e2e/nextjs-react/package.json
  packages/sdks/e2e/nextjs-react/pages/[[...index]].tsx
  packages/sdks/e2e/nextjs-react/playwright.config.ts
  packages/sdks/e2e/nextjs-react/tsconfig.json
Owners: @BuilderIO/sdks

handle ssr
  packages/sdks/e2e/tests/specs/index.ts
Owners: @BuilderIO/sdks

fix react type:module and release
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

yarn
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix imports
  packages/sdks/src/functions/get-builder-search-params/index.ts
  packages/sdks/src/helpers/cookie.ts
  packages/sdks/src/helpers/localStorage.ts
Owners: @BuilderIO/sdks

fix .js extensions
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/columns/component-info.ts
  packages/sdks/src/blocks/embed/component-info.ts
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/blocks/image/component-info.ts
  packages/sdks/src/blocks/image/image.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
  packages/sdks/src/helpers/css.ts
  packages/sdks/src/helpers/sessionId.ts
  packages/sdks/src/helpers/visitorId.ts
  packages/sdks/src/types/components.ts
Owners: @BuilderIO/sdks

release react sdk
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

comment out e2e command
  packages/sdks/e2e/nextjs-react/package.json
  packages/sdks/e2e/nextjs-react/playwright.config.ts
Owners: @BuilderIO/sdks

prettier
  packages/sdks/e2e/nextjs-react/tsconfig.json
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks
