Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

fix reserved style prop
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
Owners: @BuilderIO/sdks

fix broken muti spread for Vue
  packages/sdks/src/blocks/video/video.lite.tsx
Owners: @BuilderIO/sdks

move vue2 workaround to plugin
  packages/sdks/mitosis.config.js
  packages/sdks/src/components/render-block/render-block.lite.tsx
Owners: @BuilderIO/sdks

add vue sdk style export paths
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-2/src/env.d.ts
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-3/src/env.d.ts
  packages/sdks/output/vue/package.json
  packages/sdks/output/vue/packages/_vue2/vite.config.ts
  packages/sdks/output/vue/packages/_vue3/vite.config.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

publish vue dev sdk
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update readme
  packages/sdks/output/vue/README.md
Owners: @BuilderIO/sdks

upgrade vue examples
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

update vue examples code and simplify
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/nuxt-2/nuxt.config.js
  examples/vue/nuxt-2/pages/_page.vue
  examples/vue/vue-2/src/App.vue
  examples/vue/vue-2/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/src/App.vue
  examples/vue/vue-3/src/components/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/core-team

fix vsf example
  examples/vue/vue-storefront-2/nuxt.config.js
Owners: @BuilderIO/core-team

cleanup e2e tests
  packages/sdks/e2e/vue-2/src/App.vue
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-2/src/env.d.ts
  packages/sdks/e2e/vue-3/src/App.vue
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-3/src/env.d.ts
Owners: @BuilderIO/sdks

Fix/sdks (#1314)
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/nuxt-2/nuxt.config.js
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/nuxt-2/pages/_page.vue
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-2/src/App.vue
  examples/vue/vue-2/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-3/src/App.vue
  examples/vue/vue-3/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-storefront-2/nuxt.config.js
  examples/vue/vue-storefront-2/yarn.lock
  packages/sdks/e2e/vue-2/src/App.vue
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-2/src/env.d.ts
  packages/sdks/e2e/vue-3/src/App.vue
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/mitosis.config.js
  packages/sdks/output/vue/README.md
  packages/sdks/output/vue/package.json
  packages/sdks/output/vue/packages/_vue2/vite.config.ts
  packages/sdks/output/vue/packages/_vue3/vite.config.ts
  packages/sdks/overrides/solid/src/functions/convert-style-object.ts
  packages/sdks/overrides/vue/vue2/src/functions/get-block-styles.ts
  packages/sdks/overrides/vue/vue3/src/functions/get-block-styles.ts
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/video/video.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/functions/convert-style-object.ts
  packages/sdks/src/functions/get-block-styles.ts
  packages/sdks/src/functions/get-react-native-block-styles.ts
  packages/sdks/src/functions/sanitize-react-native-block-styles.ts
  packages/sdks/src/functions/sanitize-styles.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/core-team, @BuilderIO/sdks

release SDKs
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

update examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/package-lock.json
  examples/react-native/package.json
  examples/react-v2/package-lock.json
  examples/react-v2/package.json
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

add src to svelte pkg
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

release svelte pkg
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
Owners: @BuilderIO/core-team

feedback, return null on evaluation exceptions
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

Publish/sdks (#1315)
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/package-lock.json
  examples/react-native/package.json
  examples/react-v2/package-lock.json
  examples/react-v2/package.json
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/package.json
  examples/vue/vue-storefront-2/yarn.lock
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

changelog and release dev
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

fix types
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/track.ts
Owners: @BuilderIO/sdks

add variationId to tracking
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/track.ts
Owners: @BuilderIO/sdks

fix import names
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/track.ts
  packages/sdks/src/index.ts
Owners: @BuilderIO/sdks

types
  packages/sdks/src/functions/track.ts
Owners: @BuilderIO/sdks

docs, fix variationId usage
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/track.ts
Owners: @BuilderIO/sdks

SDKs: Add external `track` function (#1305)
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/track.ts
  packages/sdks/src/index.ts
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/qwik/package.json
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/package-lock.json
  examples/react-native/package.json
  examples/react-v2/package-lock.json
  examples/react-v2/package.json
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

Publish/sdks (#1316)
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/package-lock.json
  examples/react-native/package.json
  examples/react-v2/package-lock.json
  examples/react-v2/package.json
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/svelte/sveltekit/package-lock.json
  examples/svelte/sveltekit/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
  packages/sdks/output/qwik/package.json
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/react/package-lock.json
  packages/sdks/output/react/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

release patch
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

[packages/react] fix hydrogen error (#1311)
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/functions/safe-dynamic-require.ts
  packages/react/src/functions/string-to-function.ts
Owners: @BuilderIO/sdks

[customBreakpoints] feat: Support for custom breakpoints for Mitosis based sdks
  packages/sdks/e2e/react/.gitignore
  packages/sdks/e2e/tests/src/specs/custom-breakpoints.ts
  packages/sdks/e2e/tests/src/specs/homepage.ts
  packages/sdks/e2e/tests/src/specs/index.ts
  packages/sdks/e2e/tests/src/tests/main.spec.ts
  packages/sdks/overrides/react/src/constants/target.ts
  packages/sdks/package.json
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/constants/device-sizes.ts
  packages/sdks/src/scripts/init-editing.ts
  packages/sdks/src/types/builder-content.ts
Owners: @BuilderIO/sdks

prettier
  packages/sdks/e2e/rsc/mini-oxygen.config.json
Owners: @BuilderIO/sdks

dedupe fn
  packages/sdks/src/blocks/columns/component-info.ts
  packages/sdks/src/blocks/embed/component-info.ts
  packages/sdks/src/blocks/image/component-info.ts
  packages/sdks/src/blocks/util.ts
  packages/sdks/src/functions/register-component.ts
Owners: @BuilderIO/sdks

fix lint
  packages/sdks/.eslintignore
  packages/sdks/.eslintrc.js
  packages/sdks/.prettierignore
  packages/sdks/e2e/rsc/package.json
  packages/sdks/overrides/rsc/src/components/render-content/builder-editing.js
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

update mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix folder name
  packages/sdks/overrides/react/src/constants/target.ts
Owners: @BuilderIO/sdks

update qwik
  packages/sdks/e2e/qwik/package.json
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

upgrade playwright
  packages/sdks/.gitignore
  packages/sdks/e2e/rsc/package.json
  packages/sdks/e2e/tests/package.json
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

rename project
  packages/sdks/e2e/rsc/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix path
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks
