Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

update plugin docs
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

updates from Aziz
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

fix typo
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

Update docs (#1183)
  plugins/salesforce-commerce-api-plugin/README.md
Owners: @BuilderIO/plugins

update and lint fixes
  examples/gatsby-minimal-starter/gatsby-config.js
  examples/gatsby-minimal-starter/package-lock.json
  examples/gatsby-minimal-starter/package.json
  examples/gatsby-minimal-starter/src/components/Hero/Hero.tsx
  examples/gatsby-minimal-starter/src/pages/404.tsx
  examples/gatsby-minimal-starter/src/templates/page.tsx
Owners: @BuilderIO/core-team

adding footer/header
  examples/gatsby-minimal-starter/src/templates/page.tsx
Owners: @BuilderIO/core-team

reduce widgets bundle size by 85%
  packages/widgets/package-lock.json
  packages/widgets/package.json
  packages/widgets/rollup.config.ts
  packages/widgets/src/builder-widgets-sync.ts
  packages/widgets/src/builder-widgets.ts
Owners: @BuilderIO/packages

WIP
  packages/core/src/builder.class.ts
  packages/react/lite.js
  packages/react/package.json
  packages/react/rollup.config.ts
  packages/react/src/blocks/Image.config.ts
  packages/react/src/blocks/Image.tsx
  packages/react/src/blocks/Mutation.config.ts
  packages/react/src/blocks/Mutation.tsx
  packages/react/src/blocks/Router.config.ts
  packages/react/src/blocks/Router.tsx
  packages/react/src/blocks/Section.config.ts
  packages/react/src/blocks/Section.tsx
  packages/react/src/blocks/Slot.config.ts
  packages/react/src/blocks/Slot.tsx
  packages/react/src/blocks/StateProvider.config.ts
  packages/react/src/blocks/StateProvider.tsx
  packages/react/src/blocks/Symbol.config.ts
  packages/react/src/blocks/Symbol.tsx
  packages/react/src/blocks/Text.config.ts
  packages/react/src/blocks/Text.tsx
  packages/react/src/blocks/Video.config.ts
  packages/react/src/blocks/Video.tsx
Owners: @BuilderIO/sdks

[plugins/salesforce-einstein-api]add standalone einstein api
  plugins/salesforce-einstein-api/.gitignore
  plugins/salesforce-einstein-api/.travis.yml
  plugins/salesforce-einstein-api/CONTRIBUTING.md
  plugins/salesforce-einstein-api/LICENSE
  plugins/salesforce-einstein-api/README.md
  plugins/salesforce-einstein-api/package-lock.json
  plugins/salesforce-einstein-api/package.json
  plugins/salesforce-einstein-api/rollup.config.ts
  plugins/salesforce-einstein-api/src/api.ts
  plugins/salesforce-einstein-api/src/plugin.ts
  plugins/salesforce-einstein-api/src/types.d.ts
  plugins/salesforce-einstein-api/tsconfig.json
  plugins/salesforce-einstein-api/tslint.json
Owners: @BuilderIO/plugins

readme
  plugins/salesforce-einstein-api/README.md
Owners: @BuilderIO/plugins

lint
  plugins/salesforce-einstein-api/src/plugin.ts
Owners: @BuilderIO/plugins

Update plugins/salesforce-einstein-api/README.md
  plugins/salesforce-einstein-api/README.md
Owners: @BuilderIO/plugins

remove incorrect files
  plugins/salesforce-commerce-api-plugin/CONTRIBUTING.md
  plugins/salesforce-einstein-api/CONTRIBUTING.md
Owners: @BuilderIO/plugins

[plugins/salesforce-einstein-api]add standalone einstein api integration (#1187)
  plugins/salesforce-commerce-api-plugin/CONTRIBUTING.md
  plugins/salesforce-einstein-api/.gitignore
  plugins/salesforce-einstein-api/.travis.yml
  plugins/salesforce-einstein-api/LICENSE
  plugins/salesforce-einstein-api/README.md
  plugins/salesforce-einstein-api/package-lock.json
  plugins/salesforce-einstein-api/package.json
  plugins/salesforce-einstein-api/rollup.config.ts
  plugins/salesforce-einstein-api/src/api.ts
  plugins/salesforce-einstein-api/src/plugin.ts
  plugins/salesforce-einstein-api/src/types.d.ts
  plugins/salesforce-einstein-api/tsconfig.json
  plugins/salesforce-einstein-api/tslint.json
Owners: @BuilderIO/plugins

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/output/.gitignore
  packages/sdks/output/qwik/README.md
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/types-hacks.d.ts
  packages/sdks/output/qwik/types.d.ts
  packages/sdks/output/qwik/vite.config.ts
  packages/sdks/overrides/qwik/src/constants/target.ts
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

use actual buttons for button blocks
  packages/sdks/src/blocks/button/button.lite.tsx
Owners: @BuilderIO/sdks

linty lint
  packages/sdks/src/blocks/button/button.lite.tsx
Owners: @BuilderIO/sdks

use actual buttons for button blocks (#1188)
  packages/sdks/src/blocks/button/button.lite.tsx
Owners: @BuilderIO/sdks

feat(core): mark project as composite
  packages/core/tsconfig.json
Owners: @BuilderIO/sdks

feat(core): replace deprecated url parse function
  packages/core/src/builder.class.ts
  packages/core/src/functions/to-error.ts
  packages/core/src/url.test.ts
  packages/core/src/url.ts
Owners: @BuilderIO/sdks

feat: replace fetch stand in
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

fixup! feat(core): replace deprecated url parse function
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

style: formatting
  packages/core/src/url.test.ts
Owners: @BuilderIO/sdks

feat(react): add to-error function
  packages/react/src/to-error.ts
Owners: @BuilderIO/sdks

refactor(core): fold requestUrl function
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

fix(react): change definition of safeDynamicRequire
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

fix(react): change the definition of `fetch`
  packages/core/src/functions/fetch.function.ts
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

fix(react): fix error handling
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

fix(sdks): columns drag'n'drop
  packages/sdks/src/blocks/columns/columns.lite.tsx
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

upgrade examples
  examples/astro-solidjs/package-lock.json
  examples/astro-solidjs/package.json
  examples/react-native/yarn.lock
  examples/solid-js/package-lock.json
  examples/solid-js/package.json
  examples/svelte-design-system/package-lock.json
  examples/svelte-design-system/package.json
  examples/svelte/svelte-vite/package-lock.json
  examples/svelte/svelte-vite/package.json
  examples/vue/nuxt-2/package-lock.json
  examples/vue/nuxt-2/package.json
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/package.json
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
  examples/vue/vue-storefront-2/yarn.lock
Owners: @BuilderIO/core-team

style: format
  packages/core/src/functions/fetch.function.ts
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/functions/safe-dynamic-require.ts
Owners: @BuilderIO/sdks

[plugins/example-seo-review] add an example plugin for sending html content for SEO review
  plugins/example-seo-review/.gitignore
  plugins/example-seo-review/.travis.yml
  plugins/example-seo-review/LICENSE
  plugins/example-seo-review/README.md
  plugins/example-seo-review/package-lock.json
  plugins/example-seo-review/package.json
  plugins/example-seo-review/rollup.config.ts
  plugins/example-seo-review/src/plugin.tsx
  plugins/example-seo-review/src/type.d.ts
  plugins/example-seo-review/src/utils.tsx
  plugins/example-seo-review/tsconfig.json
  plugins/example-seo-review/tslint.json
Owners: @BuilderIO/plugins

add missing import
  plugins/example-seo-review/src/plugin.tsx
Owners: @BuilderIO/plugins

prettier
  plugins/example-seo-review/src/plugin.tsx
Owners: @BuilderIO/plugins

only on pages
  plugins/example-seo-review/src/plugin.tsx
Owners: @BuilderIO/plugins

only on pages
  plugins/example-seo-review/src/plugin.tsx
Owners: @BuilderIO/plugins

[plugins/example-seo-review] add an example plugin for sending html c… (#1190)
  plugins/example-seo-review/.gitignore
  plugins/example-seo-review/.travis.yml
  plugins/example-seo-review/LICENSE
  plugins/example-seo-review/README.md
  plugins/example-seo-review/package-lock.json
  plugins/example-seo-review/package.json
  plugins/example-seo-review/rollup.config.ts
  plugins/example-seo-review/src/plugin.tsx
  plugins/example-seo-review/src/type.d.ts
  plugins/example-seo-review/src/utils.tsx
  plugins/example-seo-review/tsconfig.json
  plugins/example-seo-review/tslint.json
Owners: @BuilderIO/plugins

add cookies, localStorage, and missing tracking props
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/functions/track.ts
  packages/sdks/src/helpers/cookie.ts
  packages/sdks/src/helpers/localStorage.ts
  packages/sdks/src/helpers/nullable.ts
  packages/sdks/src/helpers/sessionId.ts
  packages/sdks/src/helpers/time.ts
  packages/sdks/src/helpers/uuid.ts
  packages/sdks/src/helpers/visitorId.ts
  packages/sdks/src/types/can-track.ts
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
