Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins

[@builder.io/plugin-smartling] add a content action to go to translation job from content entry, add description to model (#1097)
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/plugin.ts
Owners: @BuilderIO/plugins

fix type issues
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/custom-code/custom-code.lite.tsx
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/blocks/image/image.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/functions/get-block-tag.ts
  packages/sdks/typings/module.augmentations.d.ts
Owners: @BuilderIO/sdks

add srcset workaround
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

remove outdated workaround for svelte
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

run prettier
  examples/vue/vue-2/babel.config.js
  examples/vue/vue-2/src/components/Builder/init-builder.ts
  examples/vue/vue-2/src/main.js
  examples/vue/vue-3/src/components/Builder/init-builder.ts
Owners: @BuilderIO/core-team

remove unused pkg
  packages/sdks/.prettierrc
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix vue package.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

publish sdks
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/sdks

changelog
  packages/sdks/output/react-native/CHANGELOG.md
  packages/sdks/output/vue/CHANGELOG.md
Owners: @BuilderIO/sdks

updates
  packages/swift/README.md
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/Shared/testingApp.swift
  packages/swift/src/testing.xcodeproj/xcuserdata/stephensewell.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/swift/src/testing.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @BuilderIO/packages

updates
  packages/swift/src/Shared/BackportAsyncImage.swift
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/testing.xcodeproj/project.pbxproj
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Owners: @BuilderIO/packages

support for children
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
Owners: @BuilderIO/packages

major cleanup
  packages/swift/src/Shared/Blocks/BuilderColumns.swift
  packages/swift/src/Shared/Blocks/BuilderImage.swift
  packages/swift/src/Shared/Blocks/BuilderText.swift
  packages/swift/src/Shared/Components/RenderBlock.swift
  packages/swift/src/Shared/Components/RenderBlocks.swift
  packages/swift/src/Shared/Components/RenderContent.swift
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/Shared/Helpers/getContent.swift
  packages/swift/src/Shared/Helpers/registerComponent.swift
  packages/swift/src/Shared/Schemas/BuilderBlock.swift
  packages/swift/src/Shared/Schemas/BuilderBlockResponsiveStyles.swift
  packages/swift/src/Shared/Schemas/BuilderContent.swift
  packages/swift/src/testing.xcodeproj/project.pbxproj
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/IDEFindNavigatorScopes.plist
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
Owners: @BuilderIO/packages

[@builder.io/plugin-smartling] show a notification with link to job details when adding new entries to translations
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/rollup.config.ts
  plugins/smartling/src/plugin.ts
  plugins/smartling/src/smartling.ts
  plugins/smartling/src/snackbar-utils.tsx
Owners: @BuilderIO/plugins

publish
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

remove tabs from prettier
  examples/svelte/sveltekit/.eslintrc.cjs
  examples/svelte/sveltekit/.prettierrc
  examples/svelte/sveltekit/README.md
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/src/app.css
  examples/svelte/sveltekit/src/app.html
  examples/svelte/sveltekit/src/lib/Counter.svelte
  examples/svelte/sveltekit/src/lib/DynamicallyRenderBuilderPage.svelte
  examples/svelte/sveltekit/src/routes/[slug].svelte
  examples/svelte/sveltekit/src/routes/__layout.svelte
  examples/svelte/sveltekit/src/routes/index.svelte
  examples/svelte/sveltekit/svelte.config.js
  examples/svelte/sveltekit/tsconfig.json
Owners: @BuilderIO/core-team

delete more things
  examples/vue/vue-3/src/App.vue
  examples/vue/vue-3/src/assets/base.css
  examples/vue/vue-3/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-3/src/components/HelloWorld.vue
  examples/vue/vue-3/src/components/init-builder.ts
  examples/vue/vue-3/src/views/BuilderView.vue
Owners: @BuilderIO/core-team

simplify
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/nuxt-2/components/HelloWorld.vue
  examples/vue/nuxt-2/components/init-builder.ts
  examples/vue/vue-2/src/App.vue
  examples/vue/vue-2/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-2/src/components/HelloWorld.vue
  examples/vue/vue-2/src/components/init-builder.ts
  examples/vue/vue-3/src/App.vue
  examples/vue/vue-3/src/main.ts
  examples/vue/vue-3/src/router/index.ts
  examples/vue/vue-3/src/views/BuilderView.vue
Owners: @BuilderIO/core-team

remove vue-router
  examples/vue/vue-3/package-lock.json
  examples/vue/vue-3/package.json
Owners: @BuilderIO/core-team

fix imports
  examples/vue/nuxt-2/components/init-builder.ts
  examples/vue/nuxt-2/pages/_page.vue
Owners: @BuilderIO/core-team

simplify sveltekit
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/src/app.css
  examples/svelte/sveltekit/src/lib/DynamicallyRenderBuilderPage.svelte
  examples/svelte/sveltekit/yarn.lock
Owners: @BuilderIO/core-team

fix import
  examples/vue/vue-2/src/components/init-builder.ts
Owners: @BuilderIO/core-team

simplify
  examples/vue/vue-2/package-lock.json
  examples/vue/vue-2/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-2/src/components/init-builder.ts
Owners: @BuilderIO/core-team

remove init-builder.ts
  examples/vue/nuxt-2/components/DynamicallyRenderBuilderPage.vue
  examples/vue/nuxt-2/components/init-builder.ts
  examples/vue/vue-3/src/components/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-3/src/components/init-builder.ts
  examples/vue/vue-storefront-2/components/Builder/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-storefront-2/components/Builder/init-builder.ts
Owners: @BuilderIO/core-team

fix more things
  examples/vue/vue-storefront-2/components/Builder/DynamicallyRenderBuilderPage.vue
  examples/vue/vue-storefront-2/nuxt.config.js
  examples/vue/vue-storefront-2/pages/Home.vue
  packages/sdks/output/vue/nuxt.js
Owners: @BuilderIO/core-team, @BuilderIO/sdks

add missing import
  examples/vue/vue-storefront-2/pages/_path.vue
Owners: @BuilderIO/core-team

[sdks/svelte] Add homepage and repository information
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

[sdks/svelte] Add homepage and repository information (#1103)
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

SwiftUI SDK (#1099)
  packages/swift/README.md
  packages/swift/src/Shared/BackportAsyncImage.swift
  packages/swift/src/Shared/Blocks/BuilderColumns.swift
  packages/swift/src/Shared/Blocks/BuilderImage.swift
  packages/swift/src/Shared/Blocks/BuilderText.swift
  packages/swift/src/Shared/Components/RenderBlock.swift
  packages/swift/src/Shared/Components/RenderBlocks.swift
  packages/swift/src/Shared/Components/RenderContent.swift
  packages/swift/src/Shared/ContentView.swift
  packages/swift/src/Shared/Helpers/getContent.swift
  packages/swift/src/Shared/Helpers/registerComponent.swift
  packages/swift/src/Shared/Schemas/BuilderBlock.swift
  packages/swift/src/Shared/Schemas/BuilderBlockResponsiveStyles.swift
  packages/swift/src/Shared/Schemas/BuilderContent.swift
  packages/swift/src/Shared/testingApp.swift
  packages/swift/src/testing.xcodeproj/project.pbxproj
  packages/swift/src/testing.xcodeproj/xcuserdata/stephensewell.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/swift/src/testing.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/IDEFindNavigatorScopes.plist
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @BuilderIO/packages

Android 1
  packages/android/README.md
  packages/android/sdk/.gitignore
  packages/android/sdk/app/.gitignore
  packages/android/sdk/app/build.gradle
  packages/android/sdk/app/proguard-rules.pro
  packages/android/sdk/app/src/androidTest/java/com/example/myapplication/ExampleInstrumentedTest.kt
  packages/android/sdk/app/src/main/AndroidManifest.xml
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/ui/theme/Color.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/ui/theme/Shape.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/ui/theme/Theme.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/ui/theme/Type.kt
  packages/android/sdk/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  packages/android/sdk/app/src/main/res/drawable/ic_launcher_background.xml
  packages/android/sdk/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  packages/android/sdk/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  packages/android/sdk/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  packages/android/sdk/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  packages/android/sdk/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  packages/android/sdk/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  packages/android/sdk/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  packages/android/sdk/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  packages/android/sdk/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  packages/android/sdk/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  packages/android/sdk/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  packages/android/sdk/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  packages/android/sdk/app/src/main/res/values/colors.xml
  packages/android/sdk/app/src/main/res/values/strings.xml
  packages/android/sdk/app/src/main/res/values/themes.xml
  packages/android/sdk/app/src/main/res/xml/backup_rules.xml
  packages/android/sdk/app/src/main/res/xml/data_extraction_rules.xml
  packages/android/sdk/app/src/test/java/com/example/myapplication/ExampleUnitTest.kt
  packages/android/sdk/build.gradle
  packages/android/sdk/gradle.properties
  packages/android/sdk/gradle/wrapper/gradle-wrapper.jar
  packages/android/sdk/gradle/wrapper/gradle-wrapper.properties
  packages/android/sdk/gradlew
  packages/android/sdk/gradlew.bat
  packages/android/sdk/settings.gradle
Owners: @BuilderIO/packages

android sdk v0
  packages/android/sdk/app/build.gradle
  packages/android/sdk/app/src/main/AndroidManifest.xml
  packages/android/sdk/app/src/main/java/com/example/myapplication/BuilderContent.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderBlock.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderColumns.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderImage.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderText.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/helpers.kt
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
Owners: @BuilderIO/packages

first pass on real time preview
  packages/android/sdk/app/build.gradle
  packages/android/sdk/app/google-services.json
  packages/android/sdk/app/src/main/java/com/example/myapplication/BuilderContent.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
  packages/android/sdk/build.gradle
  packages/android/sdk/settings.gradle
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
Owners: @BuilderIO/packages

render default variant when cookies are disabled
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/variants-provider.component.tsx
Owners: @BuilderIO/sdks

update core package to consider if cookies enabled before variant election/sending tracking info
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

update react package to consider if cookies enabled before variant election
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/variants-provider.component.tsx
Owners: @BuilderIO/sdks

release dev
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

fix condition
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builder.class.ts
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

updates
  packages/android/sdk/app/build.gradle
  packages/android/sdk/app/src/main/java/com/example/myapplication/MainActivity.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderBlock.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/RenderContent.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderColumns.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderImage.kt
  packages/android/sdk/app/src/main/java/com/example/myapplication/blocks/BuilderText.kt
  packages/swift/src/testing.xcodeproj/xcuserdata/stephensewell.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/swift/src/testing.xcworkspace/xcuserdata/stephensewell.xcuserdatad/UserInterfaceState.xcuserstate
Owners: @BuilderIO/packages

upgrade mitosis
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

remove svelte workaround
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks
