Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

fix regex
  packages/sdks/overrides/react-native/src/functions/sanitize-styles.ts
Owners: @BuilderIO/sdks

release
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

upgrade example
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

cleanup ab test code
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/get-content/types.ts
  packages/sdks/src/types/builder-content.ts
Owners: @BuilderIO/sdks

consistent naming
  packages/sdks/src/functions/get-content/ab-testing.ts
Owners: @BuilderIO/sdks

fixup! Merge remote-tracking branch 'upstream/main' into pr-qwik
  examples/svelte/svelte-vite/yarn.lock
  packages/sdks/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

fix: 🐛 Qwik event handling (#1261)
  packages/sdks/output/qwik/package.json
  packages/sdks/overrides/qwik/src/functions/event-handler-name.ts
  packages/sdks/overrides/qwik/src/functions/get-block-actions-handler.ts
  packages/sdks/package.json
  packages/sdks/src/blocks/custom-code/custom-code.lite.tsx
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
  packages/sdks/src/functions/get-block-actions-handler.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/types/targets.ts
Owners: @BuilderIO/sdks

fix(qwik): dont bundle `node-fetch`
  packages/sdks/output/qwik/package.json
  packages/sdks/overrides/qwik/src/functions/get-fetch.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

reuse type
  packages/sdks/src/helpers/localStorage.ts
  packages/sdks/src/helpers/sessionId.ts
  packages/sdks/src/helpers/visitorId.ts
Owners: @BuilderIO/sdks

store ab tests in cookies
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/helpers/ab-tests.ts
Owners: @BuilderIO/sdks

add react-native-cookies
  packages/sdks/output/react-native/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

make cookie fetcher/setter async
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/track.ts
  packages/sdks/src/helpers/cookie.ts
  packages/sdks/src/helpers/document-cookie.ts
  packages/sdks/src/helpers/sessionId.ts
Owners: @BuilderIO/sdks

replace yarn with npm install
  examples/react-native/package-lock.json
  examples/react-native/yarn.lock
Owners: @BuilderIO/core-team

try to add deps
  examples/react-native/app.json
  examples/react-native/package-lock.json
  examples/react-native/package.json
Owners: @BuilderIO/core-team

Fixed default size value calculation and TS fixes
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/constants/device-sizes.constant.ts
  packages/react/src/functions/utils.ts
Owners: @BuilderIO/sdks

fix example
  examples/react-native/App.jsx
Owners: @BuilderIO/core-team

Fix local import
  packages/react/src/constants/device-sizes.constant.ts
Owners: @BuilderIO/sdks

fix style sanitizer
  packages/sdks/overrides/react-native/src/functions/sanitize-styles.ts
Owners: @BuilderIO/sdks

fix ab tests
  packages/sdks/overrides/react-native/src/helpers/cookie.ts
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/helpers/ab-tests.ts
  packages/sdks/src/helpers/cookie.ts
  packages/sdks/src/helpers/document-cookie.ts
Owners: @BuilderIO/sdks

release react-native sdk
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

yarn
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

remove unused dep
  packages/sdks/output/react-native/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix a/b tests
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/helpers/ab-tests.ts
  packages/sdks/src/types/typescript.ts
Owners: @BuilderIO/sdks

revert type change
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/types/builder-content.ts
Owners: @BuilderIO/sdks

add canTrack check
  packages/sdks/src/functions/get-content/ab-testing.ts
  packages/sdks/src/functions/get-content/index.ts
  packages/sdks/src/functions/get-content/types.ts
Owners: @BuilderIO/sdks

adding options to query
  packages/utils/src/get-all-content-with-refs.ts
Owners: @BuilderIO/packages

Fixed prettier warnings
  packages/react/src/blocks/Section.tsx
  packages/react/src/components/builder-block.component.tsx
  packages/react/src/components/builder-component.component.tsx
Owners: @BuilderIO/sdks

add e2e react native
  packages/sdks/e2e/react-native/.expo-shared/assets.json
  packages/sdks/e2e/react-native/.gitignore
  packages/sdks/e2e/react-native/App.js
  packages/sdks/e2e/react-native/App.jsx
  packages/sdks/e2e/react-native/app.json
  packages/sdks/e2e/react-native/assets/adaptive-icon.png
  packages/sdks/e2e/react-native/assets/favicon.png
  packages/sdks/e2e/react-native/assets/icon.png
  packages/sdks/e2e/react-native/assets/splash.png
  packages/sdks/e2e/react-native/babel.config.js
  packages/sdks/e2e/react-native/package.json
  packages/sdks/e2e/react-native/tsconfig.json
  packages/sdks/e2e/tests/package.json
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

publish
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

update package.json
  examples/react-native/package-lock.json
  examples/react-native/package.json
Owners: @BuilderIO/core-team

handle 0 edge-case
  packages/sdks/overrides/react-native/src/functions/sanitize-styles.ts
Owners: @BuilderIO/sdks

deploy
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

fix deps and deploy
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

remove logs
  packages/sdks/overrides/react-native/src/helpers/cookie.ts
Owners: @BuilderIO/sdks

fix logic again
  packages/sdks/overrides/react-native/src/functions/sanitize-styles.ts
Owners: @BuilderIO/sdks

deploy
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/sdks

upgrade example
  examples/react-native/package-lock.json
  examples/react-native/package.json
Owners: @BuilderIO/core-team

fix overrides
  examples/react-native/package-lock.json
  examples/react-native/package.json
Owners: @BuilderIO/core-team

remove yarnrc
  examples/react-native/.yarnrc.yml
Owners: @BuilderIO/core-team

fix ab/test check
  packages/sdks/src/functions/get-content/ab-testing.ts
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
