Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/mitosis, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

ignore img aspectRatio
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/overrides/react-native/src/blocks/image.tsx
  packages/sdks/overrides/react-native/src/functions/transform-block.ts
Owners: @BuilderIO/mitosis

fix(examples): App styles
  examples/react-native/App.tsx
Owners: @BuilderIO/core-team

locales should also be part of the search query
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

release dev
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
Owners: @BuilderIO/cms-plugins

[contentful plugin] define entry inputs to allow users to specify the locale param (#748)
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

[sfcc-sync] add path prefix option to account for libraries that require it
  plugins/sfcc-sync/src/on-editor-load.ts
  plugins/sfcc-sync/src/plugin.ts
  plugins/sfcc-sync/src/utils.ts
Owners: @BuilderIO/e-commerce-plugins

release dev
  plugins/sfcc-sync/package-lock.json
  plugins/sfcc-sync/package.json
Owners: @BuilderIO/e-commerce-plugins

fix(sdks): remove Show condition to fix vue children
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

chore(examples): update vue-storefront example to have children
  examples/vue/vue-storefront/components/HelloWorld.vue
  examples/vue/vue-storefront/pages/Home.vue
  examples/vue/vue-storefront/pages/init-builder.ts
  examples/vue/vue-storefront/yarn.lock
Owners: @BuilderIO/core-team

fix(sdks): bad options value
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/README.md
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

fix(sdks): children for noWrap components
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

fix(sdks): handle children the same way
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

fix(sdks): remove For inside Show else-case
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/blocks/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

fix(sdks): remove redundant fragment
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/blocks/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

fix(sdks): remove redundant path var, make optional
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/src/components/render-block.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
Owners: @BuilderIO/mitosis

fix(sdks): remove duplicate RenderBlocks conditions
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

ENG 1962 prototype vulnerability (#746)
  packages/core/Earthfile
  packages/core/jest.config.ts
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/classes/query-string.class.test.ts
  packages/core/src/classes/query-string.class.ts
Owners: @BuilderIO/packages

[sfcc-sync] add path prefix option to account for libraries that require it (#752)
  plugins/sfcc-sync/package-lock.json
  plugins/sfcc-sync/package.json
  plugins/sfcc-sync/src/on-editor-load.ts
  plugins/sfcc-sync/src/plugin.ts
  plugins/sfcc-sync/src/utils.ts
Owners: @BuilderIO/e-commerce-plugins

fix(sdks): move boolean logic to computed props
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

fix(sdks): ignore canHaveChildren condition, document
  packages/sdks/output/react-native/src/components/render-block.lite.tsx
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-block.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/src/components/render-block.lite.tsx
Owners: @BuilderIO/mitosis

show the actual name of locale
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

release patch
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
Owners: @BuilderIO/cms-plugins

remove default error page from react
  starters/create-builder/nextjs/pages/[[...page]].tsx
Owners: @BuilderIO/starters

remove default error page from react
  starters/create-builder/nextjs/pages/[[...page]].tsx
Owners: @BuilderIO/starters

adjust prettier to match orig
  starters/create-builder/nextjs/.prettierrc
  starters/create-builder/nextjs/pages/[[...page]].tsx
Owners: @BuilderIO/starters

initial copy of next-js starter
  examples/next-js-algolia-plugin/.eslintrc.json
  examples/next-js-algolia-plugin/.gitignore
  examples/next-js-algolia-plugin/.prettierignore
  examples/next-js-algolia-plugin/.prettierrc
  examples/next-js-algolia-plugin/README.md
  examples/next-js-algolia-plugin/components/Header.tsx
  examples/next-js-algolia-plugin/components/ShoesViewer.tsx
  examples/next-js-algolia-plugin/components/SourceCodeLink.tsx
  examples/next-js-algolia-plugin/lib/resolve-builder-content.ts
  examples/next-js-algolia-plugin/next-env.d.ts
  examples/next-js-algolia-plugin/next.config.js
  examples/next-js-algolia-plugin/package-lock.json
  examples/next-js-algolia-plugin/package.json
  examples/next-js-algolia-plugin/pages/[[...page]].tsx
  examples/next-js-algolia-plugin/pages/_app.tsx
  examples/next-js-algolia-plugin/public/favicon.ico
  examples/next-js-algolia-plugin/public/shoe.glb
  examples/next-js-algolia-plugin/public/vercel.svg
  examples/next-js-algolia-plugin/styles/Home.module.css
  examples/next-js-algolia-plugin/styles/globals.css
  examples/next-js-algolia-plugin/tsconfig.json
  examples/next-js-algolia-plugin/yarn.lock
Owners: @BuilderIO/core-team

working example
  examples/next-js-algolia-plugin/.env.template
  examples/next-js-algolia-plugin/components/AlgoliaSearch.tsx
  examples/next-js-algolia-plugin/package-lock.json
  examples/next-js-algolia-plugin/package.json
  examples/next-js-algolia-plugin/pages/_app.tsx
  examples/next-js-algolia-plugin/yarn.lock
Owners: @BuilderIO/core-team

working with Highlight as Builder Comp
  examples/next-js-algolia-plugin/components/AlgoliaSearch.tsx
  examples/next-js-algolia-plugin/components/Header.tsx
  examples/next-js-algolia-plugin/components/ShoesViewer.tsx
  examples/next-js-algolia-plugin/components/SourceCodeLink.tsx
  examples/next-js-algolia-plugin/pages/_app.tsx
Owners: @BuilderIO/core-team

works with recursion
  examples/next-js-algolia-plugin/components/AlgoliaSearch.tsx
  examples/next-js-algolia-plugin/pages/_app.tsx
Owners: @BuilderIO/core-team

[contentful plugin ] show the actual name of locale (#756)
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
  plugins/contentful/src/plugin.ts
Owners: @BuilderIO/cms-plugins

Update README.md
  packages/json-schema/README.md
Owners: @BuilderIO/packages

Update packages/json-schema/README.md
  packages/json-schema/README.md
Owners: @BuilderIO/packages

added headers to getRequestObject to fetch the JSON response changed product in options to category
  plugins/afosto/src/plugin.tsx
Owners: @BuilderIO/plugins

locale and scopes as input
  plugins/commercetools/README.md
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

release dev
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
Owners: @BuilderIO/cms-plugins

release patch
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
Owners: @BuilderIO/cms-plugins

Update plugins/commercetools/src/plugin.ts
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

release new patch with the typo fix
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
Owners: @BuilderIO/cms-plugins

[Commercetools plugin] scopes and locale as input (#759)
  plugins/commercetools/README.md
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

[commercetools] make scopes not required
  plugins/commercetools/src/plugin.ts
Owners: @BuilderIO/cms-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# Mitosis
/packages/sdks/ @BuilderIO/mitosis


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
