Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

fix typo
  packages/sdks/output/react/package.json
Owners: @BuilderIO/sdks

Update README.md
  packages/sdks/output/react/README.md
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/src/blocks/form/builder-blocks.lite.tsx
  packages/sdks/src/scripts/init-editing.ts
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

updated sdks
  examples/gatsby-minimal-starter/package-lock.json
  examples/gatsby-minimal-starter/package.json
  examples/gatsby-minimal-starter/src/pages/404.tsx
  examples/gatsby-minimal-starter/src/templates/page.tsx
Owners: @BuilderIO/core-team

update package-lock for compatibility with newer npm
  examples/next-js-simple/package-lock.json
Owners: @BuilderIO/core-team

remove usage of typescript
  examples/gatsby-minimal-starter/package.json
  examples/gatsby-minimal-starter/src/components/Hero/Hero.builder.js
  examples/gatsby-minimal-starter/src/components/Hero/Hero.jsx
  examples/gatsby-minimal-starter/src/pages/404.jsx
  examples/gatsby-minimal-starter/src/templates/page.jsx
  examples/gatsby-minimal-starter/src/typings.d.ts
Owners: @BuilderIO/core-team

extract content selector, add symbols
  packages/sdks/e2e/react/src/App.tsx
  packages/sdks/e2e/svelte/src/App.svelte
  packages/sdks/e2e/tests/specs/index.ts
  packages/sdks/e2e/tests/specs/symbols.ts
  packages/sdks/e2e/vue-2/src/DynamicallyRenderBuilderPage.vue
  packages/sdks/e2e/vue-3/src/DynamicallyRenderBuilderPage.vue
Owners: @BuilderIO/sdks

fix evaluateBindings condition
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/functions/evaluate.ts
  packages/sdks/src/functions/get-block-actions.ts
  packages/sdks/src/functions/get-processed-block.test.ts
  packages/sdks/src/functions/get-processed-block.ts
Owners: @BuilderIO/sdks

update spec
  packages/sdks/e2e/tests/specs/symbols.ts
Owners: @BuilderIO/sdks

add tests
  packages/sdks/e2e/tests/specs/data-bindings.ts
  packages/sdks/e2e/tests/specs/index.ts
  packages/sdks/e2e/tests/tests/main.spec.ts
Owners: @BuilderIO/sdks

update builder sdks and package json / also updated files according to contribute guide
  examples/react-design-system/package-lock.json
  examples/react-design-system/package.json
  examples/react-design-system/src/components/DoubleColumns/DoubleColumns.jsx
  examples/react-design-system/src/components/Hero/Hero.jsx
  examples/react-design-system/src/components/HeroWithChildren/HeroWithChildren.jsx
  examples/react-design-system/src/components/ReviewsSlider/ReviewsSlider.jsx
  examples/react-design-system/src/index.js
Owners: @BuilderIO/core-team

fix lazy loading in lite package
  packages/sdks/src/blocks/image/image.lite.tsx
Owners: @BuilderIO/sdks

update sdk usage
  examples/react-design-system/src/pages/CatchAll.jsx
  examples/react-design-system/src/pages/HomepageFullHeadless.jsx
Owners: @BuilderIO/core-team

lint fix
  examples/react-design-system/src/pages/CatchAll.jsx
  examples/react-design-system/src/pages/HomepageFullHeadless.jsx
Owners: @BuilderIO/core-team

update sdks and add skip preflight
  examples/react-multipage-funnel/.env
  examples/react-multipage-funnel/package-lock.json
  examples/react-multipage-funnel/package.json
Owners: @BuilderIO/core-team

feedback on project name
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

release
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

fix search
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

fix search
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

prettier
  plugins/smartling/src/plugin.tsx
Owners: @BuilderIO/plugins

fix tests
  packages/sdks/e2e/tests/specs/data-bindings.ts
  packages/sdks/e2e/tests/specs/index.ts
  packages/sdks/e2e/tests/specs/symbols.ts
  packages/sdks/e2e/tests/tests/main.spec.ts
Owners: @BuilderIO/sdks

upgrade mitosis
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fix srcSet
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

fix svelte config
  packages/sdks/e2e/svelte/svelte.config.mjs
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/src/components/render-block/block-styles.lite.tsx
Owners: @BuilderIO/sdks

fixup! feat: 🎸 Initial Qwik SDK
  packages/sdks/package.json
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
Owners: @BuilderIO/sdks

feat: 🎸 Initial Qwik SDK (#1081)
  packages/sdks/mitosis.config.js
  packages/sdks/output/.gitignore
  packages/sdks/output/qwik/DEVELOPER.md
  packages/sdks/output/qwik/README.md
  packages/sdks/output/qwik/package.json
  packages/sdks/output/qwik/tsconfig.json
  packages/sdks/output/qwik/types-hacks.d.ts
  packages/sdks/output/qwik/types.d.ts
  packages/sdks/output/qwik/vite.config.ts
  packages/sdks/overrides/qwik/src/constants/target.ts
  packages/sdks/src/blocks/columns/component-info.ts
  packages/sdks/src/blocks/embed/component-info.ts
  packages/sdks/src/blocks/form/builder-blocks.lite.tsx
  packages/sdks/src/blocks/form/form.lite.tsx
  packages/sdks/src/blocks/image/component-info.ts
  packages/sdks/src/blocks/img/img.lite.tsx
  packages/sdks/src/blocks/util.ts
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-block/render-component.lite.tsx
  packages/sdks/src/components/render-block/render-repeated-block.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/constants/builder-registered-components.ts
  packages/sdks/src/functions/get-fetch.ts
  packages/sdks/src/scripts/init-editing.ts
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

test: 💍 Add sdk-qwik e2e tests
  packages/sdks/e2e/qwik/.eslintignore
  packages/sdks/e2e/qwik/.eslintrc.js
  packages/sdks/e2e/qwik/.gitignore
  packages/sdks/e2e/qwik/.prettierignore
  packages/sdks/e2e/qwik/README.md
  packages/sdks/e2e/qwik/package.json
  packages/sdks/e2e/qwik/src/entry.dev.tsx
  packages/sdks/e2e/qwik/src/entry.express.tsx
  packages/sdks/e2e/qwik/src/entry.ssr.tsx
  packages/sdks/e2e/qwik/src/global.css
  packages/sdks/e2e/qwik/src/main.tsx
  packages/sdks/e2e/qwik/src/root.tsx
  packages/sdks/e2e/qwik/tsconfig.json
  packages/sdks/e2e/qwik/vite.config.ts
  packages/sdks/e2e/tests/specs/index.ts
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/e2e/qwik/src/entry.dev.tsx
  packages/sdks/e2e/qwik/src/entry.ssr.tsx
  packages/sdks/e2e/qwik/vite.config.ts
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/e2e/qwik/README.md
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/.eslintignore
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/package.json
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/output/qwik/package.json
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/package.json
Owners: @BuilderIO/sdks

fixup! test: 💍 Add sdk-qwik e2e tests
  packages/sdks/output/qwik/yarn.lock
Owners: @BuilderIO/sdks

fix(utils): ENG-2834 fix the typo in method name
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/packages

fix(utils): ENG-2834 add localized field to the Input interface
  packages/core/src/builder.class.ts
Owners: @BuilderIO/sdks

fix typo and add new localized property (#1215)
  packages/core/src/builder.class.ts
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
Owners: @BuilderIO/sdks, @BuilderIO/packages

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
