Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/sdks, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

fix revalidate option
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/templates/nextjs/[...pages].jsx
  packages/cli/src/templates/nextjs/[...pages].tsx
Owners: @BuilderIO/packages

fix .gitignore
  packages/sdks/.prettierignore
Owners: @BuilderIO/sdks

update comments in templates files
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/templates/nextjs/[...pages].jsx
  packages/cli/src/templates/nextjs/[...pages].tsx
Owners: @BuilderIO/packages

fix for prettier
  packages/cli/src/templates/nextjs/[...pages].jsx
  packages/cli/src/templates/nextjs/[...pages].tsx
Owners: @BuilderIO/packages

allow {{}} expressions in rich text
  packages/react/src/blocks/Text.tsx
  packages/react/src/components/builder-component.component.tsx
  packages/react/src/functions/try-eval.tsx
Owners: @BuilderIO/sdks

use the correct state obj
  packages/react/src/blocks/Text.tsx
Owners: @BuilderIO/sdks

fix ts
  packages/react/package-lock.json
  packages/react/src/functions/try-eval.tsx
Owners: @BuilderIO/sdks

bump react version
  packages/react/package-lock.json
  packages/react/package.json
Owners: @BuilderIO/sdks

Update Builder.io + Next.js README
  examples/next-js/Readme.md
Owners: @BuilderIO/core-team

bump commerce plugin tools version
  packages/commerce-plugin-tools/package-lock.json
  packages/commerce-plugin-tools/package.json
Owners: @BuilderIO/packages

fix sveltekit example
  examples/svelte/sveltekit/package.json
  examples/svelte/sveltekit/src/app.html
  examples/svelte/sveltekit/yarn.lock
  examples/vue/vue-2/src/components/Builder/BuilderContent.vue
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

bump angular version and fix bug with tel / mailto urls
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/app/app.component.html
  packages/angular/src/app/modules/builder/components/builder-component/builder-component.component.ts
  packages/angular/yarn.lock
Owners: @BuilderIO/sdks

Handle hash links
  packages/angular/src/app/modules/builder/components/builder-component/builder-component.component.ts
Owners: @BuilderIO/sdks

Fixes for lint
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/app/app.component.html
  packages/angular/src/app/modules/builder/components/builder-component/builder-component.component.ts
  packages/angular/yarn.lock
Owners: @BuilderIO/sdks

Update and test examples
  examples/angular/package-lock.json
  examples/angular/package.json
  packages/angular/package-lock.json
  packages/angular/package.json
Owners: @BuilderIO/core-team, @BuilderIO/sdks

remove react types
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

output vue2 and vue3
  packages/sdks/.eslintrc.js
  packages/sdks/mitosis.config.js
Owners: @BuilderIO/sdks

use latest mitosis syntax
  packages/sdks/src/blocks/columns/columns.lite.tsx
  packages/sdks/src/blocks/custom-code/custom-code.lite.tsx
  packages/sdks/src/blocks/embed/embed.lite.tsx
  packages/sdks/src/blocks/form/form.lite.tsx
  packages/sdks/src/blocks/symbol/symbol.lite.tsx
  packages/sdks/src/components/render-block/block-styles.lite.tsx
  packages/sdks/src/components/render-block/render-block.lite.tsx
  packages/sdks/src/components/render-blocks.lite.tsx
  packages/sdks/src/components/render-content/components/render-styles.lite.tsx
  packages/sdks/src/components/render-content/render-content.lite.tsx
  packages/sdks/src/components/render-inlined-styles.lite.tsx
Owners: @BuilderIO/sdks

remove symlinks
  packages/sdks/package.json
  packages/sdks/yarn.lock
Owners: @BuilderIO/sdks

clarify cloudinary plugin development vs use
  plugins/cloudinary/README.md
Owners: @BuilderIO/plugins

spelling and doc link
  plugins/cloudinary/README.md
Owners: @BuilderIO/plugins

remove default path prefix, update name of catch all
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
  packages/cli/src/templates/nextjs/[...page].jsx
  packages/cli/src/templates/nextjs/[...page].tsx
Owners: @BuilderIO/packages

dev release
  packages/cli/package-lock.json
  packages/cli/package.json
Owners: @BuilderIO/packages

remove js/ts flag and read from cwd instead
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

format
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

add integrate command to the readme
  packages/cli/README.md
Owners: @BuilderIO/packages

Bump angular sdk version in example
  examples/angular/package-lock.json
  examples/angular/package.json
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/app/app.component.html
Owners: @BuilderIO/core-team, @BuilderIO/sdks

Update AngularSDK version to 2.2.0, update for Angular@14.0.0, fix bug with mailto, tel and hash links
  examples/angular/package-lock.json
  examples/angular/package.json
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/app/modules/builder/components/builder-component/builder-component.component.ts
  packages/angular/yarn.lock
Owners: @BuilderIO/core-team, @BuilderIO/sdks

add export for RenderBlocks component
  packages/sdks/src/index-helpers/blocks-exports.ts
Owners: @BuilderIO/sdks

add export for RenderBlocks component
  packages/sdks/src/index-helpers/blocks-exports.ts
Owners: @BuilderIO/sdks

add some better messaging
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

prettier
  packages/cli/src/index.ts
Owners: @BuilderIO/packages

add source in link that gets opened via the CLI
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

clean up success messaging
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

some more tweaks
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/integrate.ts
Owners: @BuilderIO/packages

[@builder.io/plugin-smartling] add a plugin for translating content with smartling
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/translation-helpers.test.ts
  packages/utils/src/translation-helpers.ts
  plugins/smartling/.gitignore
  plugins/smartling/.travis.yml
  plugins/smartling/CONTRIBUTING.md
  plugins/smartling/LICENSE
  plugins/smartling/README.md
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
  plugins/smartling/rollup.config.ts
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/plugin.ts
  plugins/smartling/src/type.d.ts
  plugins/smartling/tsconfig.json
  plugins/smartling/tslint.json
Owners: @BuilderIO/packages, @BuilderIO/plugins

readme and release patch
  plugins/smartling/README.md
  plugins/smartling/package-lock.json
  plugins/smartling/package.json
Owners: @BuilderIO/plugins

clean up
  plugins/smartling/README.md
  plugins/smartling/src/model-template.ts
  plugins/smartling/src/plugin-helpers.ts
  plugins/smartling/src/plugin.ts
  plugins/smartling/src/smartling.ts
Owners: @BuilderIO/plugins

ED-88: Cloudinary Plugin Docs Update (#1083)
  plugins/cloudinary/README.md
Owners: @BuilderIO/plugins

publish svelte sdk
  packages/sdks/output/svelte/package-lock.json
  packages/sdks/output/svelte/package.json
Owners: @BuilderIO/sdks

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# SDKs
## new-gen (Mitosis-built)
/packages/sdks/ @BuilderIO/sdks
## old-gen
/packages/react/ @BuilderIO/sdks
/packages/vue/ @BuilderIO/sdks
/packages/angular/ @BuilderIO/sdks
/packages/core/ @BuilderIO/sdks


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
