Repository BuilderIO/builder, changes with the owners that CODEOWNERS names for each.
All owners: @BuilderIO/core-team, @BuilderIO/packages, @BuilderIO/plugins, @BuilderIO/starters, @BuilderIO/mitosis, @BuilderIO/e-commerce-plugins, @BuilderIO/cms-plugins

feature(gatsby): add useCache config
  packages/gatsby/src/builder-config.js
Owners: @BuilderIO/packages

chore(gatsby): publish
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

chore(gatsby): publish
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

add nvmrc
  packages/gatsby/.nvmrc
Owners: @BuilderIO/packages

add jsdoc types
  packages/gatsby/src/gatsby-node.js
Owners: @BuilderIO/packages

add types and fix missing vars
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-node.js
  packages/gatsby/tsconfig.json
Owners: @BuilderIO/packages

remove comment
  packages/gatsby/tsconfig.json
Owners: @BuilderIO/packages

remove shopify gif from readme
  plugins/bigcommerce/README.md
  plugins/commercetools/README.md
  plugins/elasticpath/README.md
  plugins/magento2/README.md
  plugins/swell/README.md
  plugins/vtex/README.md
Owners: @BuilderIO/cms-plugins, @BuilderIO/plugins, @BuilderIO/e-commerce-plugins

remove shopify gif from readme (#694)
  plugins/bigcommerce/README.md
  plugins/commercetools/README.md
  plugins/elasticpath/README.md
  plugins/magento2/README.md
  plugins/swell/README.md
  plugins/vtex/README.md
Owners: @BuilderIO/cms-plugins, @BuilderIO/plugins, @BuilderIO/e-commerce-plugins

chore(gatsby): update var, publish
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
  packages/gatsby/src/gatsby-node.js
Owners: @BuilderIO/packages

update example
  examples/gatsby-minimal-starter/gatsby-config.js
  examples/gatsby-minimal-starter/package-lock.json
  examples/gatsby-minimal-starter/package.json
Owners: @BuilderIO/core-team

publish
  packages/gatsby/package-lock.json
  packages/gatsby/package.json
Owners: @BuilderIO/packages

add react native design system example
  examples/react-native-design-system/.expo-shared/assets.json
  examples/react-native-design-system/.gitignore
  examples/react-native-design-system/.nvmrc
  examples/react-native-design-system/App.tsx
  examples/react-native-design-system/README.md
  examples/react-native-design-system/app.json
  examples/react-native-design-system/assets/adaptive-icon.png
  examples/react-native-design-system/assets/favicon.png
  examples/react-native-design-system/assets/icon.png
  examples/react-native-design-system/assets/splash.png
  examples/react-native-design-system/babel.config.js
  examples/react-native-design-system/components/Card.tsx
  examples/react-native-design-system/components/CollectionCard.tsx
  examples/react-native-design-system/components/ProductCard.tsx
  examples/react-native-design-system/components/RenderBuilderScreen.tsx
  examples/react-native-design-system/components/Video.tsx
  examples/react-native-design-system/package-lock.json
  examples/react-native-design-system/package.json
  examples/react-native-design-system/tsconfig.json
  examples/react-native-design-system/typings.d.ts
Owners: @BuilderIO/core-team

fix(react-native-sdk): bring back override
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
  packages/sdks/overrides/react-native/src/index.ts
  packages/sdks/package-lock.json
  packages/sdks/package.json
Owners: @BuilderIO/mitosis

chore(react-native-sdk): publish
  packages/sdks/output/react-native/package-lock.json
  packages/sdks/output/react-native/package.json
Owners: @BuilderIO/mitosis

chore(rn-example): udpate package
  examples/react-native/package-lock.json
  examples/react-native/package.json
Owners: @BuilderIO/core-team

Afosto plugin to retrieve data from a webshop
  plugins/afosto/.gitignore
  plugins/afosto/.travis.yml
  plugins/afosto/CONTRIBUTING.md
  plugins/afosto/LICENSE
  plugins/afosto/README.md
  plugins/afosto/package-lock.json
  plugins/afosto/package.json
  plugins/afosto/rollup.config.ts
  plugins/afosto/src/plugin.tsx
  plugins/afosto/tools/gh-pages-publish.ts
  plugins/afosto/tools/semantic-release-prepare.ts
  plugins/afosto/tsconfig.json
  plugins/afosto/tslint.json
Owners: @BuilderIO/plugins

remove demo packages update readme update package-lock
  plugins/afosto/README.md
  plugins/afosto/package-lock.json
  plugins/afosto/package.json
Owners: @BuilderIO/plugins

chore(vue-nuxt): update package-lock.json
  examples/vue-nuxt/package-lock.json
  examples/vue-nuxt/package.json
Owners: @BuilderIO/core-team

chore(sdks): remove solid folder
  packages/sdks/output/solid/package-lock.json
  packages/sdks/output/solid/package.json
Owners: @BuilderIO/mitosis

fix(sdks): vue package.json exports
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/mitosis

chore(sdk-vue): publish
  packages/sdks/output/vue/package-lock.json
  packages/sdks/output/vue/package.json
Owners: @BuilderIO/mitosis

chore(vue-storefront): add builder sdk
  examples/vue/vue-storefront/.nvmrc
  examples/vue/vue-storefront/components/HelloWorld.vue
  examples/vue/vue-storefront/nuxt.config.js
  examples/vue/vue-storefront/package.json
  examples/vue/vue-storefront/pages/Home.vue
  examples/vue/vue-storefront/pages/init-builder.ts
  examples/vue/vue-storefront/shims-builder.d.ts
  examples/vue/vue-storefront/shims-vue.d.ts
  examples/vue/vue-storefront/yarn.lock
Owners: @BuilderIO/core-team

chore(vue-nuxt): update sdk
  examples/vue-nuxt/package-lock.json
  examples/vue-nuxt/package.json
Owners: @BuilderIO/core-team

chore(examples): fix sdk version
  examples/vue-nuxt/package.json
  examples/vue/vue-storefront/package.json
  examples/vue/vue-storefront/yarn.lock
Owners: @BuilderIO/core-team

Update README.md
  examples/vue/vue-storefront/README.md
Owners: @BuilderIO/core-team

Update README.md
  examples/vue/vue-storefront/README.md
Owners: @BuilderIO/core-team

fix(sdks): ENG-2037: seeded classnames for vue
  packages/sdks/mitosis.config.js
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/package-lock.json
  packages/sdks/package.json
Owners: @BuilderIO/mitosis

chore(sdks): add nvmrc
  packages/sdks/.nvmrc
Owners: @BuilderIO/mitosis

chore(sdks): remove redundant version field
  packages/sdks/package.json
Owners: @BuilderIO/mitosis

chore(sdks): add symlink scripts
  packages/sdks/package-lock.json
  packages/sdks/package.json
Owners: @BuilderIO/mitosis

refactor(sdks): use optional chaining
  packages/sdks/src/components/render-content.lite.tsx
Owners: @BuilderIO/mitosis

update main file in some plugins
  plugins/algolia/package.json
  plugins/cloudinary/package.json
  plugins/contentstack/package.json
  plugins/shopify-demo/package.json
  plugins/shopify/package.json
  plugins/swell/package.json
Owners: @BuilderIO/plugins, @BuilderIO/cms-plugins, @BuilderIO/e-commerce-plugins

feature(sdks): add col breakpoints
  packages/sdks/output/react-native/src/blocks/columns.lite.tsx
  packages/sdks/output/react-native/src/blocks/form.lite.tsx
  packages/sdks/output/react-native/src/components/render-content.lite.tsx
  packages/sdks/output/vue/nuxt2/src/blocks/columns.vue
  packages/sdks/output/vue/nuxt2/src/blocks/form.vue
  packages/sdks/output/vue/nuxt2/src/blocks/image.vue
  packages/sdks/output/vue/nuxt2/src/components/render-blocks.vue
  packages/sdks/output/vue/nuxt2/src/components/render-content.vue
  packages/sdks/src/blocks/columns.lite.tsx
Owners: @BuilderIO/mitosis

release with updated main entry
  plugins/algolia/package-lock.json
  plugins/algolia/package.json
  plugins/cloudinary/package-lock.json
  plugins/cloudinary/package.json
  plugins/contentstack/package-lock.json
  plugins/contentstack/package.json
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
  plugins/swell/package-lock.json
  plugins/swell/package.json
Owners: @BuilderIO/plugins, @BuilderIO/cms-plugins, @BuilderIO/e-commerce-plugins

contentful as well
  plugins/contentful/package-lock.json
  plugins/contentful/package.json
Owners: @BuilderIO/cms-plugins

also dev release for shopify
  plugins/shopify/package-lock.json
  plugins/shopify/package.json
Owners: @BuilderIO/e-commerce-plugins

add main to elasticpath
  plugins/elasticpath/package-lock.json
  plugins/elasticpath/package.json
Owners: @BuilderIO/plugins

release packages with main
  plugins/commercejs/package-lock.json
  plugins/commercejs/package.json
  plugins/commercetools/package-lock.json
  plugins/commercetools/package.json
  plugins/sfcc-sync/package-lock.json
  plugins/sfcc-sync/package.json
Owners: @BuilderIO/cms-plugins, @BuilderIO/e-commerce-plugins

release the rest of no main packages
  plugins/async-dropdown/package-lock.json
  plugins/async-dropdown/package.json
  plugins/bigcommerce/package-lock.json
  plugins/bigcommerce/package.json
  plugins/magento2/package-lock.json
  plugins/magento2/package.json
  plugins/vtex/package-lock.json
  plugins/vtex/package.json
Owners: @BuilderIO/plugins, @BuilderIO/cms-plugins, @BuilderIO/e-commerce-plugins

CODEOWNERS:

# catch-all group
* @BuilderIO/core-team

# General groups
/packages/ @BuilderIO/packages
/plugins/ @BuilderIO/plugins
/starters/ @BuilderIO/starters

#### Project-specific groups

# Mitosis
/packages/sdks/ @BuilderIO/mitosis


# E-commerce plugins
/plugins/magento2/ @BuilderIO/e-commerce-plugins
/plugins/sfcc-sync/ @BuilderIO/e-commerce-plugins
/plugins/swell/ @BuilderIO/e-commerce-plugins
/plugins/shopify/ @BuilderIO/e-commerce-plugins
/plugins/vtex/ @BuilderIO/e-commerce-plugins
/plugins/bigcommerce/ @BuilderIO/cms-plugins
/plugins/commercejs/ @BuilderIO/cms-plugins
/plugins/commercetools/ @BuilderIO/cms-plugins


# CMS plugins
/plugins/contentful/ @BuilderIO/cms-plugins
/plugins/contentstack/ @BuilderIO/cms-plugins
